.car-panel{ background: #fff;  margin-bottom: 0; }
.car-panel .form-normal{ margin: 10px -5px 0; }
.car-panel .panel{padding: 0;}
.car-panel .panel.panel-default.panel-form{margin: 0; text-align: right;}
.main-panel .row.car-panel .form-normal .form-content{ margin: 0 -20px; }
.main-panel .car-panel .row.form-normal .form-content{margin: 0 -10px;}
.car-panel .panel{border: 0;}
.car-panel .panel.panel-default.panel-form .form-td{ display: inline-block; float: none; border:1px solid #ddd; margin-left: -1px; max-width: 200px;}
.car-panel .panel.panel-default.panel-form .row-close{border: none;  background: none; }
.car-panel .panel.panel-default.panel-form .control-label{ text-align: left; width: 60px;}
.car-panel .form-normal .row > .col-sm-12 .panel-form{padding: 0;}
.car-panel .searchBtn-content{padding: 10px;}
.car-panel .panel-body{padding-top: 10px;}
.car-panel .searchForm-content{padding: 5px;}
.car-panel .form-group .form-item.checkbox label.checkbox-inline{float: left; width: 45px;}
.form-normal.panel,	
.form-normal .panel{padding:0}
.form-normal .panel-body{padding-right:0px; padding-top: 10px;}
.form-normal .panel-body form.standard{ width: 100%; }
.form-normal .form-content .panel{margin-bottom: 10px;}
.tips-panel{ color:#666; padding:10px 0 8px; margin: 0 -15px; }
.tips-panel a.btn{ margin-bottom: 4px; padding:3px 5px; border:0;}
.tips-panel a.btn.btn-link{text-decoration: underline;}
.tips-panel a.btn.btn-default{ background: none; border:1px solid #ccc;}
.tips-panel a.btn.btn-default:hover{background: #fff;}
.form-normal.form-content .panel.panel-default.panel-form{margin: 0;}
/*-------------着陆页面------------*/
.car-panel-more{width: 30px; height: 30px; line-height: 30px; float: right;}
.car-panel-more:after{font-family: "FontAwesome"; position: absolute; content: "\f141"; font-size: 14px; right: 10px; color: #a9a9a9; z-index: 9; right: 20px; }
.car-panel-list {margin: 0; padding: 0; position: relative;}
.car-panel-list li{ list-style: none; }
.car-panel-list li a{ font-size: 12px; padding: 6px 10px;  text-decoration: none; display: block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; position: relative;}
.car-panel-list li a:after{content: ""; position: absolute; width: 100%; height: 1px; background: #f0f0f0; left: 0; bottom: 0;}
.car-panel-list li a:hover{background: #f0f0f0;}
.car-panel-list h6{font-weight: bold; margin: 3px 0;}

/*-------------gridview------------*/
.car-panel .gridview{}
.car-panel .gridview h3.nspanel-title{padding:0 15px; position: relative;}
.car-panel .gridview h3.nspanel-title:before{height: 1px; width: 100%; content: ""; background: #eee; position: absolute; left: 0; top: -20px; color: #333;}
.car-panel .gridview h3.nspanel-title:after{height: 1px; width: 100%; content: ""; background: #eee; position: absolute; left: 0; bottom: -10px; color: #333;}
.car-panel .gridview a{display: block; margin: 30px 0;}
.car-panel .gridview a i,
.car-panel .gridview a span{display: block; text-align: center; padding: 10px;}
.car-panel .gridview a i{font-size:56px; width: 96px; height: 96px; line-height: 80px; margin: 0 auto;  color: #5f92c3; background: #cde7ff; border-radius: 10px;}
.car-panel .gridview a i:hover{ background: #b1daff; }
.car-panel .gridview a:focus{ text-decoration: none; }
.car-panel .gridview .arrow-top,
.car-panel .gridview .arrow-right,
.car-panel .gridview .arrow-bottom,
.car-panel .gridview .arrow-right{ position: relative; color: #a9a9a9; }
.car-panel .gridview .arrow-top:after{ font-family: "FontAwesome"; position: absolute; content: "\f175"; right: 50%; top: 0; font-size: 24px; margin:-47px -6px 0 0;}
.car-panel .gridview .arrow-right:after{ font-family: "FontAwesome"; position: absolute; content: "\f178"; right: 0; top: 50%; font-size: 24px; margin:-24px -27px 0 0;}
.car-panel .gridview .arrow-bottom:after{ font-family: "FontAwesome"; position: absolute; content: "\f176"; left: 50%; bottom: 0; font-size: 24px; margin:0 0 -47px -6px;}
.car-panel .gridview .arrow-left:after{ font-family: "FontAwesome"; position: absolute; content: "\f177"; left: 0; top: 50%; font-size: 24px; margin:-12px 0 0 -12px;}

/*-------------价格设置------------*/
.frame-standard .form-horizontal{margin: -15px;}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close{border:0; background: #fff;}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n-1){position: relative;}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n-1):before{position: absolute; content: ""; height: 1px; width: 100%; background: #ddd; left: 0px; top: -1px;}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n-1):after{position: absolute; content: ""; height: 100%; width: 1px; background: #ddd; right: 0px; top:0px;}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n-1) .form-group label.control-label{position: relative;}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n-1) .form-group label.control-label:before{position: absolute; content: ""; height: 100%; width: 1px; background: #ddd; left: 0px; top:0px;}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n){border-color: #fff; position: relative; padding:0;}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n):before{position: absolute; content: "X"; color: #666; left: 16px; top: 7px;}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n):after{position: absolute; content: "%"; color: #666; left: 124px; top: 7px;}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n) .form-group label.control-label{background: none; display: none; }
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n) .form-group .form-control{ border:1px solid #ddd; width: 80px; margin: -1px 40px; height: 32px;}
/*-------------系统参数设置------------*/
.frame-standard .form-horizontal .panel-form .row.row-close{border:0; background: #fff;}
.frame-standard .form-horizontal .radio, 
.frame-standard .form-horizontal .checkbox, 
.frame-standard .form-horizontal .radio-inline, 
.frame-standard .form-horizontal .checkbox-inline{padding-top: 0;}
.frame-standard .form-horizontal .panel-form .row.row-close .form-td{position: relative; clear:both;}
.frame-standard .form-horizontal .panel-form .row.row-close .form-td:before{position: absolute; content: ""; width: 100%; height: 1px; background: #ddd; left: 0; top: -1px; z-index: 9;}
.frame-standard .form-horizontal .panel-form .row.row-close .form-td:after{position: absolute; content: ""; width: 1px; height: 100%; background: #ddd; right: 0; top: 0px;}
.frame-standard .form-horizontal .panel-form .row.row-close .form-td .form-group label.control-label{position: relative; text-align: right;}
.frame-standard .form-horizontal .panel-form .row.row-close .form-td .form-group label.control-label:before{position: absolute; content: ""; width: 1px; height: 100%; background: #ddd; left: 0px; top: 0;}
.frame-standard .form-horizontal.sysinfo  .panel-form .row.row-close .form-td .form-group .form-control{position: relative;}
.frame-standard .form-horizontal.sysinfo  .panel-form .row.row-close .form-td:nth-child .form-group .form-control:before{position: absolute; content: ""; width: 100%; height: 1px; background: #ddd; left: 0px; top: 0;}
.frame-standard .form-horizontal.sysinfo .panel-form .row.row-close .form-td:nth-child(1) .form-group .form-control:after{ position: absolute; content: "例如：￥1.000"; right: 30px; line-height: 30px; color: #999; }
.frame-standard .form-horizontal.sysinfo .panel-form .row.row-close .form-td:nth-child(2) .form-group .form-control:after{ position: absolute; content: "例如：￥1.000"; right: 30px; line-height: 30px; color: #999; }
.frame-standard .form-horizontal.sysinfo .panel-form .row.row-close .form-td:nth-child(3) .form-group .form-control:after{ position: absolute; content: "例如：￥1.00000"; right: 30px; line-height: 30px; color: #999; }
.frame-standard .form-horizontal.sysinfo .panel-form .row.row-close .form-td:nth-child(4) .form-group .form-control:after{ position: absolute; content: "例如：￥1.00"; right: 30px; line-height: 30px; color: #999; }
.frame-standard .form-horizontal.sysinfo .panel-form .row.row-close .form-td:nth-child(5) .form-group .form-control:after{ position: absolute; content: "例如：1.000"; right: 30px; line-height: 30px; color: #999; }

/*-------------查看库存------------*/
.frame-standard .nspop-container .nswindow.main-content .pop-dialog-bottom{position: relative; overflow: hidden;}
.frame-standard .nspop-container .nswindow.main-content .pop-dialog-bottom .table-hide{position: absolute; left: 15px; bottom: 0; width: 100%; z-index: 9;}
.frame-standard .nspop-container .nswindow.main-content .pop-dialog-bottom .table-hide .panel{padding-top: 0;}
.frame-standard .nspop-container .nswindow.main-content .pop-dialog-bottom .table-hide .panel .panel-body{padding-top: 0;}
.frame-standard .nspop-container .nswindow.main-content .pop-dialog-bottom .table-hide .panel .panel-body:before{display: none;}

/*-------------款额------------*/
.frame-standard .row.quota-panel{position: absolute; right: 35px; top: 60px; background: none; height: 44px; line-height: 44px;}
.frame-standard .row.quota-panel .form-quota{ font-size: 13px; display: inline-block; color: #4a4a4a; text-align: right; margin-left: 30px;}
.frame-standard .row.quota-panel .form-quota label{margin: 0; font-weight: bold;}

/*印章*/
.td-seal{margin: 0; padding: 0; height: 14px; text-align: center;}
.fa-seal1,
.fa-seal2,
.fa-seal3{position: relative; width: 14px; height: 14px; display: inline-block; margin: 0 2px;}
.fa-seal1:before,
.fa-seal2:before,
.fa-seal3:before{position: absolute; font-family:'FontAwesome'; content: "\f276"; left: 3px; top: 0px; font-size: 14px; }
.fa-seal1:after,
.fa-seal2:after,
.fa-seal3:after{content: ""; position: absolute; width: 12px; height: 4px; top: 10px; left: 1px;  border-radius: 2px;}
.fa-seal1:before{color:#8dc63f;}
.fa-seal1:after{background: #8dc63f;}
.fa-seal2:before{color:#40bbea;}
.fa-seal2:after{background: #40bbea;}
.fa-seal3:before{color:#cc3f44;}
.fa-seal3:after{background: #cc3f44;}

