.frame-standard .nstable-panel {
	display: table;
	width: 100%;
	margin-bottom: 10px;
	border-collapse: separate;
}

.frame-standard .nstable-panel .nspanel-title {
}

.frame-standard .nstable-panel .nspanel-title h4 {
	display: inline;
}

.frame-standard .nstable-panel .nspanel-title a.panel-more {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	position: relative;
}

.frame-standard .nstable-panel .nspanel-title a.panel-more:after {
	position: absolute;
	font-family: "FontAwesome";
	content: "\f141";
	font-size: 14px;
	right: 10px;
	color: #a9a9a9;
	z-index: 9;
	right: 5px;
}

.frame-standard .nstable-panel .nstable-cell {
	display: table-cell;
	float: none;
	background: #fff;
}

.frame-standard .nstable-panel .nstable-cell ul {
	padding: 0;
}

.frame-standard .nstable-panel .nstable-cell li {
	list-style: none;
}

.frame-standard .nstable-panel .nstable-cell li a {
	border-bottom: 1px solid #eee;
	display: block;
	padding: 0 10px;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	word-break: break-all;
}

.frame-standard .nstable-panel .nstable-cell li a:hover {
	background: #f8f8f8;
}