.pt-badge{
    &.pt-badge-primary{
        color: @primary;
    }
    &.pt-badge-success{
        color: @success;
    }
    &.pt-badge-warning{
        color: @warning;
    }
    &.pt-badge-danger{
        color: @danger;
    }

}