// btn-default
@btn-default-color: @gray-dark;
@btn-default-bg: #fff;
@btn-default-border: @border-color;

// btn-primary
@btn-primary-color: #fff;

// btn-success
@btn-success-color: #fff;


// btn-info
@btn-info-color: #fff;


// btn-warning
@btn-warning-color: #fff;


// btn-danger
@btn-danger-color: #fff;


.pt-btn-default {
    // 特定按-默认default色调，鼠标经过为副色
    &:hover,
    .open>.dropdown-toggle& {
        color: #fff;
        background-color: @primary;
        border-color: @primary;
        i{
            color: #fff;
        }
    }
   
}


//btn-primary
.pt-btn-primary {
    .button-variant(@btn-primary-color, @btn-primary-bg, @btn-primary-border);
}