@modal-header-bg: @bg-primary;
@modal-body-bg: @bg-primary;
@modal-footer-bg: @primary;

@window-control-color: lighten(@primary, 30);
@window-control-hover-color: @warning;
// 模态框头部样式
.pt-modal-header{
    background: @modal-header-bg;
}
// 模态框中间内容样式
.pt-modal-body{
    background: @modal-body-bg;
    border-top: 1px solid #fff;
}
// 模态框底部样式
.pt-modal-footer{
    background: @modal-footer-bg;
}
