@select2-list-resault-bg: @input-group-btn-bg;
@select2-list-bg: #f5f5f5;
@select2-list-color: @gray-darker;
@select2-selection__arrow-hover-bg: @select2-list-resault-bg;

.select2-container--default{
    .select2-selection--single{
        .pt-form-normal &{
            border: 0;
            border-bottom: 1px solid @form-border;
            background: transparent;
            box-shadow: none;
        }

        .pt-grid-footer &{
            border: 1px solid @form-border;
        }
    }
    .select2-results__option[aria-selected=true]{
        background: @select2-list-resault-bg;
    }
}