.pt-tree{
    width: auto;
    border: 0;
    background: none;
    .businessdatabase-tree-ztree{
        // margin-left: 20px;
        background: #fff;
        border: 1px solid @border-color;
    }

    .ztree{
        border-top-width: 2px;
    }
}