body {

    &,
    &.body-sm {
        font-size: 12px;

        // 默认
        .pt-main-col {
            min-width: @main-col-minwidth-sm;
        }

        //没有最小宽度
        .pt-main {
            .pt-main-row {
                .pt-main-col {
                    &.limsreg-left {
                        flex: auto;

                        &.processdocbaselevel2-left {
                            flex: 1;
                        }
                    }
                }
            }
        }

        .pt-title {
            padding: 0 0 @base-padding 0;

            h4 {
                font-size: @font-size-base;
            }
        }

        //////////=======form
        .pt-form {
            .form-base();
        }

        .pt-btn {
            .pt-btn-base();

            &.pt-btn-icon {
                .pt-btn-icon-base();
            }
        }

        //////////=======列表
        .pt-list {
            .pt-list-size-base();
        }

        //////////=======表格

        .pt-grid-body {
            table.pt-grid {
                tbody {
                    tr {
                        td {
                            .td-sm();
                        }
                    }
                }
            }

            .pt-grid-body-head {
                table.pt-grid {
                    .first-table-sm();
                }
            }

            .pt-grid-body-container,
            .pt-grid-body-footer {
                table.pt-grid {
                    .table-sm();
                }
            }
        }
    }

    // 中号
    &.body-md {
        font-size: @font-size-base;

        .pt-main-col {
            min-width: @main-col-minwidth-md;
        }

        .pt-title {
            padding: 0 0 @base-padding 0;

            h4 {
                font-size: @font-size-md;
            }
        }

        //没有最小宽度
        .pt-main {
            .pt-main-row {
                .pt-main-col {
                    &.limsreg-left {
                        flex: auto;
                    }
                }
            }
        }

        //////////=======form
        .pt-form {
            .form-md();
        }

        // 按钮组
        .pt-btn {
            .pt-btn-md();

            &.pt-btn-icon {
                .pt-btn-icon-md();
            }
        }

        //////////=======列表
        .pt-list {
            .pt-list-size-md();
        }

        //////////=======列表
        .pt-grid-body {
            table.pt-grid {
                tbody {
                    tr {
                        td {
                            .td-md();
                        }
                    }
                }
            }

            .pt-grid-body-head {
                table.pt-grid {
                    .first-table-md();
                }
            }

            .pt-grid-body-container,
            .pt-grid-body-footer {
                table.pt-grid {
                    .table-md();
                }
            }
        }
    }

    // 大号
    &.body-lg {
        font-size: @font-size-md;

        .pt-main-col {
            min-width: @main-col-minwidth-lg;
        }

        .pt-title {
            padding: 0 0 @base-padding 0;

            h4 {
                font-size: @font-size-md;
            }
        }

        //没有最小宽度
        .pt-main {
            .pt-main-row {
                .pt-main-col {
                    &.limsreg-left {
                        flex: auto;
                    }
                }
            }
        }

        //////////=======form
        // control-label
        .pt-form {
            .form-lg();
        }

        // 按钮组
        .pt-btn {
            .pt-btn-lg();

            &.pt-btn-icon {
                .pt-btn-icon-lg();
            }
        }

        //////////=======列表
        .pt-list {
            .pt-list-size-lg();
        }

        //////////=======列表
        .pt-grid-body {
            table.pt-grid {
                tbody {
                    tr {
                        td {
                            .td-lg();
                        }
                    }
                }
            }

            .pt-grid-body-head {
                table.pt-grid {
                    .first-table-lg();
                }
            }

            .pt-grid-body-container,
            .pt-grid-body-footer {
                table.pt-grid {
                    .table-lg();
                }
            }
        }

    }

}