@nav-item-padding: @base-padding;
.pt-nav{
    display: block;
    li{
        float: left;
        a{
            text-align: center;
            padding: 0 @nav-item-padding;
            display: block;
        }
        i{
            padding: 0 @base-padding-sm;
        }
    }
}

