.block-tags{
	.row{
		.block-tags-content{
			border-color: @ns-border-color;
			select{
				background: lighten(@ns-border-color, 5%);
				border-color: transparent;
				color: @gray-light;
			}
		}
	}
}