
.skin-peis{
	.btn{
		padding-right: @base-padding;
		padding-left: @base-padding;
		&.btn-white{
			i{
				color: #888;
			}
		}
	}
}

.btn{
	i{
		.page-button-enlarge &,
		.content-enlarge &{
			font-size: @font-size-base;
		}

	}
	span{
		.page-button-enlarge &,
		.content-enlarge &{
			font-size: @font-size-base;
		}
	}
}