.panel {
    position: relative;
    border: 0;
    margin-bottom: @ns-height /2;
    padding: 0;
    border-style: none;
    background: #fff;
    box-shadow: none;
    &.panel-form {
        margin-bottom: 0;
    }
    >.panel-body {
        margin: 0;
        padding: 0;
        color: @gray;
    }
}
.form-content {
    //margin: 0;
    .nspanel-control {
        .panel {
            padding: 0;
        }
    }
    .nav-form {
        .nav-title {
            font-size: 16px;
        }
    }
}
.nswindow {

    & .page-title.nav-form {
        // position: absolute;
        // right: 0;
        // bottom: 0;
        // left: 0;
        // padding: 0 @base-padding;
        // text-align: right;
        z-index: 98;
        .btn-group {
            display: inline-block;
            float: none;
        }
    }
    &.container-form-btns{
       position: static; 
    }

    .selectboxit-container{
        .selectboxit-options{
            z-index: 1061;
        }
    }
}