@base-padding: 2rem;
// 列表
.pt-block-content {
   background: #fff;
   margin-top: 0.5rem;
   padding: (@base-padding - 1) @base-padding @base-padding @base-padding;
   display: flex;
   justify-content: center;
   align-items: center;
   .block-list-item {
      .block-list-item-text {
         // padding: 0.5rem 0;
         justify-content: flex-start;
         .title {
            
            label {
               padding: 0.2rem 0.8rem;
               background: rgba(80,118,183,0.5);
               color:#fff;
               border-radius: 0.4rem;
            }
         }
         &.flex-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
         }
      }
      .block-list-item-text + .block-list-item-text{
         margin-top: 1rem;
      }
   }
}

&.text-gray {
   color: #b0b0b0;
}
&.weight {
   font-weight: 600;
   font-size: 16px;
}



// 装箱
container.padding-top-header{
   padding-top: 0;
}
container{
   &.padding-top-header{
      padding-top: 0;
      .doclistviewermobile{
         .nspanel-container{
            padding-top: 0;
         }
      }
      .listmobile{
         .nspanel-container{
            padding-top: 0;
         }
      }
      
   }
}
