
@close-bg-size: 2px;
@close-bg-zoom: 15;
.pt-close{
    // float: right;
    .pt-btn{
        background: transparent;
        position: relative;
        border-radius: 100px !important;
        .transition(.35s);
        // &:after{
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     .square(@close-bg-size);
        //     z-index: -1;
        //     margin: -1px;
        //     content: '';
        //     background: transparent;
        //     transition: ease-in-out all .35s;
        //     border-radius: (@close-bg-size * @close-bg-zoom);
        // }
        &:hover{
            background: @warning;
            transform: rotate(180deg);
            color: #fff;
        }
    }
}