@cubes-input-th-bg: @table-thead-bg;
.pt-cubes-input{
    .pt-grid{
        border: 1px solid @table-border-color;
        th,
        td{
            font-size: 12px;
            font-weight: normal;
            position: relative;

            .pt-form-control{
                border: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: transparent;
            }
        }

        th{
           background: @cubes-input-th-bg;
           text-align: center;
        }
        td{
            background: #fff;
            &:first-child{
                background: #fff;
            }
        }
    }
}