@dictionary-label-bg: @gray-lighter;
.dictionary{
    span{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    label{
        display: inline-block;
        background: @dictionary-label-bg;
        min-width: auto;
        margin-right: @base-margin-sm;
        margin-bottom: 0;
        border: 1px solid @border-color;
        .padding-xs();
    }
}