
.pt-netstar-download{
    .pt-modal-content{
        background: -webkit-linear-gradient(#3d94ff, #6abbff);
        /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(#3d94ff, #6abbff);
        /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(#3d94ff, #6abbff);
        /* Firefox 3.6 - 15 */
        background: linear-gradient(#3d94ff, #6abbff);
        /* 标准的语法 */
        .pt-modal-header{
            background: transparent;
            border: none;
            padding: 0;
            .pt-title{
                display: none;
            }
            .pt-close{
                width: 26px;
                height: 26px;
                line-height: 26px;
                color: #fff;
                text-align: center;
                background-color: #3176cc;
                .pt-btn{
                    width: 26px;
                    height: 26px;
                    line-height: 26px;
                    &:hover {
                        background:#3176cc;;
                        transform: rotate(180deg);
                        color: #fff;
                    }
                }
            }
        }

        .pt-modal-body{
            background-color: transparent;
            padding-top: 40px;
            .netstar-download-content {
                margin: 0 auto;
                text-align: center;
                color: #fff;
                .title{
                    font-size:18px;
                    letter-spacing:8px;
                    padding: 20px 0 55px 0;
                }
                .pt-btn-group {
                    .pt-btn{
                        padding: 0 40px;
                        height: 44px;
                        line-height: 44px;
                        font-size: 18px;
                        border-radius: 22px;
                        border:none;
                        box-shadow:0 3px 6px rgba(0, 0, 0, 0.25);
                        &:hover{
                            background-color: #fff;
                        }
                        span{
                            font-size: 18px;
                            color: #3e95ff;
                        }
                    }
                }
            }
        }

        .pt-modal-footer{
            background-color: #4b9fff;
            .pt-window-control:after{
                display: none;
            }
        }
    }
}
