@label-margin-bottom: @base-margin-sm;
label {

    display: inline-block;
    // min-width: 100%;
    margin-bottom: @label-margin-bottom;
    font-weight: bold;

    &.pt-control-label {
        margin-bottom: @label-margin-bottom;
        font-weight: normal;
    }
}