.page-error{
    width: 600px;
    margin:50px auto;
    .error-img{
        margin: 0 auto;
        text-align: center;
        vertical-align:middle;
    }
    .page-error-content{
        margin: 0 auto;
        display: table;
        vertical-align:middle;
        .page-error-col{
            display: table-cell;
            vertical-align:middle;
            padding: 0 10px;
        
            // H1{
            //     font-size:4.5em;
            //     color:#262626;
            //     line-height: 1;
            //     padding: 0;
            //     margin:0;
            //     border-right: 1px solid #e9e9e9;
            //     padding-right: 10px;
            //     text-align: center;
            // }
            .page-error-detail{
                font-size: 2em;
                text-align:left;
                line-height:2;
                color: #333;
            }
            p{
                a{
                    margin: 0 5px;
                }
            }
            .bs-example{
                margin: 10px auto;
                text-align: center;
                span{
                    font-size: 1.2em;
                    font-weight: normal!important;
                    height: 24px;
                    vertical-align: middle;
                    line-height: 24px;
                    color: #666;
                }
                .pt-btn-success {
                    padding: 0 12px;
                    background-color: #fff;
                    border:1px solid #2fc33d;
                    color: #2fc33d;
                    box-shadow: none;
                    border-radius: 15px;
                }
                
                .pt-btn-success:hover,
                .pt-btn-success:active{
                    background-color: #2fc33d;
                    border:1px solid #2fc33d;
                    color: #fff;
                }
            }
        }
    }
} 

