@scrollbar-width: 8px;
//scroll bar
&::-webkit-scrollbar {
    position: absolute;
    width: @scrollbar-width;
}
&::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 0 !important;
    // -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    cursor: pointer;
    background: rgba(0,0,0, .15) !important;
    &:hover{
        background: rgba(0,0,0,.25) !important;
    }
}
&::-webkit-scrollbar-track {/*滚动条里面轨道*/
    // -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    border-radius: 0;
    background: rgba(0,0,0, .1);
}