// 文本对齐方式

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}


// 文本颜色
.text-primary{
    color: @primary;
}
.text-info{
    color: @info;
}
.text-success{
    color: @success;
}
.text-warning{
    color: @warning;
}
.text-error,
.text-danger{
    color: @danger;
}

.pt-components-title{
   font-size: @font-size-base;
   margin:(@base-margin - 2px) 0; 
}