textarea.pt-form-control {
    white-space: normal;

    .pt-form & {
        height: auto;
    }

    &:hover,
    &:focus {
        border: 1px solid @warning;
        .form-shadow();
        .transition();
    }

    .pt-form-vertical & {
        width: 100%;
    }
}