.pt-title {
    display: inline-block;
    .title-variant(@font-size){
        font-size: @font-size;
        line-height: @font-size;
        font-weight: normal;
        display: inline-block;
    }
    h1,
    h1+span {
        .title-variant(@font-size-h1);
    }

    h2,
    h2+span {
        .title-variant(@font-size-h2);
    }

    h3,
    h3+span {
        .title-variant(@font-size-h3);
    }

    h4,
    h4+span {
        .title-variant(@font-size-h4);
    }

    h5,
    h5+span {
        .title-variant(@font-size-h5);
    }

    h6,
    h6+span {
        .title-variant(@font-size-h6);
    }
}