@pt-setting-icon-size: @topbar-height;


// 页面设置按钮
.pt-setting-icon{
    .square(@pt-setting-icon-size);
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
    .icon{
        color: @header-color-dark;
        line-height: @pt-setting-icon-size;
    }
    &:hover{
        .icon{
            color: darken(@header-color-dark, 10);
        }
    }
}

// 页面设置面板
.pt-setting{
    top: 0;
    bottom: 0;
}