.row {
    position: relative;

    .col {
        &.col-top {
            .list-body {
                flex: 0 0 30%;

                .list {
                    // height: 30%;
                    // overflow: hidden;
                }
            }

        }

        &.col-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 42%;

            .panel {
                .panel-body {
                    padding: 1rem;
                    background: transparent;
                    box-shadow: none;
                   .nsvideo-list{
                       .flex-block(space-between,stretch);
                       canvas{
                           flex:0 0 100%;
                       }
                   }
                }
            }
        }
        &.col-buttom-btn{
            // bottom: 7rem; 
        }
    }
}