@panel-border-radius: 0;
@panel-bg: lighten(@body-bg, 5.5%) ;
@panel-border-color: #fff;
@panel-header-color: darken(@primary, 30);
@panel-header-title-font-size: (@font-size-base * 1.25);
@panel-padding: 1rem;
@panel-text-color: darken(@primary, 20);
@panel-header-height: (@panel-padding + @panel-header-title-font-size);
@panel-body-height: calc(~"100% -" @panel-header-height);
.panel{
    border-radius: @panel-border-radius;
    border-color: @panel-border-color;
    background: @panel-bg;
    .rgba-shadow(0, 0.5rem, .5rem, @primary, .2);
    .panel-header{
        .flex-block(flex-start, center);
        flex:none;
        padding: (@panel-padding / 2) @panel-padding;
        font-weight: normal;
        font-size: @panel-header-title-font-size;
        color: @panel-text-color;
        
        .icon{
            .flex-block(center,center);
            flex: none;
            .square(@panel-header-title-font-size);
            color: lighten(@primary, 10);
            font-size: 2rem;
            line-height: 2.5rem;
            margin-right: (@base-margin / 2);
            
        }
    }
}