
@checkbox-mark-size: .75rem;

@checkbox-mark-bg: @primary;

.checkbox,
.radio {
    .flex-block();
    flex-wrap: wrap;

    span {
        color: #fff;
    }

    &.row {
        flex-direction: row;
    }

    &.col {
        flex-direction: column;
    }

    input{
        flex: none;
    }
    span{
        flex: 1;
        padding: 0 1rem;
        &.checkbox-mark {
            .flex-block();
            position: relative;
            padding: 0;
            padding: 0 1rem;
            flex:none;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 1px;
                flex: 0 0 2rem;
                margin-top: -1px;
                .rgba-bg(@checkbox-mark-bg, .5);
            }
        
            &:after {
                content: '';
                .square(@checkbox-mark-size);
                flex: 0 0 @checkbox-mark-size;
                border-radius: @checkbox-mark-size;
                background: #fff;
                .rgba-bg(@checkbox-mark-bg, 1);
            }

            &.red{
                .checkbox-mark-variant(red);
            }
            &.orange{
                .checkbox-mark-variant(orange);
            }
            &.yellow{
                .checkbox-mark-variant(yellow);
            }
            &.green{
                .checkbox-mark-variant(rgb(0, 196, 0));
            }
            &.cyan{
                .checkbox-mark-variant(cyan);
            }
            &.blue{
                .checkbox-mark-variant(rgb(2, 133, 255));
            }
            &.purple{
                .checkbox-mark-variant(rgb(231, 0, 231));
            }
        }
    }
}
.checkebox-col{
    flex-direction: column;
    align-items: stretch;
    .checkbox-item{
        flex: 0 0 1.75rem;
    }
}
.checkbox-item {
    .flex-block();

    label {
        .flex-block();
    }
}

.checkbox-mark-variant(@bg){
   &:before,
   &:after {
       background: @bg;
   }
}

