@icon-size: 1rem;
@icon-size-md: 2rem;
@icon-size-lg: 3rem;
i{
    font-size: @icon-size;

    &.icon-md{
        font-size: @icon-size-md;
    }
    &.icon-lg{
        font-size: @icon-size-lg;
    }
}
