
@title-padding: @base-padding;
@title-start-color: #fff;
@title-end-color: @info;
.title{
    .flex-block();
    
    
}
.title-gradient{
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent; 
    // 背景渐变
    #gradient .vertical(@title-start-color, @title-end-color, 0, 100%);
}



// 文字排列
.text-left{
    text-align: left !important;
    justify-content: flex-start !important;
}

.text-center{
    text-align: center !important;
    justify-content: center !important;
}

.text-right{
    text-align: right !important;
    justify-content: flex-end !important;
}

.text-around{
    justify-content: space-around;
}

.text-top{
    align-items: flex-start !important;
}

.text-bottom{
    align-items: flex-end !important;
}


// 文字颜色
.text-primary{
    color: @primary;
}
.text-success{
    color: @success;
}

.text-warning{
    color: @warning;
}

.text-danger{
    color: @danger;
}

.text-gray{
    color: @gray;
}

// 横向倒序
.text-row-reverse{
    flex-direction: row-reverse;
}
// 纵向倒序
.text-column-reverse{
    flex-direction: column-reverse;
}

