.pt-panel {
    .pt-panel-header {
        line-height: 22px;
        padding-bottom: @base-padding;

        .title {
            position: relative;
            padding-bottom: 0;
            display: inline-block;
            font-size: 14px;
            padding-left: 20px;

            span {
                font-size: 16px;
            }

            &+.pt-btn-group {
                margin-left: @base-margin;
            }

            &:before {
                position: absolute;
                top: 50%;
                left: 0;
                font-family: @icon-font-icomoon;
                content: '\ea85';
                width: 14px;
                height: 14px;
                margin-top: -12px;
                color: lighten(@warning, 30);
            }
        }

        .pt-btn-group {
            display: inline-block;
        }

        .pt-form {
            &.pt-form-normal {
                .checkbox {
                    margin: 0;

                    .checkbox-inline {
                        height: 24px;
                        line-height: 24px;

                        &:after {
                            top: 5px;
                        }
                    }
                }
            }
        }

        .pt-panel-header-right {
            display: block;
            float: right;

            span {
                display: inline;
            }

            // 单选开关
            .switch {
                display: inline-block;
                border: 1px solid @warning;
                font-size: 0;
                height: 24px;

                .switch-item {
                    display: inline-block;
                    padding: 0 5px;
                    margin: 0;
                    font-size: 12px;
                    line-height: 22px;

                    &:hover {
                        background: #f8f8f8;
                        color: @warning;
                        cursor: pointer;
                    }

                    &.current {
                        background: @warning;
                        color: #fff;
                    }
                }
            }

            // 复选框盒模式
            .checkbox-box {
                display: inline-block;
                border: 1px solid @border-color;
                padding: 0 @base-padding;
                cursor: pointer;
                position: relative;

                &:hover {
                    background: @warning;
                    border-color: @warning;
                    color: #fff;
                }

                &.checked {
                    border-color: @warning;
                    background: #fff;
                    color: @warning;
                    position: relative;

                    &:before {
                        position: absolute;
                        bottom: 3px;
                        right: -4px;
                        content: '\e95d';
                        font-family: @icon-font-icomoon;
                        .square(14px);
                        z-index: 3;
                        color: #fff;

                    }

                    &:after {
                        bottom: 0;
                        right: 0;
                        .triangle-right-bottom(14px, @warning);
                        z-index: 2;
                    }

                }
            }
        }
    }
}