.pt-panel {
    .pt-panel-header {
        line-height: 24px;
        .title {
            position: relative;
            padding-bottom: 0;
            display: inline-block;
            font-size: 14px;
            padding-left: 20px;

            span {
                font-size: 16px;
            }
            & + .pt-btn-group{
                margin-left: @base-margin;
            }

            &:before{
                position: absolute;
                top: 50%;
                left: 0;
                content: '';
                width: 14px;
                height: 14px;
                background: #eee;
                margin-top: -7px;
            }
        }

        .pt-btn-group{
            display: inline-block;
        }

        .pt-form {
            &.pt-form-normal {
                .checkbox {
                    margin: 0;

                    .checkbox-inline {
                        height: 24px;
                        line-height: 24px;

                        &:after {
                            top: 5px;
                        }
                    }
                }
            }
        }
    }
}