
.netstar-docs{
    width: 100%;
    height: 100%;

}
/* 导航 */
.netstar-docs .panel.nav-stacked{
    /* display: flex;
    width: 280px; */
    left: 30px;
    top: 54px;
    font-size: 14px;
    color:#666;
    line-height: 30px;
   
}
.netstar-docs .panel.nav-stacked .side-bar{
    overflow: auto; 
}
.netstar-docs .panel.nav-stacked ul{
    padding-left: 6px;
}
/* 内容 */
.panel.content{
    position: absolute;
    top:30px;
    right: 0;
    left: 440px;
    bottom: 0;
    overflow:auto;   
}
/* 按钮 */
.panel .btns-group{
    max-width: 960px;
      min-width:772px; 
}
.btns-group button{
    border: 1px solid #ccc;
    width: 120px;
    height: 32px;
    background: #fff;
    color: #777;
    margin:30px 3px 10px 0;

}
.btns-group button i{
    margin-right: 6px;
}
.btns-group button:hover{
    color: #3f5466;
    background: #eee;
}
/* --标题-- */

.panel-header h1,.panel-header h2,.panel-default h2{
    font-size: 18px;
    line-height: 48px;
    font-weight: 600;
    color: #222;
} 
.panel .content-demo span{
    font-size: 14px;
    color: #555;
}
.panel .content-demo .h3{
    font-size: 16px;
    line-height: 42px;
    font-weight: 600;
}
.panel .content-demo h4{
    font-size: 14px;
    line-height: 42px;
    background: #556677;
}
.content-demo .intro{
    background: #fefefe;
    display: block;
}
.panel.panel-default.params .panel-body-list h5{
    margin-top: 24px;
    line-height: 32px;
    font-size: 16px;
    color: #222;
}
/* 表格 */

.panel-default.panel.body.params-table tr{
    height: 30px;
}
.panel.body table{
    max-width: 960px; 
    min-width:772px; 
 }
.panel.body table thead{
    color: #777;
    font-size: 14px;
    border-bottom: 1px solid #999;
    line-height: 40px;
}

.panel.body table tbody td{
    font-size: 14px;
    height: 54px;
    border-bottom: 1px solid #eee;
}

/* --代码演示 ---*/
/* .language-javascript{
    margin-top:200px;
} */
.language-javascript pre{
    border:0;
    padding: 40px 0 0 20px;
    background: #f9f9fa;
    margin-bottom: 38px;
    text-decoration: none;
    height: 320px;
    overflow: auto;
    max-width: 960px;
    min-width:772px; 
}
.panel .content-demo .panel-demo{
    max-width: 960px;
    min-width:772px; 
}
.panel.panel-default.params .panel-body-list li{
    line-height: 28px;

}
.title-required{
    width: 40px;
}
/* .panel.panel-default.params .panel-body-list li:hover{
    color:#999; 
} */
/*----- 装饰------ */
      /*---- pre---- */
.language-javascript pre .token-string{
    color:#ef2344;
}
.language-javascript pre .token-number{
    color: #2971e9;
}
.language-javascript pre .token-address{
    color:#07c160;
}
.language-javascript pre .token-boolean{
    color: #cfa3c6;
}
        /* ------菜单竖线---- */
.panel.nav-stacked li{
    border-left:1px solid #eee;
}
        /* ------装饰圆点---- */
                    /* 实心圆点disc.png */
.panel.nav-stacked li a{
    background:url("../../images/disc.png") 0% no-repeat;
    padding-left: 32px;
    margin-left: -6px;
   
}                       
                    /* 鼠标经过蓝色实心圆点disc-blue.png */
.panel.nav-stacked li a:hover{    
    margin-left: -6px;
    background:url("../../images/disc-blue.png") 0% no-repeat;
}
                    /* 顶部空心圆点circle.png */ 
.netstar-docs .panel.nav-stacked::before{
    content: '';
    top: -11px;
    left: 2px;
    position: absolute;
    width: 10px;
    height: 10px;
    background:url("../../images/circle.png") no-repeat;   
}
                    /* 底部部空心圆点circle.png  */
.netstar-docs .panel.nav-stacked::after{
    content:'';
    position: absolute;
    bottom: -10px;
    left: 2px;
    width: 10px;
    height: 10px;   
    background:url("../../images/circle.png") 0% no-repeat; 
}
.content-javascriptgrid pre{
    border:0;
    padding:20px;
    background: #f9f9fa;
    margin-bottom: 38px;
    text-decoration: none;
    height: 320px;
    overflow: auto;
    max-width: 960px;
    min-width:772px; 
}
/* 按钮（弹框） */
.panel .content-demo .btns-dialog{
    width:100%;
    border: 1px solid #ccc;
    max-width: 960px;
    height: 32px;
    background: #fff;
    color: #666;
}
.panel .content-demo .btns-dialog:hover{
    color:#000;
    background: #f8f8f8;
}
.content-demo .skip-docpage .btns-dialog:hover{
    color:#000;
    background: #f8f8f8;
}
.template-img img{
    max-width: 960px;
    min-width:772px; 
}
.must-params{
    width: 40px;
}

/* 参数，说明，类型的宽  */
.parame-width{
    width:88px;
}
.explain-width{
    width: 120px;
}
.mold-width{
    width: 68px;
}
/* .content-demo .title-code{
    width: 100%;
} */


/* 手机文档 */  
.doc-mobile-show{
    width: 360px;
    height: 640px;
}
.mobile-test-dome{
    display: flex;
}
.language-javascript-mobile .mobile-test{
    margin-left: 6px;
    border:0;
    padding:20px;
    background: #f9f9fa;
    margin-bottom: 38px;
    text-decoration: none;
    height: 640px;
    overflow: auto;
    max-width: 600px;
    min-width:560px;
}



/*  */
.panel-step-img{
    max-width: 960px;
}

.ns-demo-step .ns-demo-step-process{
    height: 34px;
    margin-top: 12px;
    line-height: 34px;
    font-size: 14px;
}
.ns-demo-step .ns-demo-step-process-Notes{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}
.ns-demo-step .ns-demo-step-process-Notes .demo-skip{
    color:#576b95;
    font-size: 14   px;
}
.ns-demo-step{
    margin-top: 10px;
}
.panel .content-demo .title-code{
    font-size: 16px;
    padding-top: 12px;
    font-weight:600

}
.ns-demo-step .ns-demo-component-title{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color:brown                                                                     
} 
.ns-demo-step .ns-demo-component-title-content{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color:dimgray;
} 



/*  */
