.businessdatabaselevel3 {

    // 左表格右block布局
    &.listgrid {
        .pt-main-row {
            .pt-main-col {
                margin-left: 10px;
                flex: 100;

                &+.pt-main-col {
                    flex: 1;
                }
            }
        }
    }
}