.form-td-ns-icon-right {
  content: "";
  position: absolute;
  top: 8px;
  right: 0px;
  font-family: "FontAwesome";
  color: #cccccc;
  font-size: 14px;
  line-height: 14px;
  width: 40px;
  height: 40px;
}
.ns-input-shadow {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.2);
  -moz-box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.2);
}
.ns-input-shadow-none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.base-title-style {
  position: relative;
  display: block;
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold !important;
  color: #222222;
}
.base-title-style:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  background: #fc7008;
  z-index: 9;
  height: 16px;
  top: 50%;
  left: 0;
  margin: -8px 0 0;
}
.empty-style {
  position: relative;
  padding: 5px 5px 5px 30px;
  min-height: 30px;
}
.empty-style:before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f071";
  color: #f39800;
  top: 6px;
  left: 8px;
}
.transall,
.icon-collection .fontawesome-icon-list .fa-hover > i,
.icon-collection .fontawesome-icon-list .fa-hover > span {
  -webkit-transition: all 220ms ease-in-out;
  -moz-transition: all 220ms ease-in-out;
  -o-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
}
.clearfix:before,
.clearfix:after,
.skin-color-palette:before,
.skin-color-palette:after,
.icon-collection .fontawesome-icon-list:before,
.icon-collection .fontawesome-icon-list:after,
.icon-collection .fontawesome-icon-list .fa-hover:before,
.icon-collection .fontawesome-icon-list .fa-hover:after {
  content: " ";
  display: table;
}
.clearfix:after,
.skin-color-palette:after,
.icon-collection .fontawesome-icon-list:after,
.icon-collection .fontawesome-icon-list .fa-hover:after {
  clear: both;
}
.overflow-hidden {
  overflow: hidden !important;
}
.vertical-top > * {
  vertical-align: top;
}
strong + table {
  margin-top: 10px;
}
.text-small {
  font-size: 65%;
}
.text-bold {
  font-weight: bold;
}
address {
  padding-left: 20px;
  border-left: 5px solid #f0f0f0;
}
.scrollable .scrollable {
  margin-right: 20px;
}
.super-large {
  font-size: 62px;
}
.inline {
  display: inline-block !important;
}
div.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.list-margin {
  margin: 10px 0;
}
.list-margin li {
  padding: 5px 0;
}
.rotate-45deg {
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.text-medium {
  font-size: 11px;
}
.text-bold {
  font-weight: bold;
}
.text-bold.h1,
.text-bold.h2,
.text-bold.h3,
.text-bold.h4,
.text-bold.h5,
.text-bold.h6 {
  font-weight: bold;
}
.text-upper {
  text-transform: uppercase;
}
.chart-item-bg {
  position: relative;
  background: #fff;
  width: 100%;
  margin-bottom: 10px;
}
.chart-item-bg .chart-label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  font-size: 14px;
}
.chart-item-bg .chart-label.chart-label-small {
  padding: 20px;
}
.chart-item-bg .chart-label .h1,
.chart-item-bg .chart-label .h2,
.chart-item-bg .chart-label .h3,
.chart-item-bg .chart-label .h4 {
  margin: 0;
  padding: 0;
}
.chart-item-bg .chart-right-legend {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  font-size: 14px;
  left: auto;
  right: 0;
}
.chart-item-bg .chart-right-legend.chart-label-small {
  padding: 20px;
}
.chart-item-bg .chart-right-legend .h1,
.chart-item-bg .chart-right-legend .h2,
.chart-item-bg .chart-right-legend .h3,
.chart-item-bg .chart-right-legend .h4 {
  margin: 0;
  padding: 0;
}
.chart-item-bg .chart-inner {
  padding: 20px;
}
.chart-item-bg .chart-inner-wide {
  padding: 20px 20px;
}
.chart-item-bg .chart-entry-view {
  border-top: 1px solid #eeeeee;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.chart-item-bg .chart-entry-view > div {
  display: table-cell;
  vertical-align: middle;
  padding: 20px 10px;
  color: #989898;
  font-size: 13px;
}
.chart-item-bg .chart-entry-view:hover {
  background: #fafafa;
}
.chart-item-bg-2 {
  background: #fff;
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
.chart-item-bg-2 > div {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
}
.chart-item-bg-2 .chart-item-num {
  padding-left: 40px;
  font-size: 90px;
  color: #444444;
  padding-right: 10px;
  white-space: nowrap;
}
.chart-item-bg-2 .chart-item-num.num-sm {
  font-size: 70px;
}
.chart-item-bg-2 .chart-item-env > div {
  margin: 10px 0;
}
.skin-color-palette {
  display: block;
  border: 1px solid #f0f0f0;
  margin-right: 20px;
}
.skin-color-palette > span {
  float: left;
  width: 16.66666667%;
  height: 20px;
}
.skin-color-palette > span + span {
  border-left: 0px solid #fff;
}
.skin-color-palette.skin-color-palette-four > span {
  width: 25%;
}
.skin-name-link {
  font-weight: bold;
  color: #333333;
}
.skin-name-link:hover {
  color: #68b828;
}
.bs-example {
  line-height: 1.85;
}
.bs-example .label {
  margin-left: 2px;
}
.same-margin > * {
  margin-top: 0;
  margin-bottom: 15px;
}
.same-margin > *:last-child {
  margin-bottom: 0;
}
.vspacer {
  height: 80px;
}
.vspacer.v2 {
  height: 15px;
}
.vspacer.v3 {
  height: 10px;
  display: block !important;
}
.vspacer.v4 {
  height: 10px;
  display: block !important;
}
@media screen and (max-width: 768px) {
  .vspacer {
    display: none;
  }
  .vspacer.v2 {
    display: block;
  }
}
.img-container {
  margin-bottom: 20px;
}
.img-shade {
  display: block;
  background: #f5f5f5;
  text-align: center;
  line-height: 0;
  margin-bottom: 20px;
}
.img-preview {
  display: inline-block;
  overflow: hidden;
  background: #f7f7f7;
  line-height: 1;
}
.img-preview img {
  display: block;
}
.no-left-border {
  border-left: 0 !important;
}
.no-right-border {
  border-right: 0 !important;
}
.no-top-margin {
  margin-top: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
img.img-cirlce {
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
.col-margin.row > * {
  margin-bottom: 20px;
}
.col-margin.row > *:last-child {
  margin-bottom: 0;
}
.ckeditor + .cke {
  margin-top: 20px;
  margin-bottom: 10px;
}
*[class*="fa-"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div.scrollable {
  max-height: 200px;
  overflow: hidden;
  position: relative;
}
.icon-collection .page-header {
  margin: 0;
  margin-bottom: 10px;
}
.icon-collection section .page-header {
  margin-top: 20px;
}
.icon-collection .fontawesome-icon-list .fa-hover {
  background: #fff;
  float: left;
  width: 24%;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
}
.icon-collection .fontawesome-icon-list .fa-hover:nth-child(4n) {
  margin-right: 0;
}
@media (max-width: 991px) {
  .icon-collection .fontawesome-icon-list .fa-hover {
    width: 31%;
  }
  .icon-collection .fontawesome-icon-list .fa-hover:nth-child(3n) {
    margin-right: 0;
  }
  .icon-collection .fontawesome-icon-list .fa-hover:nth-child(3n) i:hover {
    margin: 0;
  }
  .icon-collection .fontawesome-icon-list .fa-hover:nth-child(4n) {
    margin-right: 10px;
    clear: right;
  }
}
.icon-collection .fontawesome-icon-list .fa-hover > i {
  display: block;
  float: left;
  position: relative;
  background: #fafafa;
  border-right: 1px solid #d1d1d1;
  padding: 10px;
  text-align: center;
  width: 25%;
}
.icon-collection .fontawesome-icon-list .fa-hover > i:hover {
  width: 60%;
  background: #68b828;
  color: #fff;
  margin: -1px;
}
.icon-collection .fontawesome-icon-list .fa-hover > i:hover + span {
  width: 40%;
}
.icon-collection .fontawesome-icon-list .fa-hover > span {
  display: block;
  float: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
  padding-bottom: 8px;
  width: 75%;
  color: #7f7f7f;
}
.icon-collection .fontawesome-icon-list .fa-hover > span:hover {
  color: #333333;
}
.layout-variants {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.layout-variants .row-clearer {
  clear: both;
  height: 5px;
}
.layout-variants .layout-variant {
  display: block;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid transparent;
}
.layout-variants .layout-variant:hover,
.layout-variants .layout-variant.layout-current {
  background: rgba(240, 240, 240, 0.2);
  border-color: #f0f0f0;
}
.layout-variants .layout-variant:hover .layout-name a,
.layout-variants .layout-variant.layout-current .layout-name a {
  color: #333333;
}
.layout-variants .layout-variant .layout-img {
  margin-bottom: 15px;
}
.layout-variants .layout-variant .layout-img img {
  display: block;
  width: 100%;
}
.layout-variants .layout-variant .layout-name {
  font-weight: bold;
}
.layout-variants .layout-variant .layout-name a {
  color: #737373;
  max-width: 218px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.layout-variants .layout-variant .layout-name:after {
  display: block;
  content: '';
  width: 20px;
  height: 1px;
  background: #ccc;
  margin: 5.88235294px 0;
}
.layout-variants .layout-variant .layout-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.layout-variants .layout-variant .layout-links li {
  margin: 2px 0;
}
.layout-variants .layout-variant .layout-links li a {
  color: #989898;
  font-size: 9px;
  text-transform: uppercase;
}
.layout-variants .layout-variant .layout-links li a:hover,
.layout-variants .layout-variant .layout-links li a.layout-mode-current {
  color: #4c4c4c;
}
.layout-variants .layout-variant .layout-links li a.layout-mode-current {
  font-weight: bold;
}
.layout-variants .layout-variant .layout-links li a.disabled {
  cursor: not-allowed;
  color: #989898;
}
.car-panel {
  margin: 0;
}
.car-panel .col-sm-1,
.car-panel .col-sm-2,
.car-panel .col-sm-3,
.car-panel .col-sm-4,
.car-panel .col-sm-5,
.car-panel .col-sm-6,
.car-panel .col-sm-7,
.car-panel .col-sm-8,
.car-panel .col-sm-9,
.car-panel .col-sm-10,
.car-panel .col-sm-11,
.car-panel .col-sm-12 {
  padding: 0;
}
.car-panel .col-sm-1 h3,
.car-panel .col-sm-2 h3,
.car-panel .col-sm-3 h3,
.car-panel .col-sm-4 h3,
.car-panel .col-sm-5 h3,
.car-panel .col-sm-6 h3,
.car-panel .col-sm-7 h3,
.car-panel .col-sm-8 h3,
.car-panel .col-sm-9 h3,
.car-panel .col-sm-10 h3,
.car-panel .col-sm-11 h3,
.car-panel .col-sm-12 h3 {
  display: inline-block;
  padding: 10px 15px;
  margin: 0;
  height: 60px;
  line-height: 40px;
}
.car-panel .nav-form .btn-group {
  padding: 10px;
}
.car-panel .panel.panel-form {
  margin: 0;
  border: 0;
  text-align: right;
}
.car-panel .row-close {
  border: 0;
  margin: 0;
  background: none;
}
.car-panel .form-td {
  display: inline-block;
  float: none;
  border: 1px solid #dddddd;
  max-width: 280px;
}
.car-panel .form-td .control-label {
  text-align: left;
  width: 80px;
}
.car-panel .form-td label.radio-inline,
.car-panel .form-td label.checkbox-inline {
  height: 30px !important;
  line-height: 30px !important;
}
.car-panel .panel-body {
  padding-right: 15px;
}
.car-panel .gridview .nspanel-title {
  position: relative;
  padding: 0 15px;
}
.car-panel .gridview .nspanel-title:before,
.car-panel .gridview .nspanel-title:after {
  position: absolute;
  content: "";
  width: 100%;
  height: #eeeeee;
  background: #dddddd;
  z-index: 9;
  left: 0;
  color: #333333;
}
.car-panel .gridview .nspanel-title:before {
  top: -20px;
}
.car-panel .gridview .nspanel-title:after {
  bottom: -10px;
}
.car-panel .gridview a {
  display: block;
  margin: 30px 0;
}
.car-panel .gridview a i {
  display: block;
  padding: 10px;
  font-size: 56px;
  width: 96px;
  height: 96px;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  color: #5f92c3;
  background: #cde7ff;
  border-radius: 10px;
}
.car-panel .gridview a i:hover {
  background: #b1daff;
}
.car-panel .gridview a i span {
  display: block;
  padding: 10px;
  text-align: center;
}
.car-panel .gridview a:focus {
  text-decoration: none;
}
.car-panel .gridview .arrow-top,
.car-panel .gridview .arrow-right,
.car-panel .gridview .arrow-bottom,
.car-panel .gridview .arrow-left {
  position: relative;
  color: #a9a9a9;
}
.car-panel .gridview .arrow-top:after,
.car-panel .gridview .arrow-right:after,
.car-panel .gridview .arrow-bottom:after,
.car-panel .gridview .arrow-left:after {
  position: absolute;
  font-family: "FontAwesome";
  content: "";
  font-size: 24px;
}
.car-panel .gridview .arrow-top:after {
  content: "\f175";
  top: 0;
  right: 50%;
  margin: -47px -6px 0 0;
}
.car-panel .gridview .arrow-right:after {
  content: "\f178";
  top: 50%;
  right: 0;
  margin: -24px -27px 0 0;
}
.car-panel .gridview .arrow-bottom:after {
  content: "\f177";
  bottom: 0;
  left: 50%;
  margin: 0 0 -47px -6px;
}
.car-panel .gridview .arrow-left:after {
  content: "\f176";
  top: 50%;
  left: 0;
  margin: -12px 0 0 -12px;
}
.car-panel .form-normal {
  margin: 0;
}
/* tips */
.tips-panel {
  padding: 10px 0;
  margin: 0 15px;
  border-bottom: 1px solid #dddddd;
}
.tips-panel .btn {
  font-size: 12px;
  height: auto;
  padding: 5px;
}
.tips-panel .btn.btn-link {
  padding: 0 0 5px;
  border: 0;
  text-decoration: underline;
}
.main-panel .tips-panel {
  margin: 0;
}
.car-panel-more {
  width: 30px;
  height: 30px;
  line-height: 30px;
  float: right;
}
.car-panel-more:after {
  position: absolute;
  font-family: "FontAwesome";
  content: "";
  content: "\f41";
  font-size: 14px;
  right: 10px;
  color: #a9a9a9;
  z-index: 9;
}
/* 着陆页 */
.car-panel-list {
  position: relative;
  margin: 0;
  padding: 0;
}
.car-panel-list li {
  list-style: none;
}
.car-panel-list li a {
  position: relative;
  display: block;
  font-size: 12px;
  padding: 0 10px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.car-panel-list li a:hover {
  background: #f0f0f0;
}
.car-panel-list li a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: #f0f0f0;
  background: #dddddd;
  z-index: 9;
  left: 0;
  bottom: 0;
}
.car-panel-list li h6 {
  margin: 3px 0;
  font-weight: bold;
}
/* 价格设置 */
.frame-standard .form-horizontal .row.row-close {
  border: 0;
  background: #fff;
}
.frame-standard .form-horizontal .row.row-close .form-group {
  position: relative;
}
.frame-standard .form-horizontal .row.row-close .form-group:after {
  position: absolute;
  content: "";
  width: #dddddd;
  height: 100%;
  background: #dddddd;
  z-index: 9;
  top: 0;
  right: 0;
}
.frame-standard .form-horizontal .row.row-close .form-td {
  position: relative;
  clear: both;
}
.frame-standard .form-horizontal .row.row-close .form-td:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #dddddd;
  top: -1px;
  left: 0;
  z-index: 9;
}
.frame-standard .form-horizontal .row.row-close .form-td:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background: #dddddd;
  z-index: 9;
  top: 0;
  right: 0;
}
.frame-standard .form-horizontal .row.row-close .form-td label.control-label {
  position: relative;
  text-align: right;
}
.frame-standard .form-horizontal .row.row-close .form-td label.control-label:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background: #dddddd;
  z-index: 9;
  top: 0;
  left: 0;
}
.frame-standard .form-horizontal .row.row-close .form-td .form-control {
  position: relative;
}
.frame-standard .form-horizontal .row.row-close .form-td .form-control:after {
  position: absolute;
  top: 0;
  right: 50px;
  line-height: 40px;
  color: #999999;
}
.frame-standard .form-horizontal .row.row-close .form-td:nth-child(1) .form-control:after {
  content: "例如：￥1.000";
}
.frame-standard .form-horizontal .row.row-close .form-td:nth-child(2) .form-control:after {
  content: "例如：￥1.000";
}
.frame-standard .form-horizontal .row.row-close .form-td:nth-child(3) .form-control:after {
  content: "例如：￥1.00,000";
}
.frame-standard .form-horizontal .row.row-close .form-td:nth-child(4) .form-control:after {
  content: "例如：￥1.00";
}
.frame-standard .form-horizontal .row.row-close .form-td:nth-child(5) .form-control:after {
  content: "例如：￥1.000";
}
.frame-standard .form-horizontal-defprice {
  width: 30%;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close {
  border: 0;
  background: #fff;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:first-child {
  width: 100% !important;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:first-child label {
  display: table-cell !important;
  width: 100px;
  height: 40px;
  margin: 0;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:first-child:after {
  display: none;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:first-child .form-control {
  padding-left: 0 !important;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n-1) {
  position: relative;
  width: 40%;
  border: 1px solid #dddddd;
  margin: 10px 0 0 -1px;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n-1) label {
  display: none;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n-1) .form-control {
  padding-left: 60px;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n-1) .form-control:focus {
  box-shadow: none;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n-1):after {
  position: absolute;
  content: "%";
  color: #666666;
  top: 12px;
  right: -24px;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n) {
  display: inline-block;
  position: relative;
  padding: 0;
  border-top: 1px solid #dddddd;
  margin-top: 10px;
  width: 60%;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n):after {
  position: absolute;
  content: "X";
  color: #666666;
  top: -1px;
  right: -42px;
  z-index: 2;
  width: 42px;
  height: 42px;
  border-top: 1px solid #fff;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #fff;
  text-align: center;
  line-height: 40px;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n) .form-group label.control-label {
  display: none;
  background: none;
}
.frame-standard .form-horizontal-defprice .panel-form .row.row-close .form-td:nth-child(2n) .form-group .form-control {
  margin: 0 40px 0 0;
}
.frame-standard .nspop-container .pop-dialog-bottom {
  position: relative;
  overflow: hidden;
}
.frame-standard .nspop-container .pop-dialog-bottom .table-hide {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 15px;
  z-index: 9;
}
.frame-standard .nspop-container .pop-dialog-bottom .table-hide .panel {
  padding-top: 0;
}
.frame-standard .nspop-container .pop-dialog-bottom .table-hide .panel .panel-body {
  padding-top: 0;
}
.frame-standard .nspop-container .pop-dialog-bottom .table-hide .panel .panel-body:before {
  display: none;
}
.frame-standard .row.quota-panel {
  position: absolute;
  top: 60px;
  right: 35px;
  height: 44px;
  line-height: 44px;
  background-color: transparent;
}
.frame-standard .row.quota-panel .form-quota {
  display: inline-block;
  color: #4a4a4a;
  font-size: 12px;
  text-align: right;
  margin-left: 30px;
}
.frame-standard .row.quota-panel .form-quota label {
  margin: 0;
  font-weight: bold;
}
/*印章*/
.td-seal {
  margin: 0;
  padding: 0;
  height: 14px;
  text-align: center;
}
.td-seal .fa-seal1,
.td-seal .fa-seal2,
.td-seal .fa-seal3 {
  position: relative;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 0 2px;
}
.td-seal .fa-seal1:before,
.td-seal .fa-seal2:before,
.td-seal .fa-seal3:before {
  position: absolute;
  font-family: "FontAwesome";
  content: "";
  content: "\f276";
  top: 0;
  left: 3px;
  font-size: 14px;
}
.td-seal .fa-seal1:after,
.td-seal .fa-seal2:after,
.td-seal .fa-seal3:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 4px;
  top: 10px;
  left: 1px;
  border-radius: 2px;
  background: #aaa;
}
.td-seal .fa-seal1:before {
  color: #8dc63f;
}
.td-seal .fa-seal1:after {
  background: #8dc63f;
}
.td-seal .fa-seal2:before {
  color: #40bbea;
}
.td-seal .fa-seal2:after {
  background: #40bbea;
}
.td-seal .fa-seal3:before {
  color: #cc3f44;
}
.td-seal .fa-seal3:after {
  background: #cc3f44;
}
.main-panel .car-panel .panel-body {
  padding: 0;
}
.custom-table {
  padding: 0 15px;
  margin: 0 -15px;
  background: #fff;
}
.custom-table .table {
  margin-bottom: 0;
}
.custom-table p {
  margin: 0;
}
.custom-form-content {
  background: #fff;
}
.custom-form-content .custom-form-content-title {
  text-align: left;
  font-weight: bold;
  padding: 10px 15px;
}
.custom-form-content .custom-form-content-title:first-child {
  padding-top: 15px;
}
.fillbg.destroy {
  position: relative;
  overflow: hidden;
}
.fillbg.destroy:before {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 500px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.05);
  z-index: 998;
}
.fillbg.destroy:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 128px;
  height: 128px;
  background: url("../images/netstar/destroy.png") center center no-repeat;
  background-size: 90%;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  z-index: 999;
}
.page-container .main-content.table-content container > .row.car-panel {
  margin-bottom: 15px;
}
.page-container .main-content.table-content container > .row.car-panel.user-panel {
  position: absolute;
  top: 60px;
  right: 15px;
  background-color: transparent;
}
.page-container .main-content.table-content container > .row.car-panel.user-panel .row.row-close {
  margin: 0;
}
.page-container .main-content.table-content container > .row.car-panel.user-panel .form-content {
  background-color: transparent;
}
.page-container .main-content.table-content container > .row.car-panel.user-panel .form-content .row.row-close {
  margin: 0;
}
.page-container .main-content.table-content container > .row.car-panel.user-panel .form-content .row.row-close .control-label {
  background-color: transparent;
}
.page-container .main-content.table-content container > .row.car-panel > div {
  background-color: #e4ecf6;
}
.page-container .main-content.table-content container > .row.car-panel > div .panel-body {
  padding-right: 0;
}
.page-container .main-content.table-content container > .row.car-panel > div.title-plane {
  padding: 10px 15px;
  height: 50px;
}
.page-container .main-content.table-content container > .row.car-panel > div.title-plane .row.row-close {
  margin-bottom: 0;
  background-color: #e4ecf6;
}
.page-container .main-content.table-content container > .row.car-panel > div.title-plane .form-item.select .selectboxit-container {
  min-width: 150px !important;
}
.page-container .main-content.table-content container > .row.car-panel > div.title-plane .selectboxit-options {
  min-width: 100% !important;
}
.page-container .main-content.table-content container > .row.car-panel > .searchBtn-content .btn-group {
  padding: 8px 10px 8px 15px;
}
.page-container .main-content.table-content container > .row.car-panel > .searchBtn-content .btn-group .btn + .btn {
  margin-left: 10px;
}
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .control-label {
  background-color: transparent;
  width: auto;
  padding: 5px 12px;
}
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .control-label:before {
  display: none;
}
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form {
  padding: 7px 15px 3px 0;
}
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td {
  width: auto !important;
  border: 0;
}
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td .form-item {
  min-width: 100px;
  height: 30px !important;
  border: 1px solid #cddcee;
}
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td .form-item:before {
  display: none;
}
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td label.radio-inline,
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td label.checkbox-inline {
  height: 30px !important;
}
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td label.radio-inline:after,
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td label.checkbox-inline:after {
  top: 7px;
}
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td .form-control,
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td .checkbox-options {
  min-width: 100px;
  max-width: 100px;
  height: 30px !important;
  min-height: 30px;
  background: #fff;
}
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td .form-control.datepicker[readonly],
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td .checkbox-options.datepicker[readonly] {
  background: #e4ecf6;
}
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td .form-control + .input-group-addon,
.page-container .main-content.table-content container > .row.car-panel > .searchForm-content .panel-form .form-td .checkbox-options + .input-group-addon {
  width: 30px;
  border-left: 1px solid #cddcee;
  margin-left: -1px;
}
.page-container .main-content.table-content container > .row.car-panel h3 {
  font-size: 22px;
  line-height: 50px;
  height: auto;
  background-color: #e4ecf6;
  color: #204779;
  padding: 0 0 0 15px;
  width: 180px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content {
  width: 750px;
  float: right;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td {
  border: none;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td.bill-storehouse {
  width: 220px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td.col-none span.selectboxit-text {
  padding-right: 28px !important;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td.match-width {
  min-width: 200px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td.match-width input.form-control[type="text"] {
  width: 100% !important;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group label.control-label {
  position: relative;
  background-color: #e4ecf6;
  text-align: right;
  width: auto;
  padding: 5px 12px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item {
  height: 30px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item input.form-control[type="text"] {
  border: 1px solid #cddcee;
  line-height: 30px;
  height: 30px;
  min-height: 30px;
  width: 150px;
  padding: 6px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item input.form-control[type="text"][readonly] {
  background-color: #e4ecf6;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item input.form-control[type="text"][nstype="date"] {
  width: 100px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item .input-group-addon {
  border: 1px solid #cddcee;
  border-left: none;
  width: 30px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item.select .selectboxit-list {
  border-color: #cddcee;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item.select span.selectboxit-container {
  border: 1px solid #cddcee;
  min-width: 120px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item.select span.selectboxit-container .selectboxit {
  line-height: 28px;
  min-height: 28px;
  height: 28px;
  border: none;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item.select span.selectboxit-container .selectboxit .selectboxit-text {
  text-align: left;
  height: 28px;
  line-height: 28px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item.select span.selectboxit-container .selectboxit-arrow-container {
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item.select span.selectboxit-container .selectboxit-arrow-container:after {
  top: 8px;
  right: 8px;
}
.page-container .main-content.table-content container > .row.car-panel .form-content .form-td .form-group .form-item:before {
  background-color: transparent;
}
.qrcode {
  display: table;
  width: 100%;
}
.qrcode .qrcode-media {
  display: table-cell;
  vertical-align: top;
  width: 241px;
  height: 241px;
}
.qrcode .qrcode-media img {
  width: 241px;
  height: 241px;
  padding: 15px;
  border: 1px solid #dddddd;
}
.qrcode .qrcode-table {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
}
.qrcode .qrcode-table .table {
  border: 1px solid #dddddd;
}
.qrcode .qrcode-table .table tr > td {
  border-color: #dddddd;
}
.frame-standard .nstable-panel {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  border-collapse: separate;
}
.frame-standard .nstable-panel .nspanel-title h4 {
  display: inline;
}
.frame-standard .nstable-panel .nspanel-title a.panel-more {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  position: relative;
}
.frame-standard .nstable-panel .nspanel-title a.panel-more:after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f141";
  font-size: 14px;
  right: 10px;
  color: #a9a9a9;
  z-index: 9;
  right: 5px;
}
.frame-standard .nstable-panel .nstable-cell {
  display: table-cell;
  float: none;
  background: #fff;
}
.frame-standard .nstable-panel .nstable-cell ul {
  padding: 0;
}
.frame-standard .nstable-panel .nstable-cell li {
  list-style: none;
}
.frame-standard .nstable-panel .nstable-cell li a {
  border-bottom: 1px solid #eee;
  display: block;
  padding: 0 10px;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  word-break: break-all;
}
.frame-standard .nstable-panel .nstable-cell li a:hover {
  background: #f8f8f8;
}
/*流程启动*/
.frame-standard .flowpath-panel {
  text-align: left;
  padding: 15px 0;
  height: auto;
  overflow: hidden;
}
.frame-standard .flowpath-panel .row {
  margin: 0 -5px;
}
.frame-standard .flowpath-panel .row > div {
  min-width: 300px;
  padding: 0 5px;
}
.frame-standard .flowpath-panel .nspanel {
  display: block;
  float: left;
  padding: 0;
  width: 100%;
  min-height: 360px;
  border: 1px solid #ddd;
}
.frame-standard .flowpath-panel .nspanel .nspanel-title {
  padding: 15px 10px;
  text-indent: 5px;
  margin: 0;
}
.frame-standard .flowpath-panel .nspanel .nspanel-title:before {
  display: none;
}
.frame-standard .flowpath-panel .nspanel .nspanel-title i {
  padding-right: 10px;
}
.frame-standard .flowpath-panel span.flowpath-list {
  display: block;
}
.frame-standard .flowpath-panel span.flowpath-list a {
  display: block;
  margin: 0;
  padding: 10px 10px 10px 50px;
  text-decoration: none;
  color: #555;
  font-size: 14px;
}
.frame-standard .flowpath-panel span.flowpath-list a:hover {
  background: #f8f8f8;
  color: #000;
}
