/*滚动条*/
.form-td-ns-icon-right {
  content: "";
  position: absolute;
  top: 8px;
  right: 0px;
  font-family: "FontAwesome";
  color: #cccccc;
  font-size: 14px;
  line-height: 14px;
  width: 40px;
  height: 40px;
}
.ns-input-shadow {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.2);
}
.ns-input-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.base-title-style {
  position: relative;
  display: block;
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold !important;
  color: #222222;
}
.base-title-style:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  background: #fc7008;
  z-index: 9;
  height: 16px;
  top: 50%;
  left: 0;
  margin: -8px 0 0;
}
.empty-style {
  position: relative;
  padding: 5px 5px 5px 30px;
  min-height: 30px;
}
.empty-style:before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f071";
  color: #f39800;
  top: 6px;
  left: 8px;
}
.no-data {
  min-height: 200px;
  background: #eff5fc;
  border: 1px solid #d9e9f8;
  position: relative;
}
.no-data:before {
  display: block;
  content: '暂无数据';
  position: absolute;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: 0px 0 0 -40px;
  color: #98c4ec;
}
.no-data:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '\f01c';
  font-family: "FontAwesome";
  font-size: 32px;
  margin: -26px 0 0 -16px;
  color: #98c4ec;
}
.triangle-variant {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}
.base-title-style {
  padding-left: 0;
}
.base-title-style:before {
  display: none;
}
