/*滚动条*/
.form-td-ns-icon-right {
  content: "";
  position: absolute;
  top: 8px;
  right: 0px;
  font-family: "FontAwesome";
  color: #cccccc;
  font-size: 14px;
  line-height: 14px;
  width: 40px;
  height: 40px;
}
.ns-input-shadow {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(153, 153, 153, 0.2);
}
.ns-input-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.base-title-style {
  position: relative;
  display: block;
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold !important;
  color: #222222;
}
.base-title-style:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  background: #fc7008;
  z-index: 9;
  height: 16px;
  top: 50%;
  left: 0;
  margin: -8px 0 0;
}
.empty-style {
  position: relative;
  padding: 5px 5px 5px 30px;
  min-height: 30px;
}
.empty-style:before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f071";
  color: #f39800;
  top: 6px;
  left: 8px;
}
.no-data {
  min-height: 200px;
  background: #eff5fc;
  border: 1px solid #d9e9f8;
  position: relative;
}
.no-data:before {
  display: block;
  content: '暂无数据';
  position: absolute;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: 0px 0 0 -40px;
  color: #98c4ec;
}
.no-data:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '\f01c';
  font-family: "FontAwesome";
  font-size: 32px;
  margin: -26px 0 0 -16px;
  color: #98c4ec;
}
.base-title-style {
  padding-left: 0;
}
.base-title-style:before {
  display: none;
}
/* ===================== 文档 ======================*/
.nsdocument-ui {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative;
}
.nsdocument-ui .document-content {
  clear: both;
}
.nsdocument-ui .document-content .content {
  position: relative;
}
/*可运行代码*/
.nsdocument-ui [ns-data-format="code"] {
  border: 1px solid #c7d9e8;
  background-color: #f1f7f7;
  color: #2c597d;
  margin-bottom: 0;
}
.nsdocument-ui pre[contenteditable="true"] {
  color: #207eca;
  margin: 15px 0 0 0;
  font-family: Consolas;
}
.nsdocument-ui [ns-data-format="code"] + .btns-container {
  background-color: #fff;
  padding: 3px;
  border: 1px solid #ddd;
  border-top: none;
}
/*js地址*/
.nsdocument-ui .note .block.js:after {
  content: "JavaScript URL";
}
/*说明和用途*/
.nsdocument-ui .note .block.app:after {
  content: "说明和用途";
}
/*版本号和最后修改日期*/
.nsdocument-ui .note .block.ver:after {
  content: "Latest. - Ver.";
}
.nsdocument-ui .document-content .content .user-example .form-td {
  border-color: #dedede;
}
.nsdocument-ui .document-content .content .user-example .form-td .form-group {
  height: 40px;
}
.nsdocument-ui .document-content .content .user-example .form-td .form-group .form-item .form-control {
  height: 40px;
}
.nsdocument-ui .document-content .content .user-example .form-td .form-group .form-item:before {
  background-color: #dedede;
}
.nsdocument-ui .document-content .content .user-example table.code {
  margin: 5px 0;
  border: none;
}
.nsdocument-ui .document-content .content .user-example table.code thead:first-child > tr:last-child th {
  white-space: nowrap;
  background: #6ea6d4;
  height: 34px;
  color: #666666;
  font-weight: 600;
  background-color: #F7F7F7;
  border: 1px solid transparent;
  text-align: left;
}
.nsdocument-ui .document-content .content .user-example table.code thead > tr > th:first-child {
  width: 34px;
  min-width: 34px;
  max-width: 34px;
  padding: 0;
  text-align: center;
}
.nsdocument-ui .document-content .content .user-example table.code tbody tr:nth-child(2n) td {
  background-color: #f3f8fd;
}
.nsdocument-ui .document-content .content .user-example table.code tbody tr td {
  border-color: transparent;
  border: none;
  padding: 8px 4px;
  line-height: 1.5;
}
.nsdocument-ui .document-content .content .user-example table.code tbody tr td:first-child {
  width: 34px;
  min-width: 34px;
  max-width: 34px;
  padding: 0;
  text-align: center;
}
.nsdocument-ui .title h1 {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #393D49;
  border-bottom: 1px solid #eee;
  font-family: inherit;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
}
.nsdocument-ui .sub-title {
  font-size: 23px;
  margin: 10px 0;
  padding-top: 20px;
  line-height: 1;
}
.nsdocument-ui .note {
  position: absolute;
  top: 0;
  right: 0;
}
.nsdocument-ui .note .block {
  display: inline-block;
  border: 1px solid #f0d5a6;
  color: #f09948;
  padding: 0 0 0 4px;
  float: right;
  clear: both;
  margin-top: 4px;
  background-color: #fff;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.nsdocument-ui .note .block:after {
  background-color: #f09948;
  color: rgba(255, 255, 255, 0.7);
  padding: 2px 6px;
  margin-left: 4px;
  min-width: 120px;
  display: inline-block;
  text-align: center;
}
.nsdocument-ui .document-content h2 {
  font-size: 14px;
  color: #1c5884;
  border-bottom: 1px solid #c9e9f1;
  padding: 5px 0;
  line-height: 24px;
  margin-top: 15px;
}
.nsdocument-ui .document-content h2 > small {
  padding: 0 5px;
  margin-left: 15px;
  color: #000;
  border-left: 2px solid #000;
  font-weight: bolder;
  font-size: 14px;
}
.nsdocument-ui .document-content h2.func:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 23px;
  margin-right: 5px;
  color: #c9e9f1;
  display: inline-block;
  content: "\f121";
}
.nsdocument-ui .document-content .content {
  font-size: 14px;
  color: #424b50;
}
.nsdocument-ui .document-content .content p {
  line-height: 1.7;
  padding: 6px 0;
  margin-bottom: 10px;
  font-size: 14px;
}
.nsdocument-ui .document-content .content ul {
  margin-bottom: 10px;
  line-height: 1.7;
}
.nsdocument-ui .document-content .content ul li {
  list-style: disc inside;
  font-size: 14px;
}
.nsdocument-ui .document-content .content ul li a {
  font-size: 14px;
}
.nsdocument-ui .document-content .content a {
  color: #4183c4;
  font-size: 14px;
}
.nsdocument-ui .document-content .content a:hover {
  text-decoration: underline;
}
.nsdocument-ui .document-content .content .user-example {
  padding: 35px 15px 15px;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 20px 0;
  position: relative;
}
.nsdocument-ui .document-content .content .user-example:before {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #999;
  font-size: 12px;
  content: "实例";
  font-weight: bold;
}
.skin-peis .content-box .page-title {
  height: 45px;
  margin-left: -15px;
  margin-top: -15px;
  margin-right: -15px;
  background-color: #f4f8f9;
  border: none;
}
.nsdocument-ui .document-content .content pre.example {
  border: 1px solid #ddd;
  border-left-width: 5px;
  background-color: #f5f5f5;
  padding: 20px;
  line-height: 1.7;
  border-radius: 4px 4px 0 0;
}
.nsdocument-ui .document-content .content pre.example + .btns-container .btn {
  margin: 5px;
  vertical-align: middle;
  background-color: #e9686b;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 2px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 2px;
  padding: 6px 14px;
  overflow: hidden;
  transition: 0.2s ease-out;
  border-radius: 2px;
}
.nsdocument-ui .document-content .content pre.example + .btns-container .btn i,
.nsdocument-ui .document-content .content pre.example + .btns-container .btn span {
  color: #ffffff;
}
.nsdocument-ui .document-content .content pre.example + .btns-container .btn:hover {
  background-color: #ba3537;
}
