// color-主色-用于标识品牌颜色
@primary: #7f9ae4;
// @primary: #8500f1;


// color-辅助色-用于标识状态的按钮等
@success: #47d9ae;
@warning: #ff9000;
@danger: #f50600;
@info: #4abbc2;
@gray: #777;
@gray-darker: darken(@gray, 20);
@gray-dark: darken(@gray, 10);
@text-color: @primary;
@link-color: @gray-dark;
@link-hover-color: darken(@link-color, 15);

// @body-bg: #002d77;
@body-bg: #002679;
@border-color: @primary;

// bg-color
@bg-primary: lighten(@primary, 20);
@bg-success: lighten(@success, 20);
@bg-danger: lighten(@danger, 20);
@bg-warning: lighten(@warning, 20);
@bg-info: lighten(@info, 20);
@bg-gray: lighten(@gray, 20);

@font-size-base: 14px;

@border-radius-sm: .25rem;
@border-radius-base: .5rem;
@border-radius-circle: 100rem;

// 阴影
@box-shadow: 0rem 0rem 2rem 1rem rgba(30, 88, 255, 0.5) inset;
@box-shadow-out: 0 0 10px rgba(127, 154, 228, 0.5);

//scrollbar--滚动条
@scrollbar-width: 0;
@scrollbar-border-width: 0;
@scrollar-bg: rgba(0, 38, 12, 0.3);
@scrollbar-control-bg: #0035a2;
@scrollbar-control-height: 48px;

@base-padding: 1rem;
@base-margin: @base-padding;


@border-color: @primary;

.box-shadow {
    box-shadow: @box-shadow-out;
}


@qdzc-sub-light-color: #03c2ec;
@qdzc-sub-dark-color: #002679;

@primary-light-2: lighten(@primary, 2%);
@primary-light-20: lighten(@primary, 20%);
@primary-dark-10: darken(@primary, 10%);
@primary-dark-15: darken(@primary, 15%);
@primary-dark-40: darken(@primary, 40%);