.list-item-variant(@bg,@color,@hover-bg, @hover-color){
    background: @bg;
    color: @color;
    &:hover{
        background: @hover-bg;
        color: @hover-color;
    }
}


.pt-list-size-base{
    .pt-list-item{
        a{
            .padding-sm();
        }
    }
}
.pt-list-size-md{
    .pt-list-item{
        a{
            .padding-base();
        }
    }
}
.pt-list-size-lg{
    .pt-list-item{
        a{
            .padding-lg();
        }
    }
}
