.rgba-color(@color,@alpha: 1){
    @color-rgba: rgba(red(@color), green(@color), blue(@color), @alpha);
    color: @color-rgba;
}

.rgba-bg(@color, @alpha:1){
    @color-rgba: rgba(red(@color), green(@color), blue(@color), @alpha);
   background: @color-rgba;
}