@e-editor-landing-bg: darken(@primary, 5);
@e-editor-landing-card-width: 1170px;
@e-editor-landing-border-color: lighten(@primary, 5);


.editor-landing {
    .flex-block(center, center);
    flex-direction: column;
    position: fixed;
    top: @e-header-height;
    right: 0;
    bottom: 0;
    left: 0;
    background: @e-editor-landing-bg;
    z-index: 1049;
    font-size: 14px;

    .editor-landing-title {
        .flex-block(center, center);
        color: lighten(@e-editor-landing-bg, 15);
        padding: 0 100px;
        flex: 0 0 240px;
        margin: 30px auto 30px;
        font-size: 36px;
        font-weight: bold;

    }

}