@e-row-margin: 0 -@base-margin;

//头部高度 + 右侧控制面板宽度 + 0 + 左侧菜单宽度
@ns-type-editor-body-padding: @e-header-height 0 0 0;
body[ns-type="editor"]{
    padding: @ns-type-editor-body-padding;

    .row{
        margin: @e-row-margin;
    }
}
