@e-panel-padding: @base-padding;
@e-panel-margin: @e-panel-padding;

[ns-type="editor"] {

    .panel {
        position: relative;
        border: 0;
        margin-bottom: @e-panel-margin;
        padding: 0;
        box-shadow: none;

        .panel-footer {
            padding: @e-panel-padding;
            background: transparent;
            border: 0;
        }
    }
}