// @navbar-bg: #e6e6e6;
@header-bg: #fff;
@header-bg: #444;
@header-height: 50px;
@nav-bg: #c70019;
@nav-width: 200px;
@pt-logo-bg: @header-bg;
@pt-tabbar-bg: #efefef;
@header-color: #fff;


body.pt-veritical {
    padding: @header-height 0 0 @nav-width;

    .pt-header {
        .pt-container {

            // ================= topbar =================
            .pt-topbar {
                height: @header-height;
                background: @header-bg;

                // logo背景色
                .pt-logo {
                    background-color: @pt-logo-bg;
                    height: @header-height;
                    width: @nav-width;
                }

                .pt-nav.pt-dropdown {
                    height: @header-height;

                    .pt-top-menu-item {
                        .pt-top-menu-item-row {
                            .pt-nav-item {
                                height: @header-height;
                                line-height: @header-height;
                                color: @header-color;

                                &:hover {
                                    background: #f4f4f4;
                                    color: #444;
                                }

                                i {
                                    line-height: @header-height;
                                }
                            }
                        }
                    }
                }

            }

            // ================= tabbar =================

            .pt-tabbar {
                background: @header-bg;
                height: @header-height;
                left: 216px;
                right: 210px;

                .pt-nav {
                    height: @header-height;

                    li.pt-nav-item {
                        height: @header-height;
                        line-height: @header-height;

                        &:hover {
                            color: #000;
                        }

                        a {
                            line-height: @header-height;
                            color: @header-color;
                        }

                        &.current {
                            background: @nav-bg;
                            border-bottom: 0px solid @nav-bg;

                            &:after {
                                bottom: 0;
                                left: 50%;
                                margin-left: -5px;
                                .triangle-top(5px, #fff);
                                border-width: 0 5px 5px 5px;
                            }

                            a {
                                color: #fff;

                                &:hover {
                                    color: #fff;
                                }
                            }


                            &:hover {
                                background: #f8f8f8;
                            }
                        }
                    }

                    &.pt-tabbar-control {
                        height: @header-height;
                        border-right-color: @header-bg;

                        .pt-nav-toggle {
                            height: @header-height;
                            line-height: @header-height;

                            i {
                                line-height: @header-height;
                            }
                        }

                    }
                }
            }


            // ================= navbar =================

            // 左侧菜单面板背景色
            .pt-navbar {
                width: @nav-width;
                min-width: @nav-width;
                background-color: @pt-tabbar-bg;
                top: @header-height;

                .pt-nav.pt-dropdown {
                    ul {
                        padding-top: 0;
                    }

                    li.pt-top-menu-item {
                        padding-bottom: 0;
                    }
                }
            }

            .pt-navbar .pt-nav>ul>li.pt-top-menu-item:hover>.pt-top-menu-item-row>.pt-nav-item {
                background: transparent;
            }

            // 左侧菜单文字颜色
            .pt-navbar .pt-nav.pt-dropdown li.pt-top-menu-item .pt-top-menu-item-row .pt-nav-item {
                color: #444;

                i {
                    color: #444;
                }
            }

            .pt-navbar .pt-nav.pt-dropdown li.pt-top-menu-item .pt-top-menu-item-row .pt-nav-item:visited,
            .pt-navbar .pt-nav.pt-dropdown li.pt-top-menu-item .pt-top-menu-item-row .pt-nav-item:hover,
            .pt-navbar .pt-nav.pt-dropdown li.pt-top-menu-item .pt-top-menu-item-row .pt-nav-item:active {
                background: @nav-bg;
            }

            .pt-navbar .pt-nav.pt-dropdown li.pt-top-menu-item {
                .pt-top-nav-block {
                    background: @nav-bg;
                }

                &.open {
                    .pt-top-menu-item-row {
                        .pt-nav-item {
                            background: @nav-bg;

                            i {
                                color: #fff;
                            }
                        }
                    }

                    .pt-top-nav-block {
                        .pt-top-menu-item-row {
                            .pt-nav-item {
                                background: @nav-bg;
                            }
                        }
                    }
                }
            }



            // 展开面板列表经过背景色
            .pt-navbar .pt-nav.pt-dropdown li.pt-top-menu-item .pt-top-nav-block .pt-top-menu-item .pt-top-menu-item-row .pt-nav-item:visited,
            .pt-navbar .pt-nav.pt-dropdown li.pt-top-menu-item .pt-top-nav-block .pt-top-menu-item .pt-top-menu-item-row .pt-nav-item:hover,
            .pt-navbar .pt-nav.pt-dropdown li.pt-top-menu-item .pt-top-nav-block .pt-top-menu-item .pt-top-menu-item-row .pt-nav-item:active {
                background: darken(@nav-bg, 5);
            }

            .pt-navbar .pt-nav.pt-dropdown li.pt-top-menu-item .pt-top-nav-block .pt-top-menu-item .pt-top-menu-item-row .pt-nav-item {
                color: #fff;
            }

            // 列表右侧箭头颜色
            .pt-navbar .pt-nav.pt-dropdown li.pt-top-menu-item.dropdown-arrow>.pt-top-menu-item-row>.pt-nav-item:after {
                color: #444;
                right: 10px;
            }

            .pt-navbar .pt-nav.pt-dropdown li.pt-top-menu-item.dropdown-arrow.open>.pt-top-menu-item-row>.pt-nav-item:after {
                color: #fff;
            }
        }
    }

    &.pt-systeminfo {
        .pt-header {
            ul.pt-nav.pt-dropdown {
                .pt-top-menu-item {
                    &.pt-nav {
                        height: @header-height;
                    }

                    &:last-child {
                        .pt-setting-icon {
                            height: @header-height;
                            background: @header-bg;

                            .icon {
                                line-height: @header-height;
                                color: @header-color;
                            }
                        }
                    }
                }
            }
        }
    }

    // 左侧面板开关按钮
    .pt-btn.pt-sidebar-collapse {
        background: @header-bg;
        left: @nav-width;

        &.pt-btn-icon {
            height: @header-height;
            border-left: 1px solid @header-bg;

            i {
                color: #fff;
            }
        }

    }
}