.pt-panel {
    .pt-panel-col {
        &.pt-list-collection {
            border: 0;

            .pt-components-list,
            .pt-components-vo {
                margin-top: 0;

                div.pt-form {
                    padding: 0;
                }
            }
        }

        .pt-components-list,
        .pt-components-vo {
            margin-top: 0;

            div.pt-form {
                padding: 0;
            }
        }
    }
}