.scroll-vertical {
    &.list {
        .list-group {
            border: none;

            .list-item {
                border-top: none;
            }

            &+ul {
                margin-top: 0;
            }
        }
    }
}

.list {
    .list-group {
        .list-item {
            height: 5rem;

            .list-content {
                .flex-block();
                flex-direction: row;
                .list-text {
                    flex: 1;
                }
                .list-text + .list-text{
                    margin-top: 0;
                }
            }
        }
    }

}