.transition(@time: .25s;){
    transition: ease-in-out all @time;
    -moz-transition: ease-in-out all @time;
    -webkit-transtion: ease-in-out all @time;
    -o-transition: ease-in-out all @time;
}

.translate(@x; @y) {
    -webkit-transform: translate(@x, @y);
        -ms-transform: translate(@x, @y); // IE9 only
         -o-transform: translate(@x, @y);
            transform: translate(@x, @y);
  }