.inquiry {
    .inquiry-state(@color) {


        .block-list-content {
            border: 1px solid @color;
            padding: 5px;
            padding-left: 10px;

            .list-body {
                vertical-align: middle;
                color: @color;
            }

            .list-after {
                span {
                    color: #fff;
                    padding: 0 6px;
                    background: @color;
                    min-width: 36px;
                    float: right;
                    height: 22px;
                    line-height: 22px;
                }
            }

            &:before {
                top: 2px;
                left: 2px;
                .triangle-left-top(7px, @color);
            }
        }
    }

    .inquiry-item {
        .block-list-content {
            height: 40px;
        }
    }

    .inquiry-warning {
        .inquiry-state(@warning);
    }

    .inquiry-danger {
        .inquiry-state(@danger);
    }
}