.occ-harm{
    padding: (@base-padding / 2) @base-padding;
    border: 1px solid @border-color;

    .title{
        line-height: 28px;
        .more{
            float: right;
            color: #777;
        }
    }
    .pt-tags{
        padding: 0;
        &:hover{
            background: transparent;
            
        }
        .pt-tags-item{
            background: #eee;
            display: inline-block;
            padding: 0 (@base-padding / 2);
            margin-left: (@base-margin / 2);
            margin-top: (@base-margin / 2);
            border-radius: 3px;
            &:first-child{
                margin-left: 0;
            }
        }
        p{
            color: #999;
        }
    }
}