@card-hole-size: 10px;
.card-group{
    .card-list{
        .card{
            display: table;
            width: 100%;
            border-radius: 5px;
            background: #eee;
            min-height: 72px;
            .card-before,
            .card-body,
            .card-after{
                display: table-cell;
                vertical-align:middle;
                padding: 0 @base-padding;
            }
            .card-before,
            .card-after{
                text-align: center;
                .pt-btn{
                    height: 18px;
                    padding: 0 3px;
                    
                }
            }
            .card-before{
                font-size: 14px;
                position: relative;
                & + .card-body{
                    border-left: 2px dashed #fff;
                }
                &:before,
                &:after{
                    position: absolute;
                    content: '';
                    display: block;
                    width: 10px;
                    height: 5px;
                    background: #fff;
                    right: -6px;
                }
                &:before{
                    top: 0;
                    border-radius: 0 0 10px 10px;
                }
                &:after{
                    bottom: 0;
                    border-radius: 10px 10px 0 0;
                }
            }
            .card-title{
                font-size: 18px;
            }
        }
    }
}