.sum-up{
    height: auto;
    overflow: hidden;
    .sum-up-form{
        width: 50%;
        float: left;
    }
    .media-group{
        width: 50%;
        float: left;
        border: 1px solid @border-color;
        padding: @base-padding;
    }
}