@search-box-height: 28px;

.search-box {
    display: block;
    width: 100%;
    position: relative;

    .pt-form-control {
        width: 100%;
        height: @search-box-height;
        padding-left: @search-box-height;
    }

    &:before {
        position: absolute;
        content: '\ea03';
        font-family: @icon-font-icomoon;
        .square(@search-box-height);
        line-height: @search-box-height;
        text-align: center;
        color: #444;
    }
}