
.user-photo{
    text-align: center;
    padding: @base-padding 0;
    background: #fff;
    border: 1px solid @border-color;
    margin-bottom: @base-margin;

}
.user-photo-eidt{
  .pt-btn-group{
      .pt-btn{

      }
  }
}
.user-info,
.queue{
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid @border-color;
    .list{
        .list-item{
            padding: 5px @base-padding;
            // 姓名
            .name{
                font-size: 16px;
            }
            // 性别
            .sex{
                font-size: 16px;
                font-weight: bold;
                padding-left: (@base-padding / 2);
                // 男性
                &.sex-male{
                    i{
                        color: #00cb99;
                    }
                }
                // 女性
                &.sex-female{
                    i{
                        color: #ff5277;
                    }
                }
            }
        }
    }
}