@pre-font-size: @font-size-sm;
@pre-line-height: 14px;
@pre-padding: 30px;

[ns-type="editor"]{
    pre{
        font-size: @pre-font-size;
        padding: 0 @pre-padding;
        line-height: @pre-line-height;
        border-radius: 0;
        // background: transparent;
    }
}