@mobile-primary: #5077aa;
@mobile-primary-dark: darken(@mobile-primary, 40%);
@mobile-info: #4ea5f5;
@mobile-info-dark: darken(@mobile-info, 40%);
@mobile-success: #63cd8d;
@mobile-success-dark: darken(@mobile-success, 40%);
@mobile-warning: #ffc178;
@mobile-warning-dark: darken(@mobile-warning, 40%);
@mobile-danger: #ff8278;
@mobile-danger-dark: darken(@mobile-danger, 40%);
@mobile-warning: #f7b500;
@mobile-gray: #888;
@mobile-title-color: #003c7d;
@mobile-color: #9db0d1;
@mobile-body-bg: #f4f4f4;

@ns-border-color: #ddd;
@control-label-color: #a3afc4;

@mobile-border-color: #d1d1d1; //手机版边框颜色

@mobile-list-group-title-color: #313131; //列表标题字体颜色
@mobile-list-group-title-height: 3.25rem; //列表标题高度

@mobile-card-title-color: #313131; //列表标题字体颜色
@mobile-card-header-height: 3.2rem; //列表标题高度

@mobile-user-img-width: 3.8rem; //用户头像大小
@mobile-list-icon-color: #c8c8cd; //图标颜色

@mobile-text-color: #999; //次要文字颜色

@mobile-line-height-lg: 2.5rem; //文字行高大
@mobile-line-height-md: 1.8rem; //文字行高中
@mobile-line-height-sm: 1.5rem; //文字行高小

@mobile-font-size-sm: 12px;
@mobile-font-size: 16px;
@mobile-font-size-md: 1.5rem;
@mobile-font-size-lg: 1.75rem;
@mobile-panel-border-radius: .3rem;
@gray-light: #b0b0b0;

@box-padding: .5rem 1rem;
// frame
@base-padding: 1.5rem;
@base-margin: 1.5rem;

/* header */
@mobile-header-height: 4rem;
@mobile-logo-size: 110px;
@mobile-window-title-bg: #edeff2;

@content-padding: 1rem;
@content-box-row: -@content-padding;
// footer
@mobile-footer-height: 5rem;
@mobile-footer-height-sm: (@mobile-footer-height - 1rem);


// font
@icon-font-size: 1.25rem;
@icon-font-size-md: 1.75rem;
@icon-font-size-lg: 2rem;