[ns-system="mobile"] {
    .confirm-container {
        .confirm-footer {
            button.btn {
                background: #fff;

                span {
                    color: #000 !important;
                }

                &.btn-default,
                &.btn-success,
                &.btn-info,
                &.btn-warning,
                &.btn-danger{
                    background: #fff;
                    span{
                        color: #000 !important;
                    }
                }
                &.btn-success{
                    i{
                        color: @ns-success;
                    }
                }
                &.btn-info{
                    i{
                        color: @ns-info;
                    }
                }
                &.btn-warning{
                    i{
                        color: @ns-warning;
                    }
                }
                &.btn-danger{
                    i{
                        color: @ns-danger;
                    }
                }

            }
        }
    }
}