[ns-system="mobile"] {
    .ns-map-container{
        height: 100%;
    }
    .map-position{
        position: fixed;
        top: auto;
        right: 1rem;
        bottom: 5.2rem;
        left: 59px;
        color: #fff;
        padding: 1rem;
        font-size: 12px;
        border-radius: .25rem;
        background: rgba(0,0,0, .75);

        & > span{
            padding-left: @base-padding;
            &:first-child{
                padding-left: 0;
            }
        }
    }
    .ns-map-search{
        position: absolute;
        z-index: 9;
        background: #fff;
        height: 4rem;
        top: 0;
        right: 0;
        left: 0;
    }
}