[ns-system="mobile"]{
	.selectboxit-container{
		.selectboxit{
			.selectboxit-text{
				text-indent: 0 !important;
				.flex-block(flex-end, center);
				font-size: @mobile-font-size;
				height: 4rem;
				color: @mobile-primary-dark;
			}

		}
		// 下拉选择箭头
			span.selectboxit-arrow-container{
				.size(30px, 4rem);
				.flex-block(center, center);
				&:after{
					.size(30px, 4rem);
					.flex-block(center, center);
					top: 0;
					right: 0;
				}

			}
	}
	
}