a {
  text-decoration: none;
  color: #424242;
}

@media (min-width: 768px) {
  .netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-box {
    width: 33.3%;
  }
}

@media (min-width: 992px) {
  .netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-box {
    width: 33.3%;
  }
}

@media (min-width: 1020px) {
  .netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-box {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-box {
    width: 25%;
  }
}

@media (min-width: 1560px) {
  .netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-box {
    width: 16.6%;
  }
}

.card-box {
  padding: 5px;
}

/* 警告 */

.card-box-warm {
  background-color: #ffb339 !important;
  border: 1px solid rgba(255, 160, 4, 0.5) !important;
}

.card-box-warm span {
  color: #fff !important;
}

.card-box-warm:hover {
  background-color: #ffd084 !important;
}

/* 过期 */

.card-overdue {
  background-color: rgb(82, 173, 253) !important;
  border: 1px solid rgb(82, 173, 253) !important;
}

.card-overdue span {
  color: #fff !important;
}

.card-overdue:hover {
  background-color: #79c1ff !important;
}

.netstar-welcome-content {
  padding: 20px;
}

.netstar-welcome-content .netstar-welcome-item {
  padding: 20px;
  margin-bottom: 10px;
}

.netstar-welcome-content .netstar-welcome-item:nth-child(1) {
  border-bottom: 1px solid #bfbfbf;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-title {
  font-size: 16px;
  padding: 0 0 20px 0;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task-warn {
  align-items: center;
}

/* .netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task:nth-child(1) {
  margin-right: 10px;
  margin-bottom: 10px;
}
 */

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
  padding: 20px 14px;
  border-radius: 4px;
  border: 1px solid #f3f3f3;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task .card-task-left {
  line-height: 57px;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task .card-task-left .card-title {
  font-size: 16px;
  color: #424242;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task .card-task-left .card-title i {
  font-size: 22px !important;
  color: #fff !important;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task .card-task-right .card-num {
  font-size: 40px;
  color: #ffa004;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task:hover {
  background: #f5f5f5;
  border: 1px solid transparent
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task-width {
  min-width: 16.6%;
  min-height: 120px;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task-vertical {
  flex-direction: column;
  border-radius: 4px;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task-vertical .card-task-top {
  display: flex;
  flex: 1;
  justify-content: space-between;
  position: relative;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task-vertical .card-task-top .card-title {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task-vertical .card-task-top .card-title a {
  font-size: 14px;
  line-height: 28px;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task-vertical .card-task-top .card-task-num {
  color: #ffa004;
  font-size: 26px;
  position: absolute;
  top: -8px;
  right: 0;
  bottom: 0;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task-vertical .card-task-bottom .card-task-tag {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 12px;
  color: #acafb1;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task-vertical .card-task-bottom .card-task-tag span {
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.netstar-welcome-content .netstar-welcome-item .netstar-welcome-item-body .list-block .card-task-vertical .card-task-bottom .card-task-tag .card-task-time {
  width: 40%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}

.netstar-welcome-item-line {
  height: 1px;
  background: #bfbfbf;
}