
@title-font-size: @font-size-base;

@title-border-color: transparent;

.title-variant( @title-font-size){
    font-size:  @title-font-size;
    border-bottom: 1px solid @title-border-color;
    span{
        font-size: @title-font-size;
    }
}