.pt-btn-group {
    &.pt-btn-group-step {
        float: right;

        .pt-btn {
            &.pt-btn-text {
                border: 0;
                background: transparent;
                color: #000;
                cursor: default;

                &:hover {
                    background: transparent;
                    color: #000;
                }

            }
        }
    }
}