.filter {
    .pt-btn-group {
        .pt-btn {
            &.current {
                background: @warning;
                border-color: @warning;

                span {
                    color: #fff;
                }
            }
        }
    }
}