.pt-list{
    .pt-list-group{
        .pt-list-item{
            a{
                &:hover{
                    background: #f5f5f5;
                }
                .pt-badge{
                    float: right
                }
            }
        }
    }
}
.block-list {
 .block-list-item{
     display: table;
     width: 100%;
     .block-list-before,
     .block-list-body,
     .block-list-after{
         display: table-cell;
     }
     .block-list-before + .block-list-body,
     .block-list-before + .block-list-after,
     .block-list-body + .block-list-after{
         padding-left: @base-padding;
     }
 }  
}


.block-list-dropdown{
    display: none;
}