.text-through {
    text-decoration: line-through;
    color: #777;
}

.text-primary {
    color: @primary;
}

.text-info {
    color: @info;
}

.text-success {
    color: @success;
}

.text-warning {
    color: @warning;
}

.text-danger {
    color: @danger;
}


.text-gray {
    color: #666;
}