// 电路图开关
.e-building {
    height: 100%;

    path {
        stroke: @info;
        stroke-width: 1;
        fill: rgba(0, 119, 255, 0.45);

        &.path-a {
            stroke: @info;
            fill: transparent;
            .rgba-shadow(0, 0, 5rem, @info, 1);
        }
    }

}


.path-box {
    position: relative;
    margin: 300px;
    svg{
        margin: 0;
    }
   
}