@table-color: #fff;
@table-border-color: @primary;
@th-bg: @primary;
@th-color: @table-color;
.table{
    color: #fff;
    thead{
        th{
            background: @th-bg;
            color: @th-color;
        }
    }
}
    