//========= 颜色 =========
// 主色  
@primary: #222;
@primary: #292c33;
// @primary: #1d212b;
@info: #2fa4fd;

// @info: #6b699b;
@success: #00ce7f;
@warning: #ffa013;
@danger: #fa1d2c;
@gray: #555;
@bg-primary: @primary;
@bg-success: @success;
@bg-warning: @warning;
@bg-danger: @danger;
@bg-gray: @gray;


@e-text-gray-color: rgba(255, 255, 255, .75); //(带主题色的灰色文字)
@link-color: @gray;

//========= 文字 =========
// 字体
@font-family: "Microsoft YaHei", Arial, sans-serif;
@icon-font: "FontAwesome";
@icon-font-icomoon: "icomoon";

// 字号
@font-size-sm: 12px;
@font-size-base: 14px;
@font-size-md: 16px;
@font-size-lg: 18px;
@font-size-lx: 24px;

// 文字颜色
@text-primary: @primary;
@text-success: @success;
@text-warning: @warning;
@text-danger: @danger;

// 行高
@line-height: 1.5;

//========= 边框 =========
// 边框颜色
@border-color: #ddd;

//========= 边距 =========
// 内边距 padding
@base-padding: 10px;

// 外边距
@base-margin: @base-padding;

//========= 圆角 =========
@border-radius-sm: 3px;
@border-radius-base: 5px;
@border-radius-lg: 10px;
@border-radius-circle: 1000px;

//========= 滚动条 =========
@scrollbar-width: 10px;
@scrollbar-bg: @gray-900;
@scrollbar-control-height: 60px;
@scrollbar-control-bg: @gray-500;
@scrollbar-border-width: 1px;


//========= 图片路径 =========
@images: "../images";


// bootstrap栅格化
@grid-columns: 12;
@grid-gutter-width: 20px;
@grid-float-breakpoint: @screen-sm-min;
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);
@container-tablet: (720px + @grid-gutter-width);
@container-sm: @container-tablet;
@container-desktop: (940px + @grid-gutter-width);
@container-md: @container-desktop;
@container-large-desktop: (1140px + @grid-gutter-width);
@container-lg: @container-large-desktop;

@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-phone: @screen-xs-min;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-tablet: @screen-sm-min;
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-desktop: @screen-md-min;
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
@screen-lg-desktop: @screen-lg-min;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);