a {
	text-decoration: none;
	color: #6d6d72
}

* {
	box-sizing: border-box;
}

.carrepairlogin {
	width: 100%;
	height: 100%;
}
.carrepairlogin .hide{display:none}
@media ( min-width :768px) {
	body {
		width: 100%;
		height: 100%;
		position: fixed;
		top:0;
		left:0;
		background: #fff;
		background: url(../images/netstar/login/bg.jpg) repeat-x top;
		font-size: 12px;
		font-family: 'Microsoft Yahei';
	}
	.carrepairlogin .wrap-left {
		width: 100%;
		height: 56px;
		position: fixed;
		top: 332px;
		right: 1000px;
		background: #1871d4;
		z-index: -1
	}
	.carrepairlogin .wrap {
		width: 1200px;
		height: 100%;
		margin: 0px auto;
	}
	.carrepairlogin .wrap .header {
		width: 356px;
		height: 56px;
		margin: 58px 0px 0px 70px;
		padding: 23px 0px 0px 123px;
		color: #FFF;
		font-size: 22px;
		font-weight: bold;
		background: url(../images/netstar/login/logo.png) no-repeat top left
	}
	.carrepairlogin .wrap .main {
		width: 1200px;
		height: 360px;
		background: url(../images/netstar/login/b-bg.png) no-repeat left bottom;
		margin-top: 48px;
		position: relative
	}
	.carrepairlogin .wrap .main .login {
		width: 345px;
		background: #fff;
		border: 1px #eaeaec solid;
		position: absolute;
		left: 588px;
		bottom:-50px;
		box-shadow: 1px 1px 10px #666;
	}
	.carrepairlogin .wrap .main .login .title {
		width: 344px;
		height: 56px;
		border-bottom: 1px #e9e9eb solid;
		line-height: 20px;
		padding: 22px 27px 13px 27px;
	}
	.carrepairlogin .wrap .main .login .title span {
		font-size: 14px;
		color: #000000;
	}
	.carrepairlogin .wrap .main .login .title .hot {
		width: 100px;
		height: 20px;
		float: right;
		text-align: right
	}
	.carrepairlogin .wrap .main .login .title .hot input {
		width: 14px;
		height: 14px;
		background: #fff;
		padding: 3px;
		border: none;
		color: #8e8e93;
		float: left
	}
	.carrepairlogin .wrap .main .login .title .hot .text {
		color: #8e8e93;
		font-size: 12px;
		line-height: 20px;
		float: left
	}
	.carrepairlogin .wrap .main .login .group {
		width: 345px;
		height: 137px;
		padding: 10px 27px 10px 27px;
	}
	.carrepairlogin .wrap .main .login .group .group-from {
		width: 289px;
		height: 39px;
		margin: 14px 0px;
		color: #8e8e93;
		position: relative
	}
	.carrepairlogin .wrap .main .login .group .group-from label {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 12px;
		left: 10px;
	}
	.carrepairlogin .wrap .main .login .group .group-from form {
		width: 289px;
		height: 39px;
		border: 1px #c8c7cc solid;
	}
	.carrepairlogin .wrap .main .login .group .group-from form select {
		width: 289px;
		height: 42px;
		padding: 3px 5px 3px 26px;
		border: none;
		background: none;
		position: relative;
		color: #a9a9a9;
	}
	.carrepairlogin .wrap .main .login .group .group-from form i.fa {
		right: 15px;
		font-size: 0.9rem;
		position: absolute;
		top: 13px;
		color: #8e8e93;
	}
	.carrepairlogin .wrap .main .login .group .group-from input {
		width: 289px;
		height: 42px;
		padding: 6px 5px 6px 29px;
		border: 1px #c8c7cc solid;
		color: #8e8e93
	}
	.carrepairlogin .wrap .main .login .group .group-from i.fa {
		font-size: 1.1rem;
		color: #8e8e93;
	}
	.carrepairlogin .wrap .main .login .user {
		width: 289px;
		height: 20px;
		margin: 13px 27px 11px 27px;
	}
	.carrepairlogin .wrap .main .login .user .reme {
		width: 100px;
		height: 20px;
	}
	.carrepairlogin .wrap .main .login .user .reme input {
		width: 14px;
		height: 14px;
		background: #fff;
		padding: 3px;
		border: none;
		color: #8e8e93;
		float: left
	}
	.carrepairlogin .wrap .main .login .user .reme .text {
		color: #8e8e93;
		font-size: 12px;
		line-height: 20px;
		float: left
	}
	.carrepairlogin .wrap .main .login .btn {
		width: 289px;
		height: 53px;
		margin: 0px 27px 17px 27px;
	}
	.carrepairlogin .wrap .main .login .btn input {
		width: 289px;
		height: 53px;
		background: #22ac38;
		border: none;
		text-align: center;
		color: #fff;
		font-size: 14px;
		font-weight: 700
	}
	.carrepairlogin .wrap .main .login .foot {
		width: 344px;
		height: 47px;
		background: #efeff4;
		padding: 16px 27px 0px 27px;
		color: #6d6d72
	}
	.carrepairlogin .wrap .main .login .foot i.fa {
		font-size: 1.1rem;
		color: #83b864;
	}
	.carrepairlogin .wrap .main .login .foot .order {
		width: 90px;
		height: 16px;
		float: left
	}
	.carrepairlogin .wrap .main .login .foot .order label {
		float: left
	}
	.carrepairlogin .wrap .main .login .foot .order .text {
		margin: 0px 5px;
		line-height: 17px;
		float: left
	}
	.carrepairlogin .wrap .bottom {
		width: 500px;
		height: 20px;
		line-height: 20px;
		color: #666666;
		text-align: right;
		position: fixed;
		bottom: 34px;
		right: 60px;
	}
	.carrepairlogin .wrap .bottom span {
		color: #373d45
	}
}
@media screen and (min-width:860px) and (max-width: 1000px){
	.carrepairlogin .wrap .main {
		width: 1200px;
		height: 360px;
		background: url(../images/netstar/login/b-bg2.png) no-repeat left center;
		margin-top: 48px;
		position: relative
	}
	.carrepairlogin .wrap .main .login {
		width: 345px;
		background: #fff;
		border: 1px #eaeaec solid;
		position: absolute;
		left:520px;
		bottom:-50px;
		box-shadow: 1px 1px 10px #666;
	}
}
@media screen and (min-width: 768px) and (max-width: 859px){
	.carrepairlogin .wrap .main {
		width: 1200px;
		height: 360px;
		background: url(../images/netstar/login/b-bg2.png) no-repeat left center;
		margin-top: 48px;
		position: relative
	}
	.carrepairlogin .wrap .main .login {
		width: 345px;
		background: #fff;
		border: 1px #eaeaec solid;
		position: absolute;
		left:480px;
		bottom:-50px;
		box-shadow: 1px 1px 10px #666;
	}
}

@media ( max-width :767px) {
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		font-size: 0.8rem;
		font-family: 'Microsoft Yahei';
		background: #fff;
		background: url(../images/netstar/login/s-bg.jpg) repeat-x top;
	}
	.carrepairlogin .wrap {
		width: 100%;
		height: 100%;
	}
	.carrepairlogin .wrap .header {
		height: 52px;
		margin: 24px 0px 0px 5%;
		padding: 23px 0px 0px 123px;
		color: #FFF;
		font-size: 1rem;
		font-weight: bold;
		background: url(../images/netstar/login/logo.png) no-repeat center center;
		background-size: 80%;
	}
	.carrepairlogin .wrap .main {
		width: 100%;
		height: 100%;
		margin-top: 48px;
	}
	.carrepairlogin .wrap .main .login {
		width: 100%;
		height: 350px;
		margin-bottom: 30px;
	}
	.carrepairlogin .wrap .main .login .title {
		width: 90%;
		height: 36px;
		line-height: 20px;
		padding-top: 12px;
		margin: 0 5%;
	}
	.carrepairlogin .wrap .main .login .title span {
		font-size: 1rem;
		color: #000000;
	}
	.carrepairlogin .wrap .main .login .title .hot {
		height: 20px;
		float: right;
	}
	.carrepairlogin .wrap .main .login .title .hot input {
		width: 14px;
		height: 14px;
		background: #fff;
		padding: 3px;
		border: 1px solid #dedede;
		color: #8e8e93;
		float: left
	}
	.carrepairlogin .wrap .main .login .title .hot .text {
		color: #8e8e93;
		font-size: 0.8rem;
		line-height: 20px;
		float: left
	}
	.carrepairlogin .wrap .main .login .group {
		width: 90%;
		height: 140px;
		margin: 0 5%;
		color: #8e8e93;
	}
	.carrepairlogin .wrap .main .login .group .group-from {
		width: 100%;
		height: 45px;
		margin: 14px 0;
		color: #666;
		position: relative;
		border: 1px #8e8e93 solid;
	}
	.carrepairlogin .wrap .main .login .group .group-from label {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 15px;
		left: 10px;
	}
	.carrepairlogin .wrap .main .login .group .group-from input {
		width: 100%;
		height: 43px;
		font-size: 0.9rem;
		padding: 10px 5px 6px 31px;
		border: none;
	}
	.carrepairlogin .wrap .main .login .group .group-from i.fa {
		font-size: 1.1rem;
		color: #8e8e93;
	}
	.carrepairlogin .wrap .main .login .user {
		width: 90%;
		height: 20px;
		margin: 2% 0 2% 5%;
	}
	.carrepairlogin .wrap .main .login .user .reme {
		width: 100px;
		height: 20px;
	}
	.carrepairlogin .wrap .main .login .user .reme input {
		width: 14px;
		height: 14px;
		background: #fff;
		padding: 3px;
		border: 1px solid #dedede;
		color: #8e8e93;
		float: left
	}
	.carrepairlogin .wrap .main .login .user .reme .text {
		color: #8e8e93;
		font-size: 0.8rem;
		line-height: 20px;
		float: left
	}
	.carrepairlogin .wrap .main .login .btn {
		width: 90%;
		height: 53px;
		margin: 1% 5%;
		background: #22ac38;
		border: none;
	}
	.carrepairlogin .wrap .main .login .btn input {
		width: 100%;
		height: 53px;
		background: none;
		border: none;
		text-align: center;
		color: #fff;
		font-size: 1rem;
		font-weight: 700
	}
	.carrepairlogin .wrap .main .login .foot {
		width: 100%;
		height: 47px;
		background: #efeff4;
		padding: 15px 5%;
		margin-top: 35px;
		color: #6d6d72
	}
	.carrepairlogin .wrap .main .login .foot i.fa {
		font-size: 1.1rem;
		color: #83b864;
	}
	.carrepairlogin .wrap .main .login .foot .order {
		width: 90px;
		height: 16px;
		float: left
	}
	.carrepairlogin .wrap .main .login .foot .order label {
		float: left
	}
	.carrepairlogin .wrap .main .login .foot .order .text {
		margin: 0px 5px;
		line-height: 17px;
		float: left
	}
	.carrepairlogin .wrap .bottom {
		width: 100%;
		height: 50px;
		line-height: 20px;
		color: #666666;
		text-align: center;
		position: fixed;
		bottom: 10px;
	}
	.carrepairlogin .wrap .bottom span {
		color: #373d45;
		display: block;
	}
}
@media screen and (min-width: 535px) and (max-width: 767px){
	.carrepairlogin .wrap .header {
		height: 72px;
		margin-top: 15px;
	}
}