/*============================DEMO==============================*/

/*------btn------*/
.page-body.skin-health .btn-primary {
  background: #16a085;
}
.page-body.skin-health .btn-primary:hover {
  background: #138a72;
  border-color: #138a72;
}
.page-body.skin-health .btn-primary:active,
.page-body.skin-health .btn-primary:focus {
  background: #0d5d4d;
  border-color: #0d5d4d;
}
.page-body.skin-health .btn.btn-secondary {
  background-color: #0f7e68;
  color: #ffffff;
}
.page-body.skin-health .btn.btn-secondary:hover {
  background-color: #0c6755;
  text-color: #ffffff;
}
.page-body.skin-health .btn.btn-secondary:active,
.page-body.skin-health .btn.btn-secondary:focus {
  background-color: #0c6755;
  border-color: #0b5e4e;
}
.page-body.skin-health .btn-success,
.page-body.skin-health .btn-warning,
.page-body.skin-health .btn-info,
.page-body.skin-health .btn-danger{ background: #fff; border:1px solid #d9d9d9; color: #333;}

.page-body.skin-health .btn-success i{color: #8dc63f;}
.page-body.skin-health .btn-warning i{color: #ffba00;}
.page-body.skin-health .btn-info i{color: #40bbea;}
.page-body.skin-health .btn-danger i{color: #cc3f44;}
.page-body.skin-health .btn-default i{color: #666;}

.page-body.skin-health .btn-success:hover,
.page-body.skin-health .btn-warning:hover,
.page-body.skin-health .btn-info:hover{ background: #f2f2f2;}
.page-body.skin-health .input-group .btn{border:0;}
/*----dialog-table-btn----*/
.page-body.skin-health .modal-content .table-responsive .table .td-upload{padding: 2px;}

.page-body.skin-health .modal-content .table-responsive .table .btn.btn-success i,
.page-body.skin-health .modal-content .table-responsive .table .btn.btn-warning i,
.page-body.skin-health .modal-content .table-responsive .table .btn.btn-info i,
.page-body.skin-health .modal-content .table-responsive .table .btn.btn-danger i{ background: none; border:0; padding:5px 7px 5px 6px; }
.page-body.skin-health .modal-content .table-responsive .table .btn{padding: 0; border: 0; background: none;}

.page-body.skin-health .modal-content .table-responsive .table .btn.btn-success:hover i{background: none; color: #5c9f00;}
.page-body.skin-health .modal-content .table-responsive .table .btn.btn-warning:hover i{background: none; color: #b87100;}
.page-body.skin-health .modal-content .table-responsive .table .btn.btn-info:hover i{background: none; color: #007dad;}
.page-body.skin-health .modal-content .table-responsive .table .btn.btn-danger:hover i{background: none; color: #9b0006;}
.page-body.skin-health .modal-content .table-responsive .table .btn.btn-white:hover i{background: none; color: #444;}
/*----table-td-btn----*/

.page-body.skin-health td.td-button button.btn.btn-icon.btn-success:hover,
.page-body.skin-health td.td-button button.btn.btn-icon.btn-warning:hover,
.page-body.skin-health td.td-button button.btn.btn-icon.btn-info:hover,
.page-body.skin-health td.td-button button.btn.btn-icon.btn-danger:hover,
.page-body.skin-health td.td-button button.btn.btn-icon.btn-white:hover,
.page-body.skin-health td.td-button button.btn.btn-icon.btn-success:hover i,
.page-body.skin-health td.td-button button.btn.btn-icon.btn-warning:hover i,
.page-body.skin-health td.td-button button.btn.btn-icon.btn-info:hover i,
.page-body.skin-health td.td-button button.btn.btn-icon.btn-white:hover i{background: none;}
.page-body.skin-health td.td-button button.btn.btn-icon.btn-success:hover i{color: #5c9f00;}
.page-body.skin-health td.td-button button.btn.btn-icon.btn-warning:hover i{color: #b87100;}
.page-body.skin-health td.td-button button.btn.btn-icon.btn-info:hover i{color: #007dad;}
.page-body.skin-health td.td-button button.btn.btn-icon.btn-danger:hover i{color: #9b0006;}
.page-body.skin-health td.td-button button.btn.btn-icon.btn-white:hover i{color: #444;}

.page-body.skin-health .settings-pane {
  background: #1daf92;
  color: #96ead9;
}
.page-body.skin-health .settings-pane p{color: #fff;}
.page-body.skin-health .settings-pane > a[data-toggle="settings-pane"] {
  color: #96ead9;
}
.page-body.skin-health .settings-pane > a[data-toggle="settings-pane"]:hover {
  color: #FFF;
}
.page-body.skin-health .settings-pane .user-info .user-details h3 a {
  color: #ffffff;
}
.page-body.skin-health .settings-pane .user-info .user-details .user-title {
  color: rgba(255, 255, 255, 0.65);
}
.page-body.skin-health .settings-pane .links-block.left-sep {
  border-left: 1px solid #16a085;
}
.page-body.skin-health .settings-pane .links-block h4 {
  color: #ffffff;
}
.page-body.skin-health .settings-pane .links-block h4 span {
  display: inline-block;
  border-bottom: 1px solid #1daf92;
}
.page-body.skin-health .settings-pane .links-block h4 a {
  color: #ffffff;
}
.page-body.skin-health .settings-pane .links-block h4 a:hover {
  color: #96ead9;
}
.page-body.skin-health .settings-pane .links-block ul li a {
  color: #96ead9;
}
.page-body.skin-health .settings-pane .links-block ul li a:hover {
  color: #ffffff;
}
.page-body.skin-health .sidebar-menu {
  background: #16a085;
}
.page-body.skin-health .sidebar-menu .logo-env {
  border-bottom: 1px solid #1daf92;
}
.page-body.skin-health .sidebar-menu .logo-env .settings-icon a {
  color: #96ead9;
}
.page-body.skin-health .sidebar-menu .logo-env .settings-icon a:hover {
  color: #ffffff;
}
.page-body.skin-health .sidebar-menu .main-menu a {
  color: #96ead9;
  border-bottom: 1px solid #1daf92;
  font-size: 13px;
}
.page-body.skin-health .sidebar-menu .main-menu a:hover {
  color: #ffffff;
}
.page-body.skin-health .sidebar-menu .main-menu li.active > a {
  color: #ffffff;
}
.page-body.skin-health .sidebar-menu .main-menu li.active ul li.active > a{
  color: #ffffff; background-color: #099176; border-left: 1px solid #1daf92; border-right: 1px solid #1daf92; cursor: default;
}
.page-body.skin-health .sidebar-menu .main-menu li.has-sub > a:before {
  color: #66e6cc;
}
.page-body.skin-health .sidebar-menu .ps-scrollbar-x-rail .ps-scrollbar-x,
.page-body.skin-health .sidebar-menu .ps-scrollbar-y-rail .ps-scrollbar-y {
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .page-body.skin-health .sidebar-menu.collapsed + .main-content .user-info-navbar .user-info-menu a[data-toggle="sidebar"] {
    color: #606161;
  }
  .page-body.skin-health .sidebar-menu.collapsed .main-menu > li.active,
  .page-body.skin-health .sidebar-menu.collapsed .main-menu > li li.active {
    background-color: #14937a;
  }
  .page-body.skin-health .sidebar-menu.collapsed .main-menu > li > ul {
    background: #16a085;
  }
}
.page-body.skin-health .page-loading-overlay {
  background-color: #16a085;
}
.page-body.skin-health.login-page {
  background: #16a085;
  color: #fff;
}
.page-body.skin-health.login-page .login-form .login-header .logo span {
  color: #96ead9;
}
.page-body.skin-health.login-page .login-form .login-header p {
  color: #96ead9;
}
.page-body.skin-health.login-page .login-form .form-group .control-label {
  color: #96ead9;
}
.page-body.skin-health.login-page .login-form .form-group .form-control.input-dark {
  background: #138a72;
  border: 1px solid transparent;
  color: #96ead9;
}
.page-body.skin-health.login-page .login-form .form-group .form-control.input-dark::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.page-body.skin-health.login-page .login-form .form-group .form-control.input-dark:-ms-input-placeholder {
  color: #ffffff;
}
.page-body.skin-health.login-page .login-form .form-group .form-control.input-dark::-webkit-input-placeholder {
  color: #ffffff;
}
.page-body.skin-health.login-page .login-form .form-group .form-control.input-dark::-webkit-input-placeholder {
  color: #ffffff;
}
.page-body.skin-health.login-page .login-form .form-group .form-control.input-dark:-moz-placeholder {
  color: #ffffff;
}
.page-body.skin-health.login-page .login-form .form-group .form-control.input-dark::-moz-placeholder {
  color: #ffffff;
}
.page-body.skin-health.login-page .login-form .form-group .form-control.input-dark:-ms-input-placeholder {
  color: #ffffff;
}
.page-body.skin-health.login-page .login-form .form-group .form-control.error {
  border-color: rgba(204, 63, 68, 0.5);
}
.page-body.skin-health.login-page .login-form .form-group .btn.btn-dark {
  border-color: #1daf92;
  background-color: #16a085;
  color: #ffffff;
}
.page-body.skin-health.login-page .login-form .form-group .btn.btn-dark:hover {
  background-color: rgba(29, 175, 146, 0.3);
}
.page-body.skin-health.login-page .login-form .login-footer {
  margin-top: 45px;
}
.page-body.skin-health.login-page .login-form .login-footer a {
  color: #ffffff;
}
.page-body.skin-health.login-page .login-form .login-footer a:hover {
  color: #d6f7f0;
}
.page-body.skin-health.login-page .login-form .login-footer .info-links {
  font-size: 11px;
  margin-top: 5px;
  color: #96ead9;
}
.page-body.skin-health.login-page .login-form .login-footer .info-links a {
  color: #96ead9;
}
.page-body.skin-health.login-page .login-form .login-footer .info-links a:hover {
  color: #ffffff;
}
.page-body.skin-health.login-page .external-login {
  position: relative;
  margin-bottom: 30px;
  padding: 0 30px;
}
.page-body.skin-health.login-page .external-login a {
  display: block;
  color: #fff;
  background: #2c2e2f;
  padding: 13px 20px;
  font-size: 15px;
  margin-bottom: 10px;
}
.page-body.skin-health.login-page .external-login a i {
  margin-right: 5px;
}
.page-body.skin-health.login-page .external-login a:hover {
  background: #454849;
}
.page-body.skin-health.login-page .external-login a.facebook {
  background-color: #3b5998;
}
.page-body.skin-health.login-page .external-login a.facebook:hover {
  background-color: #2d4373;
}
.page-body.skin-health.login-page .external-login a.twitter {
  background-color: #55acee;
}
.page-body.skin-health.login-page .external-login a.twitter:hover {
  background-color: #2795e9;
}
.page-body.skin-health.login-page .external-login a.gplus {
  background-color: #dd4b39;
}
.page-body.skin-health.login-page .external-login a.gplus:hover {
  background-color: #c23321;
}
.page-body.skin-health.login-page.login-light {
  background: #eeeeee;
}
.page-body.skin-health.login-page.login-light .errors-container,
.page-body.skin-health.login-page.login-light .external-login {
  padding: 0;
}
.page-body.skin-health.login-page.login-light .form-group label.error {
  color: rgba(151, 152, 152, 0.8);
}
.page-body.skin-health.login-page.login-light .login-form {
  background: #fff;
  color: #979898;
}
.page-body.skin-health.login-page.login-light .login-form .login-footer a {
  color: #68b828;
}
.page-body.skin-health.login-page.login-light .login-form .login-footer a:hover {
  color: #508e1f;
}
.page-body.skin-health.login-page.login-light .login-form .login-footer .info-links a {
  color: rgba(151, 152, 152, 0.7);
}
.page-body.skin-health.login-page.login-light .login-form .login-footer .info-links a:hover {
  color: #979898;
}
@media screen and (max-width: 768px) {
  .page-body.skin-health.login-page {
    padding-top: 0;
  }
  .page-body.skin-health.login-page .login-form,
  .page-body.skin-health.login-page .errors-container,
  .page-body.skin-health.login-page .external-login {
    padding-left: 10px;
    padding-right: 10px;
  }
  .page-body.skin-health.login-page .errors-container {
    margin-top: 20px;
  }
  .page-body.skin-health.login-page.login-light .login-form {
    padding-left: 30px;
    padding-right: 30px;
  }
  .page-body.skin-health.login-page.login-light .errors-container,
  .page-body.skin-health.login-page.login-light .external-login {
    padding-left: 0;
    padding-right: 0;
  }
  .page-body.skin-health.login-page .row {
    margin: 0;
  }
}
.page-body.skin-health.lockscreen-page {
  background: #16a085;
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group p {
  color: #96ead9;
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group h3 {
  color: #96ead9;
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group .input-group .form-control {
  border: 1px solid #1daf92;
  color: #ffffff;
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group .input-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group .input-group .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group .input-group .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group .input-group .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group .input-group .form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group .input-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group .input-group .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group .input-group .input-group-btn .btn {
  color: #ffffff;
  border: 1px solid #1daf92;
}
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group .input-group .input-group-btn .btn:hover,
.page-body.skin-health.lockscreen-page .lockcreen-form .form-group .input-group .input-group-btn .btn:focus {
  background-color: rgba(29, 175, 146, 0.3);
}
.page-body.skin-health.settings-pane-open .sidebar-menu .sidebar-menu-inner .logo-env .settings-icon {
  background: #1daf92;
  -webkit-box-shadow: 0px 0px 0px 10px #1daf92, 0px -10px 0px 10px #1daf92, 0px -20px 0px 10px #1daf92, 0px -30px 0px 10px #1daf92;
  -moz-box-shadow: 0px 0px 0px 10px #1daf92, 0px -10px 0px 10px #1daf92, 0px -20px 0px 10px #1daf92, 0px -30px 0px 10px #1daf92;
  box-shadow: 0px 0px 0px 10px #1daf92, 0px -10px 0px 10px #1daf92, 0px -20px 0px 10px #1daf92, 0px -30px 0px 10px #1daf92;
}
/* title btns*/
.page-body.skin-health .page-title.nav-form .btn.btn-gray { background-color: #bdbdbd; color: #fff;}
.page-body.skin-health .page-title.nav-form .btn.btn-gray:hover,
.page-body.skin-health .page-title.nav-form .btn.btn-gray:active,
.page-body.skin-health .page-title.nav-form .btn.btn-gray:focus { background-color: #afafaf; border-color: #a6a6a6;}
/* modal */
.page-body.skin-health .modal-ns .modal-body table.table-modal tr.selected th{background-color: #bee3dc; color: #16a085;}
.page-body.skin-health .modal-ns .modal-body table.table-modal tr.selected td{background-color: #16a085; color: #fff;}
.page-body.skin-health .modal-ns .modal-body .dataTables_wrapper .pagination .paginate_button.active a{background-color: #f5f5f5; border-color: #ddd; color: #333; font-weight: bold;}
.page-body.skin-health .modal-body .typeahead__container .typeahead__dropdown li a:hover{ background: #16a085; color: #96eac9; }

/* table page */
.page-body.skin-health .table-content .pagination .paginate_button.active a{background-color: #f5f5f5;  border-color: #ddd; color: #333; font-weight: bold;}
.page-body.skin-health .table-content table.table-singlerow tbody tr.selected th,
.page-body.skin-health table.dataTable.table-singlerow tbody tr.selected th{background-color: #bee3dc; color: #16a085;}
.page-body.skin-health table.table-singlerow tbody tr.selected td,
.page-body.skin-health .table-content table.dataTable.table-singlerow tbody tr.selected td{background-color: #16a085; color: #fff;}
.page-body.skin-health .table-content div.dataTables_processing i{color: #16a085; }
.page-body.skin-health .table-content div.dataTables_processing div span{color: #fff; background-color: #16a085; }
.page-body.skin-health .dataTables_scrollBody table .selected th{background: #bee3dc; color: #16a085; width: 36px;}
.page-body.skin-health .dataTables_scrollBody table .selected td{ background: #16a085; color: #fff; }
// 表格选中列配色
.table > tbody > tr > td{background: #fff;}
.page-body.skin-health table.table tbody tr td.info,
.page-body.skin-health table.table tbody tr.info td,
.page-body.skin-health table.table tbody tr.info td.info,
.page-body.skin-health table.table tbody tr.success td.info,
.page-body.skin-health table.table tbody tr.warning td.info,
.page-body.skin-health table.table tbody tr.danger td.info{background:#8ee0ff; color: #000;}
.page-body.skin-health table.table tbody tr td.success,
.page-body.skin-health table.table tbody tr.success td,
.page-body.skin-health table.table tbody tr.info td.success,
.page-body.skin-health table.table tbody tr.success td.success,
.page-body.skin-health table.table tbody tr.warning td.success,
.page-body.skin-health table.table tbody tr.danger td.success{background:#baf49b; color: #000;}
.page-body.skin-health table.table tbody tr td.warning,
.page-body.skin-health table.table tbody tr.warning td,
.page-body.skin-health table.table tbody tr.info td.warning,
.page-body.skin-health table.table tbody tr.success td.warning,
.page-body.skin-health table.table tbody tr.warning td.warning,
.page-body.skin-health table.table tbody tr.danger td.warning{background:#f5d274; color: #000;}
.page-body.skin-health table.table tbody tr td.danger,
.page-body.skin-health table.table tbody tr.danger td,
.page-body.skin-health table.table tbody tr.info td.danger,
.page-body.skin-health table.table tbody tr.success td.danger,
.page-body.skin-health table.table tbody tr.warning td.danger,
.page-body.skin-health table.table tbody tr.danger td.danger{background:#ffb0b0; color: #000;}
.page-body.skin-health table.table tbody tr.selected td,
.page-body.skin-health table.table tbody tr.selected td.info,
.page-body.skin-health table.table tbody tr.selected td.success,
.page-body.skin-health table.table tbody tr.selected td.warning,
.page-body.skin-health table.table tbody tr.selected td.danger{background: #16a085; color: #fff;}
.page-body.skin-health table.table tbody tr.info th:first-child{ background: #bcedff; color: #444;}
.page-body.skin-health table.table tbody tr.success th:first-child{ background: #dbfdc8; color: #444;}
.page-body.skin-health table.table tbody tr.warning th:first-child{ background: #fbe7b1; color: #444;}
.page-body.skin-health table.table tbody tr.danger th:first-child{ background: #ffd2d2; color: #444;}
.page-body.skin-health table.table tbody tr.selected th:first-child{ background: #bee3dc; color: #16a085;}



/* placeholder */
.page-body.skin-health input::-webkit-input-placeholder,
.page-body.skin-health textarea::-webkit-input-placeholder {color:#d0d0d0; font-size: 12px;}
.page-body.skin-health input:-moz-placeholder,
.page-body.skin-health textarea:-moz-placeholder{color:#d0d0d0; font-size: 12px;}
.page-body.skin-health input::-moz-placeholder,
.page-body.skin-health textarea::-moz-placeholder{color:#d0d0d0; font-size: 12px;}
.page-body.skin-health input:-ms-input-placeholder,
.page-body.skin-health textarea:-ms-input-placeholder{color:#d0d0d0; font-size: 12px;}

/* Form Style */
.page-body.skin-health .panel-form {}
.page-body.skin-health .panel-form form .fillbg {background-color: #ddd;}
.page-body.skin-health .panel-form .form-td {border-color: #dddddd; background-color: #fff; }
.page-body.skin-health .panel-form .form-group label.control-label { background-color: #eee; }
.page-body.skin-health .panel-form .panel-body .form-group input[type="text"].form-control.has-error,
.page-body.skin-health .panel-form .panel-body .form-group input[type="password"].form-control.has-error,
.page-body.skin-health .panel-form .panel-body .form-group input[type="radio"].form-control.has-error,
.page-body.skin-health .panel-form .panel-body .form-group input[type="checkbox"].form-control.has-error {color:#ffba00;}
.page-body.skin-health .panel-form .panel-body .form-group input[type="text"] + label.has-error,
.page-body.skin-health .panel-form .panel-body .form-group input[type="password"] + label.has-error,
.page-body.skin-health .panel-form .panel-body .form-group input[type="radio"] + label.has-error,
.page-body.skin-health .panel-form .panel-body .form-group input[type="checkbox"] + label.has-error {color:#ffba00; }
.page-body.skin-health .panel-form .panel-body .grouplable{background-color: #40bbea;}
.page-body.skin-health .panel-form .panel-body .col-xs-12.element-hr,
.page-body.skin-health .panel-form .panel-body .col-xs-12.element-br,
.page-body.skin-health .panel-form .panel-body .col-xs-12.element-title{ background-color: #fff; position: relative;}
.page-body.skin-health .panel-form .panel-body .col-xs-12.element-title:before{ position: absolute; left: 1px; bottom:0; content: ""; height: 1px; width: 100%; background: #ddd; }
.page-body.skin-health .panel-form .panel-body .col-xs-12.element-title:after{position: absolute; right: -1px; bottom:1px; content: ""; height: 100%; width: 1px; background: #fff;}
.page-body.skin-health .panel-form .panel-body .col-xs-12.element-title label{color: #000;}
.page-body.skin-health .panel-form .panel-body .col-xs-12.element-title label i{color: #16a085;}
.page-body.skin-health .panel-form .panel-body .form-item.select {border-left: none; background-color: #fff; }
.page-body.skin-health .panel-form .panel-body .form-item.select .selectboxit-btn{border:none; background-color: transparent;}
.page-body.skin-health .panel-form .panel-body .form-item.select ul.selectboxit-list > .selectboxit-option-first.selectboxit-focus > .selectboxit-option-anchor{background: none; position: relative;}
.page-body.skin-health .panel-form .panel-body .form-item.select ul.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor{background-color: #16a085; color: #96ead9;}
.page-body.skin-health .panel-form .panel-body .form-group .form-item .input-group-btn.text-btn button{background-color: transparent; color:#40bbea;}
.page-body.skin-health .panel-form .panel-body .typeahead__container input[type="search"] + label.has-error{color: #ffba00;}
.page-body.skin-health .panel-form .panel-body .form-group .form-item .input-group-btn.text-btn button{background-color: transparent; color:#40bbea;}
.page-body.skin-health .panel-form .typeahead__container .typeahead__list > li.typeahead__item > a:hover{ background: #16a085; color: #96ead9; }
.page-body.skin-health .table-state td{background-color: #eee; border:2px solid #fff; }
.page-body.skin-health .table-state td.orange{background-color: #ffba00; color: #fff;}
.page-body.skin-health .table-state td.orange:hover{background-color: #ffcb00;}
.page-body.skin-health .table-state td.green{background-color: #16a085; color: #fff;}
.page-body.skin-health .table-state td.green:hover{background-color: #18b092;}
.page-body.skin-health .table-state td.red{background-color: #cc3f44; color: #fff;}
.page-body.skin-health .table-state td.red:hover{background-color: #dc454b;}
.page-body.skin-health .table-state td.blue{background-color: #45acd3; color: #fff;}
.page-body.skin-health .table-state td.blue:hover{background-color: #40bbea;}

/*select*/
.page-body.skin-health .select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #16a085;color: #96ead9;}
.page-body.skin-health .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor { color: #ffffff; background-color: #1daf92; background-repeat: repeat-x;}
.page-body.skin-health .table-content table.dataTable.table-singlerow tbody tr td .td-select .selectboxit-option-anchor{background: #16a085;}
.page-body.skin-health .ms-container .ms-selectable li.ms-elem-selectable.selection-selected{background-color: #16a085; color: #fff;}

/*pagination*/
.page-body.skin-health .content .pagination > .active > a{ background: #f5f5f5; border-color: #ddd; font-size: 12px; color: #333;}

/*tree*/
.page-body.skin-health .item-selected{background-color: #099176; color:#fff;}

/*========================汽修汽配========================*/

/*------btn------*/
.page-body.skin-autoservice  .btn-primary {
  background: #16a085;
}
.page-body.skin-autoservice  .btn-primary:hover {
  background: #138a72;
  border-color: #138a72;
}
.page-body.skin-autoservice  .btn-primary:active,
.page-body.skin-autoservice  .btn-primary:focus {
  background: #0d5d4d;
  border-color: #0d5d4d;
}
.page-body.skin-autoservice  .btn.btn-secondary {
  background-color: #0f7e68;
  color: #ffffff;
}
.page-body.skin-autoservice  .btn.btn-secondary:hover {
  background-color: #0c6755;
  text-color: #ffffff;
}
.page-body.skin-autoservice  .btn.btn-secondary:active,
.page-body.skin-autoservice  .btn.btn-secondary:focus {
  background-color: #0c6755;
  border-color: #0b5e4e;
}
.page-body.skin-autoservice  .btn-success,
.page-body.skin-autoservice  .btn-warning,
.page-body.skin-autoservice  .btn-info,
.page-body.skin-autoservice  .btn-danger{ background: #fff; border:1px solid #d9d9d9; color: #333;}

.page-body.skin-autoservice  .btn-success i{color: #8dc63f;}
.page-body.skin-autoservice  .btn-warning i{color: #ffba00;}
.page-body.skin-autoservice  .btn-info i{color: #40bbea;}
.page-body.skin-autoservice  .btn-danger i{color: #cc3f44;}
.page-body.skin-autoservice  .btn-default i{color: #666;}

.page-body.skin-autoservice  .btn-success:hover,
.page-body.skin-autoservice  .btn-warning:hover,
.page-body.skin-autoservice  .btn-info:hover{ background: #f2f2f2;}
.page-body.skin-autoservice  .input-group .btn{border:0;}
/*----dialog-table-btn----*/
.page-body.skin-autoservice  .modal-content .table-responsive .table .td-upload{padding: 2px;}

.page-body.skin-autoservice  .modal-content .table-responsive .table .btn.btn-success i,
.page-body.skin-autoservice  .modal-content .table-responsive .table .btn.btn-warning i,
.page-body.skin-autoservice  .modal-content .table-responsive .table .btn.btn-info i,
.page-body.skin-autoservice  .modal-content .table-responsive .table .btn.btn-danger i{ background: none; border:0; padding:5px 7px 5px 6px; }
.page-body.skin-autoservice  .modal-content .table-responsive .table .btn{padding: 0; border: 0; background: none;}

.page-body.skin-autoservice  .modal-content .table-responsive .table .btn.btn-success:hover i{background: none; color: #5c9f00;}
.page-body.skin-autoservice  .modal-content .table-responsive .table .btn.btn-warning:hover i{background: none; color: #b87100;}
.page-body.skin-autoservice  .modal-content .table-responsive .table .btn.btn-info:hover i{background: none; color: #007dad;}
.page-body.skin-autoservice  .modal-content .table-responsive .table .btn.btn-danger:hover i{background: none; color: #9b0006;}
.page-body.skin-autoservice  .modal-content .table-responsive .table .btn.btn-white:hover i{background: none; color: #444;}
/*----table-td-btn----*/

.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-success:hover,
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-warning:hover,
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-info:hover,
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-danger:hover,
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-white:hover,
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-success:hover i,
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-warning:hover i,
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-info:hover i,
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-white:hover i{background: none;}
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-success:hover i{color: #5c9f00;}
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-warning:hover i{color: #b87100;}
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-info:hover i{color: #007dad;}
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-danger:hover i{color: #9b0006;}
.page-body.skin-autoservice  td.td-button button.btn.btn-icon.btn-white:hover i{color: #444;}
.page-body.skin-autoservice  .settings-pane {
  background: #1daf92;
  color: #96ead9;
}

.page-body.skin-autoservice .settings-pane p{color: #fff;}
.page-body.skin-autoservice .settings-pane > a[data-toggle="settings-pane"] {
  color: #96c1ea;
}
.page-body.skin-autoservice .settings-pane > a[data-toggle="settings-pane"]:hover {
  color: #FFF;
}
.page-body.skin-autoservice .settings-pane .user-info .user-details h3 a {
  color: #ffffff;
}
.page-body.skin-autoservice .settings-pane .user-info .user-details .user-title {
  color: rgba(255, 255, 255, 0.65);
}
.page-body.skin-autoservice .settings-pane .links-block.left-sep {
  border-left: 1px solid #1a61b0;
}
.page-body.skin-autoservice .settings-pane .links-block h4 {
  color: #ffffff;
}
.page-body.skin-autoservice .settings-pane .links-block h4 span {
  display: inline-block;
  border-bottom: 1px solid #2674cb;
}
.page-body.skin-autoservice .settings-pane .links-block h4 a {
  color: #ffffff;
}
.page-body.skin-autoservice .settings-pane .links-block h4 a:hover {
  color: #96c1ea;
}
.page-body.skin-autoservice .settings-pane .links-block ul li a {
  color: #96c1ea;
}
.page-body.skin-autoservice .settings-pane .links-block ul li a:hover {
  color: #ffffff;
}
.page-body.skin-autoservice .sidebar-menu {
  background: #1a61b0;
}
.page-body.skin-autoservice .sidebar-menu .logo-env {
  border-bottom: 1px solid #2674cb;
}
.page-body.skin-autoservice .sidebar-menu .logo-env .settings-icon a {
  color: #96c1ea;
}
.page-body.skin-autoservice .sidebar-menu .logo-env .settings-icon a:hover {
  color: #ffffff;
}
.page-body.skin-autoservice .sidebar-menu .main-menu a {
  color: #96c1ea;
  border-bottom: 1px solid #2674cb;
  font-size: 13px;
}
.page-body.skin-autoservice .sidebar-menu .main-menu a:hover {
  color: #ffffff;
}
.page-body.skin-autoservice .sidebar-menu .main-menu li.active > a {
  color: #ffffff;
}
.page-body.skin-autoservice .sidebar-menu .main-menu li.active ul li.active > a{
  color: #ffffff; background-color: #1b5698; border-left: 1px solid #2674cb; border-right: 1px solid #2674cb; cursor: default;
}
.page-body.skin-autoservice .sidebar-menu .main-menu li.has-sub > a:before {
  color: #96c1ea;
}
.page-body.skin-autoservice .sidebar-menu .ps-scrollbar-x-rail .ps-scrollbar-x,
.page-body.skin-autoservice .sidebar-menu .ps-scrollbar-y-rail .ps-scrollbar-y {
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .page-body.skin-autoservice .sidebar-menu.collapsed + .main-content .user-info-navbar .user-info-menu a[data-toggle="sidebar"] {
    color: #606161;
  }
  .page-body.skin-autoservice .sidebar-menu.collapsed .main-menu > li.active,
  .page-body.skin-autoservice .sidebar-menu.collapsed .main-menu > li li.active {
    background-color: #1b5698;
  }
  .page-body.skin-autoservice .sidebar-menu.collapsed .main-menu > li > ul {
    background: #1a61b0;
  }
}
.page-body.skin-autoservice .page-loading-overlay {
  background-color: #1a61b0;
}
.page-body.skin-autoservice.login-page {
  background: #1a61b0;
  color: #fff;
}
.page-body.skin-autoservice.login-page .login-form .login-header .logo span {
  color: #96c1ea;
}
.page-body.skin-autoservice.login-page .login-form .login-header p {
  color: #96c1ea;
}
.page-body.skin-autoservice.login-page .login-form .form-group .control-label {
  color: #96c1ea;
}
.page-body.skin-autoservice.login-page .login-form .form-group .form-control.input-dark {
  background: #138a72;
  border: 1px solid transparent;
  color: #96c1ea;
}
.page-body.skin-autoservice.login-page .login-form .form-group .form-control.input-dark::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.page-body.skin-autoservice.login-page .login-form .form-group .form-control.input-dark:-ms-input-placeholder {
  color: #ffffff;
}
.page-body.skin-autoservice.login-page .login-form .form-group .form-control.input-dark::-webkit-input-placeholder {
  color: #ffffff;
}
.page-body.skin-autoservice.login-page .login-form .form-group .form-control.input-dark::-webkit-input-placeholder {
  color: #ffffff;
}
.page-body.skin-autoservice.login-page .login-form .form-group .form-control.input-dark:-moz-placeholder {
  color: #ffffff;
}
.page-body.skin-autoservice.login-page .login-form .form-group .form-control.input-dark::-moz-placeholder {
  color: #ffffff;
}
.page-body.skin-autoservice.login-page .login-form .form-group .form-control.input-dark:-ms-input-placeholder {
  color: #ffffff;
}
.page-body.skin-autoservice.login-page .login-form .form-group .form-control.error {
  border-color: rgba(204, 63, 68, 0.5);
}
.page-body.skin-autoservice.login-page .login-form .form-group .btn.btn-dark {
  border-color: #2674cb;
  background-color: #1a61b0;
  color: #ffffff;
}
.page-body.skin-autoservice.login-page .login-form .form-group .btn.btn-dark:hover {
  background-color: rgba(29, 175, 146, 0.3);
}
.page-body.skin-autoservice.login-page .login-form .login-footer {
  margin-top: 45px;
}
.page-body.skin-autoservice.login-page .login-form .login-footer a {
  color: #ffffff;
}
.page-body.skin-autoservice.login-page .login-form .login-footer a:hover {
  color: #d6f7f0;
}
.page-body.skin-autoservice.login-page .login-form .login-footer .info-links {
  font-size: 11px;
  margin-top: 5px;
  color: #96c1ea;
}
.page-body.skin-autoservice.login-page .login-form .login-footer .info-links a {
  color: #96c1ea;
}
.page-body.skin-autoservice.login-page .login-form .login-footer .info-links a:hover {
  color: #ffffff;
}
.page-body.skin-autoservice.login-page .external-login {
  position: relative;
  margin-bottom: 30px;
  padding: 0 30px;
}
.page-body.skin-autoservice.login-page .external-login a {
  display: block;
  color: #fff;
  background: #2c2e2f;
  padding: 13px 20px;
  font-size: 15px;
  margin-bottom: 10px;
}
.page-body.skin-autoservice.login-page .external-login a i {
  margin-right: 5px;
}
.page-body.skin-autoservice.login-page .external-login a:hover {
  background: #454849;
}
.page-body.skin-autoservice.login-page .external-login a.facebook {
  background-color: #3b5998;
}
.page-body.skin-autoservice.login-page .external-login a.facebook:hover {
  background-color: #2d4373;
}
.page-body.skin-autoservice.login-page .external-login a.twitter {
  background-color: #55acee;
}
.page-body.skin-autoservice.login-page .external-login a.twitter:hover {
  background-color: #2795e9;
}
.page-body.skin-autoservice.login-page .external-login a.gplus {
  background-color: #dd4b39;
}
.page-body.skin-autoservice.login-page .external-login a.gplus:hover {
  background-color: #c23321;
}
.page-body.skin-autoservice.login-page.login-light {
  background: #eeeeee;
}
.page-body.skin-autoservice.login-page.login-light .errors-container,
.page-body.skin-autoservice.login-page.login-light .external-login {
  padding: 0;
}
.page-body.skin-autoservice.login-page.login-light .form-group label.error {
  color: rgba(151, 152, 152, 0.8);
}
.page-body.skin-autoservice.login-page.login-light .login-form {
  background: #fff;
  color: #979898;
}
.page-body.skin-autoservice.login-page.login-light .login-form .login-footer a {
  color: #68b828;
}
.page-body.skin-autoservice.login-page.login-light .login-form .login-footer a:hover {
  color: #508e1f;
}
.page-body.skin-autoservice.login-page.login-light .login-form .login-footer .info-links a {
  color: rgba(151, 152, 152, 0.7);
}
.page-body.skin-autoservice.login-page.login-light .login-form .login-footer .info-links a:hover {
  color: #979898;
}
@media screen and (max-width: 768px) {
  .page-body.skin-autoservice.login-page {
    padding-top: 0;
  }
  .page-body.skin-autoservice.login-page .login-form,
  .page-body.skin-autoservice.login-page .errors-container,
  .page-body.skin-autoservice.login-page .external-login {
    padding-left: 10px;
    padding-right: 10px;
  }
  .page-body.skin-autoservice.login-page .errors-container {
    margin-top: 20px;
  }
  .page-body.skin-autoservice.login-page.login-light .login-form {
    padding-left: 30px;
    padding-right: 30px;
  }
  .page-body.skin-autoservice.login-page.login-light .errors-container,
  .page-body.skin-autoservice.login-page.login-light .external-login {
    padding-left: 0;
    padding-right: 0;
  }
  .page-body.skin-autoservice.login-page .row {
    margin: 0;
  }
}
.page-body.skin-autoservice.lockscreen-page {
  background: #1a61b0;
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group p {
  color: #96c1ea;
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group h3 {
  color: #96c1ea;
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group .input-group .form-control {
  border: 1px solid #2674cb;
  color: #ffffff;
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group .input-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group .input-group .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group .input-group .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group .input-group .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group .input-group .form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group .input-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group .input-group .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group .input-group .input-group-btn .btn {
  color: #ffffff;
  border: 1px solid #2674cb;
}
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group .input-group .input-group-btn .btn:hover,
.page-body.skin-autoservice.lockscreen-page .lockcreen-form .form-group .input-group .input-group-btn .btn:focus {
  background-color: rgba(29, 175, 146, 0.3);
}
.page-body.skin-autoservice.settings-pane-open .sidebar-menu .sidebar-menu-inner .logo-env .settings-icon {
  background: #2674cb;
  -webkit-box-shadow: 0px 0px 0px 10px #2674cb, 0px -10px 0px 10px #2674cb, 0px -20px 0px 10px #2674cb, 0px -30px 0px 10px #2674cb;
  -moz-box-shadow: 0px 0px 0px 10px #2674cb, 0px -10px 0px 10px #2674cb, 0px -20px 0px 10px #2674cb, 0px -30px 0px 10px #2674cb;
  box-shadow: 0px 0px 0px 10px #2674cb, 0px -10px 0px 10px #2674cb, 0px -20px 0px 10px #2674cb, 0px -30px 0px 10px #2674cb;
}
/* title btns*/
.page-body.skin-autoservice .page-title.nav-form .btn.btn-gray { background-color: #bdbdbd; color: #fff;}
.page-body.skin-autoservice .page-title.nav-form .btn.btn-gray:hover,
.page-body.skin-autoservice .page-title.nav-form .btn.btn-gray:active,
.page-body.skin-autoservice .page-title.nav-form .btn.btn-gray:focus { background-color: #afafaf; border-color: #a6a6a6;}
/* modal */
.page-body.skin-autoservice .modal-ns .modal-body table.table-modal tr.selected th{background-color: #c1d0e8; color: #1a61b0;}
.page-body.skin-autoservice .modal-ns .modal-body table.table-modal tr.selected td{background-color: #1a61b0; color: #fff;}
.page-body.skin-autoservice .modal-ns .modal-body .dataTables_wrapper .pagination .paginate_button.active a{background-color: #f5f5f5; border-color: #ddd; color: #333; font-weight: bold;}
.page-body.skin-autoservice .modal-body .typeahead__container .typeahead__dropdown li a:hover{ background: #2674cb; color: #96eac9; }

/* table page */
.page-body.skin-autoservice .table-content .pagination .paginate_button.active a{background-color: #f5f5f5; border-color: #ddd; color: #333; font-weight: bold;}
.page-body.skin-autoservice table.dataTable.table-singlerow tbody tr.selected th{background-color: #c1d0e8; color: #1a61b0;}
.page-body.skin-autoservice table.dataTable.table-singlerow tbody tr.selected td{background-color: #83b0e2; color: #fff;}
.page-body.skin-autoservice .table-content div.dataTables_processing i{color: #1a61b0; }
.page-body.skin-autoservice .table-content div.dataTables_processing div span{color: #fff; background-color: #1a61b0; }
.page-body.skin-autoservice .dataTables_wrapper table.table  .selected th{background: #c1d0e8; color: #1a61b0;}
.page-body.skin-autoservice .dataTables_wrapper table.table  .selected td{ background: #83b0e2; color: #fff; }
// 表格选中列配色
// 表格选中列配色
.table > tbody > tr > td{background: #fff;}
.page-body.skin-autoservice table.table tbody tr td.info,
.page-body.skin-autoservice table.table tbody tr.info td,
.page-body.skin-autoservice table.table tbody tr.info td.info,
.page-body.skin-autoservice table.table tbody tr.success td.info,
.page-body.skin-autoservice table.table tbody tr.warning td.info,
.page-body.skin-autoservice table.table tbody tr.danger td.info{background:#8ee0ff; color: #000;}
.page-body.skin-autoservice table.table tbody tr td.success,
.page-body.skin-autoservice table.table tbody tr.success td,
.page-body.skin-autoservice table.table tbody tr.info td.success,
.page-body.skin-autoservice table.table tbody tr.success td.success,
.page-body.skin-autoservice table.table tbody tr.warning td.success,
.page-body.skin-autoservice table.table tbody tr.danger td.success{background:#baf49b; color: #000;}
.page-body.skin-autoservice table.table tbody tr td.warning,
.page-body.skin-autoservice table.table tbody tr.warning td,
.page-body.skin-autoservice table.table tbody tr.info td.warning,
.page-body.skin-autoservice table.table tbody tr.success td.warning,
.page-body.skin-autoservice table.table tbody tr.warning td.warning,
.page-body.skin-autoservice table.table tbody tr.danger td.warning{background:#f5d274; color: #000;}
.page-body.skin-autoservice table.table tbody tr td.danger,
.page-body.skin-autoservice table.table tbody tr.danger td,
.page-body.skin-autoservice table.table tbody tr.info td.danger,
.page-body.skin-autoservice table.table tbody tr.success td.danger,
.page-body.skin-autoservice table.table tbody tr.warning td.danger,
.page-body.skin-autoservice table.table tbody tr.danger td.danger{background:#ffb0b0; color: #000;}
.page-body.skin-autoservice table.table tbody tr.selected td,
.page-body.skin-autoservice table.table tbody tr.selected td.info,
.page-body.skin-autoservice table.table tbody tr.selected td.success,
.page-body.skin-autoservice table.table tbody tr.selected td.warning,
.page-body.skin-autoservice table.table tbody tr.selected td.danger{background: #16a085; color: #fff;}
.page-body.skin-autoservice table.table tbody tr.info th:first-child{ background: #bcedff; color: #444;}
.page-body.skin-autoservice table.table tbody tr.success th:first-child{ background: #dbfdc8; color: #444;}
.page-body.skin-autoservice table.table tbody tr.warning th:first-child{ background: #fbe7b1; color: #444;}
.page-body.skin-autoservice table.table tbody tr.danger th:first-child{ background: #ffd2d2; color: #444;}
.page-body.skin-autoservice table.table tbody tr.selected th:first-child{ background: #bee3dc; color: #16a085;}

/* placeholder */
.page-body.skin-autoservice input::-webkit-input-placeholder,
.page-body.skin-autoservice textarea::-webkit-input-placeholder {color:#d0d0d0; font-size: 12px;}
.page-body.skin-autoservice input:-moz-placeholder,
.page-body.skin-autoservice textarea:-moz-placeholder{color:#d0d0d0; font-size: 12px;}
.page-body.skin-autoservice input::-moz-placeholder,
.page-body.skin-autoservice textarea::-moz-placeholder{color:#d0d0d0; font-size: 12px;}
.page-body.skin-autoservice input:-ms-input-placeholder,
.page-body.skin-autoservice textarea:-ms-input-placeholder{color:#d0d0d0; font-size: 12px;}

/* Form Style */
.page-body.skin-autoservice .panel-form {}
.page-body.skin-autoservice .panel-form form .fillbg {background-color: #ddd;}
.page-body.skin-autoservice .panel-form .form-td {border-color: #dddddd; background-color: #fff; }
.page-body.skin-autoservice .panel-form .form-group label.control-label { background-color: #eee; }
.page-body.skin-autoservice .panel-form .panel-body .form-group input[type="text"].form-control.has-error,
.page-body.skin-autoservice .panel-form .panel-body .form-group input[type="password"].form-control.has-error,
.page-body.skin-autoservice .panel-form .panel-body .form-group input[type="radio"].form-control.has-error,
.page-body.skin-autoservice .panel-form .panel-body .form-group input[type="checkbox"].form-control.has-error {color:#ffba00;}
.page-body.skin-autoservice .panel-form .panel-body .form-group input[type="text"] + label.has-error,
.page-body.skin-autoservice .panel-form .panel-body .form-group input[type="password"] + label.has-error,
.page-body.skin-autoservice .panel-form .panel-body .form-group input[type="radio"] + label.has-error,
.page-body.skin-autoservice .panel-form .panel-body .form-group input[type="checkbox"] + label.has-error {color:#ffba00; }
.page-body.skin-autoservice .panel-form .panel-body .grouplable{background-color: #40bbea;}
.page-body.skin-autoservice .panel-form .panel-body .col-xs-12.element-hr,
.page-body.skin-autoservice .panel-form .panel-body .col-xs-12.element-br,
.page-body.skin-autoservice .panel-form .panel-body .col-xs-12.element-title{ background-color: #fff; position: relative;}
.page-body.skin-autoservice .panel-form .panel-body .col-xs-12.element-title:before{ position: absolute; left: 1px; bottom:0; content: ""; height: 1px; width: 100%; background: #ddd; }
.page-body.skin-autoservice .panel-form .panel-body .col-xs-12.element-title:after{position: absolute; right: -1px; bottom:1px; content: ""; height: 100%; width: 1px; background: #fff;}
.page-body.skin-autoservice .panel-form .panel-body .col-xs-12.element-title label{color: #000;}
.page-body.skin-autoservice .panel-form .panel-body .col-xs-12.element-title label i{color: #1a61b0;}
.page-body.skin-autoservice .panel-form .panel-body .form-item.select {border-left: none; background-color: #fff; }
.page-body.skin-autoservice .panel-form .panel-body .form-item.select .selectboxit-btn{border:none; background-color: transparent;}
.page-body.skin-autoservice .panel-form .panel-body .form-item.select ul.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor{background-color: #1a61b0; color: #96c1ea;}
.page-body.skin-autoservice .panel-form .panel-body .form-group .form-item .input-group-btn.text-btn button{background-color: transparent; color:#40bbea;}
.page-body.skin-autoservice .panel-form .panel-body .typeahead__container input[type="search"] + label.has-error{color: #ffba00;}
.page-body.skin-autoservice .panel-form .panel-body .form-group .form-item .input-group-btn.text-btn button{background-color: transparent; color:#40bbea;}
.page-body.skin-autoservice .panel-form .typeahead__container .typeahead__list > li.typeahead__item > a:hover{ background: #2674cb; color: #96ead9; }
.page-body.skin-autoservice .table-state td{background-color: #eee; border:2px solid #fff; }
.page-body.skin-autoservice .table-state td.orange{background-color: #ffba00; color: #fff;}
.page-body.skin-autoservice .table-state td.orange:hover{background-color: #ffcb00;}
.page-body.skin-autoservice .table-state td.green{background-color: #1a61b0; color: #fff;}
.page-body.skin-autoservice .table-state td.green:hover{background-color: #18b092;}
.page-body.skin-autoservice .table-state td.red{background-color: #cc3f44; color: #fff;}
.page-body.skin-autoservice .table-state td.red:hover{background-color: #dc454b;}
.page-body.skin-autoservice .table-state td.blue{background-color: #45acd3; color: #fff;}
.page-body.skin-autoservice .table-state td.blue:hover{background-color: #40bbea;}

/*select*/
.page-body.skin-autoservice .select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #1a61b0;color: #96c1ea;}
.page-body.skin-autoservice .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor { color: #96c1ea; background-color: #2674cb; background-repeat: repeat-x;}
.page-body.skin-autoservice .table-content table.dataTable.table-singlerow tbody tr td .td-select .selectboxit-option-anchor{background: #2674cb;}
.page-body.skin-autoservice .ms-container .ms-selectable li.ms-elem-selectable.selection-selected{background-color: #2674cb; color: #fff;}

/*pagination*/
.page-body.skin-autoservice .content .pagination > .active > a{ background: #f5f5f5; border-color: #ddd; font-size: 12px; color: #333;}

/*tree*/
.page-body.skin-autoservice .item-selected{background-color: #2674cb; color:#fff;}