.car-panel.panel{margin: 0;}
.car-panel.panel .nspanel-title { border-bottom: 1px solid #ddd; }
.car-panel.panel .nspanel-title h3{margin-top: 45px; margin-bottom: 0;}
.car-panel.panel .nspanel-title .form-content{padding: 15px; padding: 15px 20px;}
.car-panel.panel .nspanel-title .form-content .form-group{margin: 0; position: relative; padding: 0 10px;}
.car-panel.panel .nspanel-title .form-content .form-group .form-control{padding: 5px; height: 30px;}
.car-panel.panel .nspanel-title .form-content .form-group button.btn-default{position: absolute; right: 11px; bottom: 1px; background: #eee; margin: 0; height: 28px;}
.car-panel.panel .nspanel-title .form-content .form-group button.btn-default:hover,
.car-panel.panel .nspanel-title .form-content .form-group button.btn-default:focus{ border:1px solid #eee;}

.form-normal.bg-gray{ background: #ddd; }
.form-normal.panel{ padding: 0px;}
.form-normal.panel .form-content{ position: relative; padding-bottom: 10px; }
.form-normal.panel .form-content:before{position: absolute; width: 100%; height: 1px; background: #eee; top: 15px; left: 0;}
.form-normal .form-group{ border:1px solid #e4e4e4; margin: 0; padding: 0 5px; display:table; margin: -1px 0 0 -2px;}
.form-normal .form-group .control-label{ width: 100px; display: table-cell; padding:0 8px; background: #f8f8f8; color: #a9a9a9; }
.form-normal .form-group .form-control{ border:0; color: #a9a9a9; display: table-cell; }
.form-normal .col-md-3,
.form-normal .col-md-6{padding: 0 10px; }
.form-normal .col-md-3{position: relative;}
.form-normal .col-md-3:before{ width: 1px; height: 100%; position: absolute; top: 0; left: 10px; background: #000; }
.form-normal .col-md-3 .title,
.form-normal .col-md-6 .title{position: relative;}
.form-normal .col-md-3 .title:before,
.form-normal .col-md-6 .title:before{ width: 10px; height: 100%; position: absolute; background: #000; top: 0;  left: 5px;}