<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>温湿度历史数据</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
    <script src="js/echarts.min.js"></script>
    </link>
    <style>
        body {
            background: #002679;
        }

        .zc-body {
            display: flex;
        }

        .zc-thhistory-title {
            font-weight: bold;
            margin-left: 4px;
            margin-right: 4px;
            color: #fff
        }

        .el-form-item__label {
            color: #fff
        }

        .zc-thhistory-tab-header {
            height: 37px;
        }

        .zc-reporting-table {
            padding: 2px;
            border: 1px solid #7f9ae4;
        }

        .zc-reporting-body {
            padding: 20px;
        }

        .el-table__row:nth-child(odd) {

            background: #002679;
            color: #fff;
        }

        .el-table__row:nth-child(even) {
            background: rgba(51, 85, 164);
            color: #fff;
        }

        .el-table td,
        .el-table th.is-leaf {
            border-bottom: 0px solid #fff;
        }

        /* .has-gutter{
            background: rgba(51, 85, 164);
            color: #fff;
        } */
        /*   .el-table__header{
            background: rgba(51, 85, 164);
            color: #fff;
        } */
        .el-table th,
        .el-table tr {
            background: rgba(51, 85, 164);
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="zc-body">
        <div id="vmreporting" class="zc-tab">
            <div class="zc-thhistory-tab-header">
            </div>
            <div>
                <div class="zc-thhistory-title" v-text="thhistory"></div>
            </div>
            <div class="">
                <el-form ref="form" :model="form" :inline="true" size="mini">
                    <el-form-item label="">
                        <el-select v-model="form.region" placeholder="日期间隔" :span="4">
                            <el-option label="区域一" value="shanghai"></el-option>
                            <el-option label="区域二" value="beijing"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间">
                        <el-col :span="3">
                            <el-date-picker type="date" placeholder="选择日期" v-model="form.whenState">
                            </el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="结束时间">
                        <el-col :span="3">
                            <el-date-picker type="date" placeholder="选择日期" v-model="form.whenEnd">
                            </el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="">
                        <el-button icon="el-icon-search"></el-button>
                        <el-button icon="el-icon-delete"></el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="zc-thhistory-body">
                <div class="zc-thhistory-table">
                    <div class="zc-thhistory">
                        <template>
                            <el-table :data="tableData" height="540px">
                                <el-table-column prop="spaceTime" label="日期间隔" width="">
                                </el-table-column>
                                <el-table-column prop="averageTemperature" label="平均温度" width="">
                                </el-table-column>
                                <el-table-column prop="averageHumidity" label="平均湿度">
                                </el-table-column>
                            </el-table>
                        </template>
                    </div>
                    <div>
                        <!--<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                            :current-page="currentPage4" :page-sizes="[100, 200, 300, 400]" :page-size="100"
                            layout="total, sizes, prev, pager, next, jumper" :total="400">
                        </el-pagination> -->
                    </div>
                </div>
            </div>

        </div>
        <div>
            <!-- 温度图标 -->
            <div class="echart" style="width:900px; height:380px;" id="temperatureEchart">

            </div>
            <!-- 湿度度图标 -->
            <div class="echart" style="widows: 900px; height:380px;" id="humidityEchart">

            </div>
        </div>

    </div>

    <script>
        var myChart = echarts.init(document.getElementById('temperatureEchart'));
        var humiditymyChart = echarts.init(document.getElementById('humidityEchart'));
        var Main = {
            data() {
                return {
                    lineData: [],
                    thhistory: "温湿度历史数据查询1",
                    currentPage4: 5,
                    reportingtitle: '报警类型',
                    tableData: [],
                    form: {
                        whenState: "",
                        whenEnd: '',
                        region: '',
                        date1: '',
                        date2: '',
                        delivery: false,
                        type: [],
                        resource: '',
                        desc: ''
                    }
                }
            },
            methods: {
                handleSizeChange() {

                },
                handleCurrentChange() {

                },
                timestampToTime(timestamp) {
                    var date = new Date(timestamp); //时间戳为10位需*1000，时间戳为13位的话不需乘1000
                    var Y = date.getFullYear() + '/';
                    var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '/';
                    var D = date.getDate() + ' ';
                    var h = date.getHours() + ':';
                    var m = date.getMinutes() + ':';
                    var s = date.getSeconds();
                    return M + D;
                },
            },
            mounted() {

                var _this = this;
                axios.get('/sites/zc/data/thhistory.json').then(function (res) {
                    var data = res.data.rows
                    //数据
                    var lineDataT = []
                    var lineDataH = []
                    var lineTime = []
                    for (var i = 0; i < data.length; i++) {
                        //拼接时间
                        if (data[i].whenState) {
                            //拼接时间
                            data[i].whenState = _this.timestampToTime(data[i].whenState * 1000);
                            data[i].whenEnd = _this.timestampToTime(data[i].whenEnd * 1000);
                            data[i].spaceTime = data[i].whenState + '-' + data[i].whenEnd
                        }
                        //线图温湿度值
                        /*averageTemperature（温度） 
                         averageHumidity（湿度）
                         */
                        lineTime.push(_this.timestampToTime(data[i].whenEnd))
                        lineDataT.push(parseInt(data[i].averageTemperature))
                        lineDataH.push(parseInt(data[i].averageHumidity))
                    }
                    _this.tableData = data
                    temperatureOption.xAxis.data = lineTime
                    humiditymyOption.xAxis.data = lineTime
                    temperatureOption.series[0].data = lineDataT
                    humiditymyOption.series[0].data = lineDataH

                }).catch(function (error) {

                })

            }
        }

        var Ctor = Vue.extend(Main)
        var thHistoryVm = new Ctor().$mount('#vmreporting')

        //图标
        //温度图表
        var temperatureOption = {
            xAxis: {
                type: 'category',
                name: '日期点',
                boundaryGap: false,
                data: [],
                axisLine: {
                    lineStyle: {
                        //横坐标颜色
                        //color: '#36c7e5 ',
                       // color: '#7dbcf6',
                        //color: '#297ae2',
                        color: '#224883',
                    //
                    }
                },
                minorSplitLine: {
                    show: false,
                },
                axisLabel:{
                    color:"#beddff"
                }
            },
            yAxis: {
                type: 'value',
                name: '温度',
                data: ["ddd", "dddd", "ddd"],
                axisLabel: {
                    formatter: '{value} °C',
                    color:'#beddff'
                },
                axisLine: {
                    lineStyle: {
                        //纵坐标颜色
                        /* color: '#7df590', */
                        color: '#224883',
                        type: 'solid'
                    }
                },

                splitLine: {
                    //是否显示横标线
                    show: false,
                },
            },
            series: [{
                data: [],
                type: 'line',
                name: 'ddd',
                lineStyle: {
                    color: '#7dbcf6'
                }

            }, ]

        };
        //湿度图表
        var humiditymyOption = {
            xAxis: {
                type: 'category',
                name: '日期点',
                boundaryGap: false,
                data: [],
                axisLine: {
                    lineStyle: {
                        //横坐标颜色
                        color: '#224883'
                    },
                },
                axisLabel:{
                    color:'#beddff'
                }
            },
            yAxis: {
                type: 'value',

                name: '湿度',
                axisLine: {
                    lineStyle: {
                        //纵坐标颜色
                        //color: '#7df590',
                        color: '#224883',
                        type: 'solid'
                    }
                },
                splitLine: {
                    //是否显示横标线
                    show: false,
                },
                axisLabel:{
                    color:'#beddff'
                }
            },
            series: [{
                data: [],
                type: 'line',
                name: 'ddd',
                lineStyle: {
                    color: '#7dbcf6'
                    //color: '#297ae2'
                }

            }, ]

        };
        setTimeout(function () {
            myChart.setOption(temperatureOption);
            humiditymyChart.setOption(humiditymyOption);
        }, 500)
    </script>
</body>

</html>