
.grid{
    .grid-header{

    }
    .grid-body{
        display: table;
        table-layout: fixed;
        width: 100%;
        .grid-item{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }
}