.attestation {
    padding: 30px;
    display: table;
    width: 100%;

    .company-image {
        display: table-cell;
        vertical-align: top;
        position: relative;
        width: 350px;

        .mark {
            position: absolute;
            right: -10px;
            top: -30px;
        }

        &>img {
            display: block;
            margin: 0 auto;
            width: 240px;
            border: 1px solid @border-color;
        }

    }

    .company-info {
        display: table-cell;
        vertical-align: top;
        padding-left: 60px;

        .title {
            padding: 0;
            font-size: 20px;
            font-weight: bold;
        }

        .list {
            .list-group {
                .list-item {
                    padding: 6px 0;
                }
            }
        }

        .btn {
            margin-top: 20px;
        }
    }
}