@banner-height: 166px;

.banner {
    height: @banner-height;
    text-align: center;
    background: #fff;
    margin-bottom: @panel-margin;

    img {
        display: block;
        width: 100%;
        height: @banner-height;
    }
}