// 企业认证审核
.company-check-control {
    border: 1px solid @border-color;
    border-width: 1px 0;
    margin: @base-margin 0;

    .btn-group {
        margin-bottom: 0;
        padding: 20px 0;

        .btn {
            width: 140px;
            height: 56px;

            &+.btn {
                margin-left: 30px;
            }
        }
    }
}