@price-padding: @base-padding-lg;
@price-margin: @base-margin-lg;

.price-block {
    margin: @price-margin;
    padding: @price-padding;
    border: 1px solid @border-color;
    background: #f8f8f8;
    text-align: right;

    .pricle-label {
        display: inline-block;
    }

    .price-value {
        display: inline-block;
        font-weight: bold;
        font-size: 16px;
    }

    &+.btn {
        margin: @price-margin;

    }

    // 支付方式
    .payment-type{
        display: block;
        float: left;
    }
}