.qrcode {
    padding: 60px 30px;
    text-align: center;

    .qrcode-image {
        display: block;
        margin: 0 auto;
    }

    .qrcode-text {
        font-size: 14px;
        line-height: 3;
    }
}