.service-name {
    margin: @base-margin-lg;
    display: inline-block;
    border: 1px solid @border-color;
    padding: @base-padding-lg 30px;
    background: #f5f5f5;

    h4 {
        font-weight: bold;
        font-size: 24px;
    }

}

.service-text {
    border: 1px solid @border-color;
    padding: @base-padding-lg;
    margin: @base-margin-lg;
}