@overall-layout-cell-sm-width: 220px;
@overall-layout-cell-md-width: 360px;
@overall-layout-cell-sm-bg: #d4e9f9;
@overall-layout-cell-md-bg: #fff;
@overall-layout-cell-lg-bg: #fff;
@overall-layout-cell-gutter: 10px;
@ns-nav-tabs-border-color:#c1c8d2;

.skin-peis{
	.nspanel.nstemplate-tab{
		background-color: #fff;
	}
	// .panel{
	// 	margin-bottom: 10px;
	// }
}
.overall-layout {
	display: table;
	width: 100%;
	padding: 0 @overall-layout-cell-gutter;
	.overall-layout-project {
		background-color: #fff;
		padding: @peis-padding 0;
		
		
		// 中间部分表单
		.center-form{

		}
		// 中间部分表单面板
		.component-layout{

		}
		
	}
}
.overall-layout-cell {
	display: table-cell;
	vertical-align: top;
	background: #fff;
	&.overall-layout-cell-sm{
		width: @overall-layout-cell-sm-width;
		min-width: @overall-layout-cell-sm-width;
		min-width: @overall-layout-cell-sm-width;
		padding-left: @overall-layout-cell-gutter;
	}

	&.overall-layout-cell-md{
		width: @overall-layout-cell-md-width;
		min-width: @overall-layout-cell-md-width;
		padding-top: @base-padding;
		padding-right: @overall-layout-cell-gutter;
	}

	&.overall-layout-cell-lg{
		position: relative;	
		padding: 0 @overall-layout-cell-gutter;
	}

}
.overall-layout-border{
	border:@ns-nav-tabs-border-color solid;
	border-width: 0 1px 1px 1px;
}

.peis-list{
	padding: @base-padding 0;
}

.physical-detailinfo.nspanel.tabs{
	.nav.nav-tabs.nav-tabs-justified{
		border-bottom: @ns-nav-tabs-border-color solid 1px;
		li{
			a{
				height: 36px;
				line-height: 36px;
			}
			&.active{
				a{
					height: 37px;
				}
			} 
		}
	}
	.tab-content{
		// .peis-results{
		// 	padding:10px 0;
		// }
		// .overall-layout-cell-lg{
		// 	padding-right: 0;
		// }
		.overall-layout-cell.overall-layout-cell-lg{
			padding-bottom: 10px;
		}
	}	
}