@page-button-height: 45px;
@page-button-left: @sidebar-menu-horizontal-width;

.skin-peis{
	.page-button{
		position: fixed;
		height: @page-button-height;
		top: @header-height;
		right: 0;
		left: @page-button-left;
		z-index: 101;
		.page-title{
			height: @page-button-height;
			background:#f4f8f9;
			border-bottom: none;
			.btn-group{
				padding: 8px 10px;
			}
		}	
		.fixd-offside{
			position: absolute;
			right:10px;
			top:2px;
			bottom: 10px;
			label.radio-inline:after, 
			label.checkbox-inline:after, 
			label.checkbox-inline-none:after{
				top: 14px;
				width: 14px;
				height: 14px;
				line-height: 14px;
			}
		}

	}
	.nswindow{
		.page-button{
			position: static;
			margin: 0 -15px;
		}
		.peis-results-header{
			position: static;
			top: 0;
			right: 15px;
		}
	}
}