@panel-bg: #fff;
@panel-margin: @base-margin-lg;
@panel-padding: @base-padding-lg;

// 面板组件
.panel {
    background: @panel-bg;
    margin-bottom: @panel-margin;

    // 面板头部
    .panel-header {
        .title {
            line-height: 3.5;
        }
    }

    .panel-body {
        padding: @panel-padding;
    }
}