// placeholder
.form-control::-moz-placeholder {
	color: @palceholder-color;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: @palceholder-color;
}
.form-control::-webkit-input-placeholder {
	color: @palceholder-color;
}


.panel-form .element-title{
	background-color: transparent;
}