
// 统计模版
.countCharttable{
	.customertable-echart-table{
		padding-top: (@base-padding * 2);
		border: 1px solid @ns-border-color;
	}
	.customertable-echart-count{
		margin: (@base-margin / 2) 0;
		min-height: 32px;
	}
	.customertable-echart-table{
		height: auto;
		overflow: hidden;
	}
	.funnel-detail{
		display: table;
		float: left;
		border: 1px solid #ddd;
		.funnel-name,
		.funnel-value{
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			padding: 7px 10px;

		}
		.funnel-value{
			color: @ns-info;
			text-align: left;
			min-width: 60px;
			padding-left: 0;
		}


		& + .funnel-detail{
			margin-left: -1px;
		}
	}
	// 检索
	.customer-table-input-component{
		position: absolute;
		top: 0;
		right: 0;
		left: 500px;
		background-color: transparent;
		.customertable-component-container{
			input{
				border: 1px solid @ns-border-color;
				display: block;
				width: 100%;
				padding: 0 	@base-padding;
				min-height: 32px;
				line-height: 32px;
			}
		}
	}
	// 无数据
	.customer-table-empty{
		display: block;
		width: 100%;
		text-align: center;
		height: 32px;
		line-height: 32px;
	}

}

