.nstemplate-tab {
	padding: 0;
	.nav.nav-tabs.nav-tabs-justified {
		border-bottom: 1px solid @ns-border-color;
		margin-bottom: 0;
		// 固定宽度
		
	}

	.tab-nav-default;

	&.nspanel{
		background: @body-bg;
	}

}

.row.managerTab{
	
	.layout-logtimeline{
		background: @body-bg;
		.panel-container-content.nspanel-container-forms-inline{
			padding: 0 15px;
			text-align: right;
		}
	}
}
