@fullpage-top: @dashboard-header-height;
@fullpage-view-border-radius: @panel-border-radius;

.fullpage {
    .fullpage-view {
        top: @fullpage-top;
        background: url("../images/bg.jpg") center center no-repeat;
        background-size: cover;
        // .rgba-bg(darken(@primary, 30), 1);
        border-radius: @fullpage-view-border-radius;
    }

}