<!--
 * @Desription: 文件说明
 * @Author: netstar.cy
 * @Date: 2019-08-22 16:17:01
 * @LastEditTime : 2019-12-23 11:08:45

 * @LastEditTime: 2019-11-19 13:43:05

 * @LastEditTime: 2019-12-06 11:24:48
 -->
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="网星云服务" />
    <meta name="author" content="netstar" />
    <link rel="stylesheet" href="../static/style/welcomepage/css/bs-less/animate.min.css">
    <link rel="stylesheet" href="../static/style/welcomepage/css/guide-less/guide.css">
    <link rel="stylesheet" href="../static/style/welcomepage/css/guide-less/Index-welcome.css">
    <title>DEV.网星云.HOME</title>

    <script type="text/javascript">
        var language = 'cn';
        mxBasePath = '/assets/flow/'; //mx基础库 应当有resource css images等 '../src';
    </script>
    <!--# include file="/static/include/login-static-dev.html" -->
    <!--# include file="/static/include/preload-static-dev.html" -->
    <!--# include file="/static/include/mainpage-static-dev.html" -->
    <!--# include file="/static/include/lazy-static-dev.html" -->
    <script type="text/javascript" src="gjjs-sign.js?v=0.1.0"></script>
    <style>
        .pt-grid-body .pt-grid-body-container tr.netstar-tips-business td {
            /* background-color: rgb(190, 26, 26); */
        }

        .pt-grid-body .pt-grid-body-container tr.netstar-tips-business td.business::empty {
            /* background-color:#ff00ff; */
        }

        .pt-grid-body .pt-grid-body-container tr.netstar-tips-business td.business div.pt-placeholder:empty:before:nth-child(1) {
            content: "点击添加2222";
            color: #ffff00;
        }

        .pt-grid-body .pt-grid-body-container tr.netstar-tips-business:nth-child(1) td.business[ns-editable="true"]:before {
            content: "点击添加";
            color: #ccc;
        }

        body.pt-veritical .pt-header .pt-container .pt-topbar .pt-logo {
            background: url(/sites/base/images/logo-gjjs.png) 1px 2px no-repeat #121b23;
            background-size: 120px;
        }
    </style>
</head>

<body class="home pt-systeminfo pt-veritical">
    <!-- 主页的内容 start -->
    <div id="netstar-main-page" class="netstar-main-page netstar-project-erp">
        <!-- 头部 包含logo 主菜单 start -->
        <div class="pt-header">
            <div class="pt-container">
                <div class="pt-topbar">
                    <div class="pt-container">
                        <div class="pt-logo">
                            <img src="/sites/base/images/logo-gjjs.png" alt="LOGO">
                        </div>
                        <!-- 系统选择器 -->
                        <div class="system-change">
                            <a href="#">
                                <i class="icon-transtion-o"></i>
                                <span>CRM</span>
                            </a>
                        </div>
                        <div id="mainpage-systeminfo-contianer"></div>
                    </div>
                </div>
                <div class="pt-navbar">
                    <div class="pt-container">
                        <!-- 主菜单 -->
                        <div id="mainpage-menus-contianer" class="pt-nav pt-dropdown"></div>
                    </div>
                </div>
                <!-- zy 20191112 点击事件在body上添加class类名collapse -->
                <button class="pt-btn pt-btn-default pt-btn-icon pt-sidebar-collapse" id="mainpage-menus-btn">
                    <i class="icon-menu"></i>
                </button>
                <div id="labelPages" class="pt-tabbar"></div>
            </div>
        </div>
        <!-- 状态列表 -->
        <div class="pt-state hide">
            <div class="pt-state-item pt-state-primary">
                <span class="pt-label">全部</span>
                <span class="pt-badge">99</span>
            </div>
            <div class="pt-state-item pt-state-success">
                <span class="pt-label">全部</span>
                <span class="pt-badge">99</span>
            </div>
            <div class="pt-state-item pt-state-warning">
                <span class="pt-label">全部</span>
                <span class="pt-badge">99</span>
            </div>
            <div class="pt-state-item pt-state-danger">
                <span class="pt-label">全部</span>
                <span class="pt-badge">99</span>
            </div>
            <div class="pt-state-item">
                <span class="pt-label">全部</span>
                <span class="pt-badge">99</span>
            </div>
        </div>
        <!-- 系统选择器弹框 -->
        <div class="system-change-modal hide">
            <div class="title">
                请选择项目
            </div>
            <!-- 列表 -->
            <ul class="nav">
                <li class="nav-item"><a href="#">CRM</a></li>
                <li class="nav-item current"><a href="#">ERP</a></li>
                <li class="nav-item"><a href="#">OA</a></li>
                <li class="nav-item"><a href="#">LIMS</a></li>
            </ul>
            <!-- 关闭按钮 -->
            <a href="#" class="close">
                <i class="icon-close"></i>
            </a>
        </div>
        <!-- 头部 包含logo 主菜单 end ---->
        <!-- 主页的内容 end   -->
        <container>
            <div class="container">
                <div class="row hide" id="netstar-welcomeGuide">
                    <div class="guide-item">
                        <!-- 导航 -->
                        <div class="guide-nav">
                            <ul class="" id="netstar-guide-nav">
                                <li class="netstar-guide-nav-item current">
                                    <a href="javascript:NetstarWelocmePage.toPage(0);" title="开始">
                                        <div class="btn-icon">
                                            <span class="icon icon-arrow-right"></span>
                                        </div>
                                        <span>开始</span>
                                    </a>
                                </li>
                                <li class="netstar-guide-nav-item">
                                    <a href="javascript:NetstarWelocmePage.toPage(1);" title="">
                                        <div class="btn-icon ">
                                            <span class="icon icon-appointment"></span>
                                        </div>
                                        <span>设备管理</span>
                                    </a>
                                </li>
                                <li class="netstar-guide-nav-item">
                                    <a href="javascript:NetstarWelocmePage.toPage(2);" title="">
                                        <div class="btn-icon">
                                            <span class="icon icon-warehouse-o"></span>
                                        </div>
                                        <span>库房管理</span>
                                    </a>
                                </li>
                                <li class="netstar-guide-nav-item">
                                    <a href="javascript:NetstarWelocmePage.toPage(3);" title="">
                                        <div class="btn-icon">
                                            <span class="icon icon-minicode-bed-o"></span>
                                        </div>
                                        <span>床位管理</span>
                                    </a>
                                </li>
                                <li class="netstar-guide-nav-item">
                                    <a href="javascript:NetstarWelocmePage.toPage(4);" title="">
                                        <div class="btn-icon">
                                            <span class="icon icon-stop-o"></span>
                                        </div>
                                        <span>结束</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- 轮播 -->
                    </div>
                    <div class="netstar-guide-banner">
                        <ul class="netstar-guide-banner-item clearfix" id="netstar-guide-slider">
                            <li class="netstar-guide-slider-item">
                                <!-- 图片 -->
                                <div class="left">
                                    <img src="../images/welcomepage/banner1.png" alt="">
                                </div>
                                <!-- 文字 -->
                                <div class="right">
                                    <span class="icon icon-arrow-right"></span>
                                    <span class="slider-text">
                                        <p class="text">新手导航将带领您</p>
                                        <p class="text2">完成基本资料的维护，
                                        </p>
                                        <p class="text2">
                                            请根据导航，开始第一步吧</p>
                                    </span>
                                    <!-- <a href="" class="link">点击进入 >></a> -->
                                </div>
                            </li>
                            <li class="netstar-guide-slider-item hide">
                                <!-- 图片 -->
                                <div class="left">
                                    <img src="../images/welcomepage/banner2.png" alt="">
                                </div>
                                <!-- 文字 -->
                                <div class="right">
                                    <span class="icon icon-appointment"></span>
                                    <span class="slider-text">
                                        <p class="text">从平台引入您需要的设备</p>
                                        <p class="text2">并针对不同设备设置个性化告警</p>
                                    </span>
                                    <a href="" class="link">点击进入 >></a>
                                </div>
                            </li>
                            <li class="netstar-guide-slider-item hide">
                                <!-- 文字 -->
                                <div class="right">
                                    <span class="icon icon-warehouse-o"></span>
                                    <span class="slider-text">
                                        <p class="text">建立一个存放设备库房</p>
                                        <!-- <p class="text2">并针对不同设备设置个性化告警</p> -->
                                    </span>
                                    <a href="" class="link">点击进入 >></a>
                                </div>
                                <!-- 图片 -->
                                <div class="left">
                                    <img src="../images/welcomepage/banner3.png" alt="">
                                </div>
                            </li>
                            <li class="netstar-guide-slider-item hide">
                                <!-- 图片 -->
                                <div class="left">
                                    <img src="../images/welcomepage/banner4.png" alt="">
                                </div>
                                <!-- 文字 -->
                                <div class="right">
                                    <span class="icon icon-warehouse-o"></span>
                                    <span class="slider-text">
                                        <p class="text">住户入住前，需要先为住户准备好床位</p>
                                        <p class="text2">您还可以为床位绑定智能设备，住户选择该床位，</p>
                                        <p class="text2">入住后就可接收设备的监护</p>
                                    </span>
                                    <a href="" class="link">点击进入 >></a>
                                </div>
                            </li>
                            <li class="netstar-guide-slider-item hide">
                                <!-- 图片 -->
                                <div class="left">
                                    <img src="../images/welcomepage/banner5.png" alt="">
                                </div>
                                <!-- 文字 -->
                                <div class="right">
                                    <span class="icon icon-stop-o"></span>
                                    <span class="slider-text">
                                        <p class="text">导航结束</p>
                                        <p class="text2">导航结束，您可以使用本平台</p>
                                    </span>
                                    <!-- <a href="" class="link">点击进入 >></a> -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="welcome hide" id="netstar-welcomeContent">
                    <div class="welocmeContent">
                        <image src="../images/welcomepage/welcome.png"></image>
                    </div>
                </div>
                <div class="netstar-welcome-content hide" id="netstar-indexWelcome">
                    <!-- 预警 -->
                    <div class="netstar-welcome-item" id="netstar-welcomeContent-alarmData">
                        <div class="netstar-welcome-item-title"></div>
                        <div class="netstar-welcome-item-body">
                            <!-- card -->
                            <div class="list-block">
                                <div class="card-box card-task-width" v-for="alarmdata in alarmList"
                                    @click="gotoAlarmUrl($event,alarmdata)">
                                    <div :class="alarmdata.style">
                                        <div class="card-task-left">
                                            <div class="card-title">
                                                <i :class="alarmdata.icon"></i>
                                                <span>{{alarmdata.title}}</span>
                                            </div>
                                        </div>
                                        <div class="card-task-right">
                                            <div class="card-num">
                                                <span>{{alarmdata.num}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card-box card-task-width">
                                    <div class="card-task  card-task-warn">
                                        <div class="card-task-left">
                                            <div class="card-title">
                                                <i class="icon icon-alarm"></i>
                                                <span>库存预警</span>
                                            </div>
                                        </div>
                                        <div class="card-task-right">
                                            <div class="card-num">
                                                <span>12</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-box card-task-width">
                                    <div class="card-task  card-task-warn">
                                        <div class="card-task-left">
                                            <div class="card-title">
                                                <i class="icon icon-alarm"></i>
                                                <span>库存预警</span>
                                            </div>
                                        </div>
                                        <div class="card-task-right">
                                            <div class="card-num">
                                                <span>12</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- 我的待办 -->
                    <div class="netstar-welcome-item" id="netstar-userdetails">
                        <div class="netstar-welcome-item-title">我的待办</div>
                        <div class="netstar-welcome-item-body">
                            <!-- card -->
                            <div class="list-block">
                                <div class="card-box" v-for="detail in detailsData" @click="gotoUrl($event, detail)">
                                    <div class="card-task card-task-vertical">
                                        <div class="card-task-top">
                                            <div class="card-title">
                                                <!-- <i class="icon icon-alarm"></i> -->
                                                <a href="javascript:void(0);"
                                                    :title="detail.activityName">{{detail.activityName}}</a>
                                            </div>
                                            <span class="card-task-num">{{detail.workitemCount}}</span>
                                        </div>
                                        <div class="card-task-bottom">
                                            <div class="card-task-tag">
                                                <span>{{detail.processName}}</span>
                                                <div class="card-task-time">{{detail.timeLength}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </container>
        <script type="text/javascript">
            $(function () {
                function toLoginPage(res) {
                    window.location.href = '/';
                }
                var authCode = NetStarUtils.OAuthCode.get();
                if (authCode == false) {
                    //登录信息已经过期需要重新登录
                    toLoginPage();
                }

                //由于某些特殊情况 config可能出现问题，比如手工删除了 cy 190828
                var config = store.get('NetstarLoginConfig');
                if (typeof (config) != 'string') {
                    toLoginPage();
                    return false;
                }
                config = JSON.parse(config);
                config.mainMenus.menuType = "left";
                var mainPageConfig = {
                    html: '', //页面
                    mainMenus: config.mainMenus, //主菜单配置
                    userMode: config.userMode, //用户模式
                    getLoginProperty: config.getLoginProperty, //获取登录信息地址
                    getDict: config.getDict, //系统字典
                    mainPage: config.mainPage, // 主页面
                    toLoginPage: toLoginPage, //跳转到登录页
                    loginConfig: $.extend(true, {}, config), // 登录保存的全部信息
                    // 系统展示配置
                    systemInfo: {
                        id: 'mainpage-systeminfo-contianer',
                        text: '请补充文字',
                        messageHandler: function (resData) {
                            var topOrgId = NetstarHomePage.config.systemInfo.userInfo.topOrgId;

                            // 国家金属制品质量监督检验中心
                            if (topOrgId == "1310954084307567602") {
                                $("#netstar-indexWelcome").removeClass("hide");
                            }
                            // 国华电子
                            else if (topOrgId == "1314506232714757106" || topOrgId ==
                                "1310230808593695730" || topOrgId == "1318033010750128640" ||
                                topOrgId == "1318039549837836800" || topOrgId ==
                                "1318039664728211968" || topOrgId == "1318039721636528640" ||
                                topOrgId == "1318043389538599424" || topOrgId == "1311333887192310770"
                            ) {
                                $("#netstar-indexWelcome").removeClass("hide")
                            }
                            var detailsData = [];
                            for (var i = 0; i < resData.length; i++) {
                                var _resData = resData[i];
                                var timeLength = NetStarUtils.getDiffByTimeUnit(_resData
                                    .latestTime); //时间差
                                var data = _resData;
                                data.timeLength = timeLength;
                                detailsData.push(data);
                            }
                            var data = {
                                detailsData: detailsData,
                                sourceData: resData,
                            }
                            var todoList = new Vue({
                                el: '#netstar-userdetails',
                                data: data,
                                watch: {
                                    sourceData: function (value) {
                                        var detailsData = [];
                                        for (var i = 0; i < value.length; i++) {
                                            var _value = value[i];
                                            var timeLength = NetStarUtils.getDiffByTimeUnit(
                                                _resData.latestTime); //时间差
                                            var data = _resData;
                                            data.timeLength = timeLength;
                                            detailsData.push(data);
                                        }
                                        this.detailsData = detailsData;
                                    }
                                },
                                // 事件
                                methods: {
                                    gotoUrl: function (ev, detail) {
                                        var url = detail.formUrl;
                                        var title = detail.activityName;
                                        var activityId = detail.activityId;
                                        var processId = detail.processId;
                                        if (url.indexOf('/') != 0) {
                                            url = '/' + url;
                                        }
                                        if (url.indexOf(',') >= 0) {
                                            url = url.split(',')[0];
                                        }
                                        var packageSuffix = '-0-' + activityId;
                                        url = url + ';activityName=' + title +
                                            ';workflowType=0;packageSuffix=' +
                                            packageSuffix + ';';
                                        if (typeof activityId != 'undefined' &&
                                            typeof processId != 'undefined') {
                                            url = url + ';processId=' + processId +
                                                ';activityId=' + activityId;
                                        }
                                        NetstarUI.labelpageVm.loadPage(url, title);
                                    }
                                },
                                mounted: function () {}
                            });

                        }
                    },
                }
                NetstarHomePage.init(mainPageConfig);

                // 新手导航页面 
                var NetstarWelocmePage = {};
                NetstarHomePage.config.callBackFunc = function () {
                    var topOrgId = NetstarHomePage.config.systemInfo.userInfo.topOrgId;
                    if (topOrgId == "1310307103319000050" || topOrgId == "1310239567105754098" ||
                        topOrgId == "1310307241831695346") {
                        var $netstarWelcome = $("#netstar-welcomeContent");
                        $netstarWelcome.removeClass("hide");
                    }
                    // 国家金属制品质量监督检验中心
                    else if (topOrgId == "1310954084307567602") {
                        $(".container").css({
                            'width': '100%'
                        });
                        $("#netstar-welcomeContent-alarmData").remove()
                    }
                    // 国华电子/erp
                    else if (topOrgId == "1314506232714757106" || topOrgId == "1310230808593695730" ||
                        topOrgId == "1318033010750128640" || topOrgId == "1318039549837836800" ||
                        topOrgId == "1318039664728211968" || topOrgId == "1318039721636528640" ||
                        topOrgId == "1318043389538599424" || topOrgId == "1311333887192310770" ||
                        topOrgId == "1320529799793345024" || topOrgId == "1321529797028901376") {
                        $(".container").css({
                            'width': '100%'
                        });

                        //警报弹框 
                        var alarmVm = new Vue({
                            el: "#netstar-welcomeContent-alarmData",
                            data: {
                                alarmList: [{
                                        title: '库存预警',
                                        num: '',
                                        icon: 'icon-bell-o ',
                                        style: 'card-task  card-task-warn card-box-warm',
                                        url: getRootPath() +
                                            '/templateMindPages/pageConfig/1318115675985675250'
                                    },
                                    {
                                        title: '保质期预警',
                                        num: '',
                                        icon: 'icon-bell-o',
                                        style: 'card-task  card-task-warn card-box-warm',
                                        url: getRootPath() +
                                            '/templateMindPages/pageConfig/1318115703902962674'
                                    },
                                    {
                                        title: '已过期',
                                        num: '',
                                        icon: 'icon-dashboard-o',
                                        style: 'card-task  card-task-warn card-overdue',
                                        url: getRootPath() +
                                            '/templateMindPages/pageConfig/1318115664174515186'
                                    }
                                ]
                            },
                            methods: {
                                gotoAlarmUrl: function (ev, detail) {
                                    var url = detail.url;
                                    var title = detail.title;
                                    NetstarUI.labelpageVm.loadPage(url, title);
                                }
                            }
                        })

                        // 库存预警
                        NetStarUtils.ajax({
                            url: getRootPath() + '/inventoryAlarm/v2/getListOfAlarm'
                        }, function (res) {
                            // console.log(res);
                            var num = res.rows.length;
                            alarmVm.alarmList[0].num = num;
                            // console.log(res.rows.length)
                        })
                        // 保质期预警
                        NetStarUtils.ajax({
                            url: getRootPath() + '/inventoryAlarm/v2/getAlarmListInWarningDay'
                        }, function (res) {
                            // console.log(res);
                            var num = res.rows.length;
                            alarmVm.alarmList[1].num = num;

                        })
                        // 已过期
                        NetStarUtils.ajax({
                            url: getRootPath() + '/inventoryAlarm/v2/getPastDueAlarmList'
                        }, function (res) {
                            // console.log(res);
                            var num = res.rows.length;
                            if (res.rows == "") {
                                alarmVm.alarmList[2].num = 0;
                            } else {
                                alarmVm.alarmList[2].num = num;
                            }
                        })
                    } else {
                        $netstarWelocmeGuide = $("#netstar-welcomeGuide");
                        $netstarWelocmeGuide.removeClass("hide");
                        var $WelocmenavLis = $('#netstar-guide-nav li');
                        var currentSlideNumber = 0;
                        NetstarWelocmePage.toPage = function (pageNumber) {
                            $WelocmenavLis.removeClass('current');
                            $WelocmenavLis.eq(pageNumber).addClass('current');
                            var $sliderLis = $("#netstar-guide-slider li");
                            // 图显示/隐藏
                            $sliderLis.addClass("hide");
                            $sliderLis.removeClass("animated fadeInLeft fadeOutRight");
                            $sliderLis.eq(pageNumber).removeClass("hide");
                            $sliderLis.eq(pageNumber).addClass("animated fadeInLeft");

                            $sliderLis.eq(currentSlideNumber).removeClass("hide");
                            $sliderLis.eq(currentSlideNumber).addClass("animated fadeOutRight");
                            $sliderLis.eq(currentSlideNumber).on('animationend', function () {})
                            currentSlideNumber = pageNumber;
                        }
                    }
                }
                // zy 20191112 在body上添加类名collapse的方法
                function addBodyClass() {
                    if ($("body").hasClass("collapse")) {
                        $("body").removeClass("collapse");
                    } else {
                        $("body").addClass("collapse");
                    }
                }

            })
        </script>
</body>

</html>