.datepicker,
.datetimepicker {
    table tr td {

        &.active,

        &.active.disabled,
        &.active.disabled:hover {
            color: #fff;
            background: @danger  !important;
        }

        &.active:hover {
            background: darken(@danger, 5) !important;
        }
    }
}