@formeditor-current-bg: @bg-current;

.pt-formeditor .pt-list li {
    &.current:not(.pt-nodata) {
        background: @formeditor-current-bg;

        span {
            color: #333;
        }


    }

    &:hover {
        background: #f4f4f4;
    }
}