.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list {
    div.title {
        background: @danger;
    }


}

.pt-block-list {
    &.card-task .pt-block-content .card-task-top .card-task-number {
        background: rgb(255, 225, 229);
        color: @danger;
    }
}