@ztree-select-bg: @danger;

.ztree {
    li {
        a {
            &.curSelectedNode {

                &.curSelectedNode,
                &.curSelectedNode:hover {
                    .node_name {
                        background: @ztree-select-bg;
                        color: #fff;
                    }
                }
            }
        }

        span {
            &.node_name {
                &:hover {
                    background: @ztree-select-bg;
                    color: darken(@primary, 10);
                }
            }
        }
    }
}