@ztree-select-bg: @primary-bg;
// color-辅助色-用于标识状态的按钮等
@lims-success: 				#2fc33d;
@lims-danger: 				#e90000;
@lims-warning:				#ffa004;
@lims-info: 				#58abff;
@lims-gray:                 #9e9e9e;
// bg-color
@lims-bg-primary: 			#ECF2FC;
@lims-bg-success: 			#E3F9ED;
@lims-bg-danger: 			#FFE9E9;
@lims-bg-warning: 			#FFF8E6;
@lims-bg-info: 				#EFF4FE;
//竖菜单的各种状态
.ztree-state(@ztree-state-bg, @ztree-state-color) {
    .node_name {
        background: transparent;
        color: @ztree-state-color;
    }

    &.curSelectedNode,
    &:hover {
        .node_name {
            background: darken(@ztree-state-bg, 10%);
            color: darken(@ztree-state-color, 10%);
        }
    }
}
.ztree {
    li {
        a {

            //选中
            &.curSelectedNode {
                .ztree-state(#fcefe8, @lims-warning)
            }

            //info
            &.infonode {
                .ztree-state(lighten(#399cdd, 40%), #399cdd)
            }

            //警告
            &.warningnode {
                .ztree-state(@lims-bg-warning, @lims-warning)
            }

            //成功
            &.successnode {
                .ztree-state(@lims-bg-success, @lims-success)
            }

            //错误
            &.errornode {
                .ztree-state(@lims-bg-danger, @lims-danger)
            }

            //禁用
            &.disablenode {
                .ztree-state(#eee, @lims-gray);

                &:hover {
                    .node_name {
                        background: #eee;
                        color: @lims-gray;
                    }
                }
            }

        }
    }
}