// color-主色-用于标识品牌颜色
@primary: #335070;
@primary: #0084ff;

// color-辅助色-用于标识状态的按钮等
@success: #00d184;
@warning: #ff9000;
@danger: #e21d22;
@info: @primary;
@gray: #9e9e9e;
@gray-darker: darken(@gray, 20);
@gray-dark: darken(@gray, 10);
@text-color: @gray;
@link-color: @gray-dark;
@link-hover-color: darken(@link-color, 15);

@body-bg: #080d21;
@border-color: @primary;

// bg-color
@bg-primary: lighten(@primary, 20);
@bg-success: lighten(@success, 20);
@bg-danger: lighten(@danger, 20);
@bg-warning: lighten(@warning, 20);
@bg-info: lighten(@info, 20);
@bg-gray: lighten(@gray, 20);

@base-padding: .5rem;