html {
	overflow-y: hidden;
	font-family: "微软雅黑";
}
a {
	text-decoration: none;
	color: #6d6d72;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.warp {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background: url(../../images/bg.jpg) no-repeat center bottom;
	padding-top:100px;
	background-size: cover;
}
.warp .header { 
	margin: 0px auto;
	width: 360px;
}
.warp .login {
	width: 360px;
	margin: 0px auto;
	margin-top:35px;
	padding:18px 24px 30px 24px;
	background: #fff;
	box-shadow: 1px 3px 15px rgba(0,0,0,.2);
	position: relative;
}
.warp .login .title {
	width:100%;
	height: 40px;
	margin-bottom:29px; 
}
.warp .login .title .cut{
	width: 50%;
	line-height: 38px;
	float: left;
	font-size: 16px;
	color:#333;
	text-align: center;
	border-bottom:1px solid #f2f2f2; 
	display: block;
}
.warp .login .title .cut a:hover,
.warp .login .title .cut a:active{
	color:#186290;
	border-bottom:2px solid #186290; 
	display: block;
}
.warp .login .title .cut.active a{
	color:#186290;
	border-bottom:2px solid #186290; 
	display: block;
}
.warp .login .group-from {
	width:100%;
	line-height: 38px;
	margin-bottom:19px;
	color: #8e8e93;
	position:relative;
}
.warp .login .group-from label {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 12px;
	left: 10px;
}
.warp .login .group-from form select {
	width:100%;
	height:38;
	padding:3px 5px 3px 26px;
	border:none;
	background:none;
	position:relative;
	color:#a9a9a9;
}
.warp .login .group-from input {
	width:100%;
	height:38px;
	padding: 6px 5px 6px 31px;
	border: 1px #dddddd solid;
	color: #8e8e93;
	font-family:"微软雅黑";
}
.warp .login .group-from i.fa {
	font-size: 1.4rem;
	color: #a9a9a9;
}
.warp .login .group-from .cue{
	color:#e00000; 
	line-height: 16px;
	margin-top: 5px;
}
.warp .login .group-from .cue.hide{
	display: none;
}
.warp .login .user {
	width:100%;
	height: 23px;
	line-height: 23px;
}
.warp .login .user .reme {
	width: 100px;
	height: 23px;
	float: left;
}
.warp .login .user .reme input {
	width: 14px;
	height: 14px;
	font-size: 12px;
	background: #fff;
	border: none;
	margin: 5px;
	color: #a9a9a9;
	float: left;
}
.warp .login .user .reme .text {
	color: #a9a9a9;	font-size: 12px;
}
.warp .login .user .pt {
	width: 50%;
	height: 23px;
	text-align:right;
	color:#186290;
	float: right;
}
.warp .login .user .pt a{
	color:#186290;
}
.warp .login .btn {
	width: 100%;
	height:45px;
	line-height:45px;
	background:#186290;
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
}
.warp .login .btn a {
	color: #fff;
	display: block;
}
.warp .login .btn a:active {
	display: block;
	background: #1b74ab;
}
.bottom {
	width:100%;
	height: 40px;
	line-height: 20px;
	color: #b3b3b3;
	text-align:center;
	position: fixed;
	bottom: 120px;
}
