// color-主色-用于标识品牌颜色
@primary: #707070;

// color-辅助色-用于标识状态的按钮等
@success: #797979;
@warning: #818181;
@danger: #7f7f7f;
@info: #9e9e9e;
@gray: #9e9e9e;
@gray-darker: darken(@gray, 20);
@gray-dark: darken(@gray, 10);

@text-color: @gray;
@link-color: @gray-dark;
@link-hover-color: darken(@link-color, 15);

@body-bg: #333;
@border-color: #ddd;

// bg-color
@bg-primary: lighten(@primary, 20);
@bg-success: lighten(@success, 20);
@bg-danger: lighten(@danger, 20);
@bg-warning: lighten(@warning, 20);
@bg-info: lighten(@info, 20);
@bg-gray: lighten(@gray, 20);

//scrollbar--滚动条
@scrollbar-width: 6px;
@scrollbar-border-width: 0;
@scrollar-bg: #eee;
@scrollbar-control-bg: #f5f5f5;
@scrollbar-control-height: 48px;

@base-padding: 1rem;
@base-margin: @base-padding;

// fonts
@font-size-base: .75rem;
@icon-font-icomoon: 'icomoon';

// 媒体查询
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

@screen-hd:                   1920px;
@screen-hd-min:              @screen-hd;
@screen-hd-desktop:          @screen-hd-min;

@screen-2k:                   2560px;
@screen-2k-min:              @screen-2k;
@screen-2k-desktop:          @screen-2k-min;

@screen-4k:                   3656px;
@screen-4k-min:              @screen-4k;
@screen-4k-desktop:          @screen-4k-min;

@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
@screen-lg-max:              (@screen-hd - 1);
@screen-hd-max:              (@screen-2k - 1);
@screen-2k-max:              (@screen-4k - 1);
