@modal-header-title-font-size: 1.75rem;

.modal {
    overflow: hidden;
    .rgba-bg(@primary, .5);
    // .rgba-shadow(0, 0, 1rem, lighten(@info, 25), .75);
    min-width: 320px;

    border-radius: .5rem;

    .modal-header {
        .title {
            justify-content: center;
            font-size: @modal-header-title-font-size;
        }
    }

    .modal-body {
        .title {
            color: @text-color;
            font-size: 1.5rem;
            margin-bottom: @base-padding;
        }
    }

    .close {
        flex: none;
        color: #fff;
    }

}