@table-color: #fff;
@table-border-color: @primary;
@th-bg: darken(@primary, 15);
@th-color: @table-color;
@table-padding: @base-padding;

.table {
    color: #fff;

    thead {
        th {
            background: @th-bg;
            color: @th-color;
        }
    }

}

.table-footer {
    .flex-block();
    padding: @table-padding;
}

.modal {
    .table {

        th,
        td {
            color: @text-color;
            font-size: 1.25rem;
        }

        thead {
            th {
                color: #fff;
            }
        }
    }
}