@calendar-row-height: 3rem;
@calendar-row-height-lg: 4rem;
@calendar-weeks-height: 2.5rem;
@calendar-weeks-bg: #f5f5f5;
@calendar-day-height:4rem; 
@calendar-day-height-lg:6rem; 


.calendar{
	position: relative;
	// border: 1px solid #eee;
	// margin: @base-margin;
	min-width: 320px;
	background: #fff;
	.calendar-row{
		display: table;
		width: 100%;
		table-layout: fixed;
		height: @calendar-row-height;
		.calendar-item{
			position: relative;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			&.today,
			&.prev,
			&.next{
				width: 60px;
				i{
					padding: 0;
				}
				
			}
			&.year{
				text-align: left;
				padding-left: 2rem;
				font-weight: bold;
			}
		}
		button{
			background: transparent;
			border: 0;
		}
	}
	// 年份
	.calendar-years{
		border-bottom: 1px solid #eee;
		.calendar-row{
			position: relative;
			height: @calendar-row-height;
			cursor: pointer;
		}
		i{
			padding-left: @base-padding;
		}
		.calendar-item{
			position: relative;
			.calendar-dropdown{
				ul > li > a{
					font-weight: normal;
				}
			}
		}
	}
	// 月份
	.calendar-month{
		.calendar-row{
			position: relative;
			height: @calendar-row-height;
			cursor: pointer;
		}
		i{
			padding-left: @base-padding;
		}
		.calendar-item{
			position: relative;

		}
	}
	// 星期
	.calendar-weeks{
		background: @calendar-weeks-bg;
		.calendar-row{
			height: @calendar-weeks-height;
		}
	}
	// 日期
	.calendar-days{
		// border-bottom: 1px solid #eee;
		.calendar-row{
			height: @calendar-day-height; 
		}
		.calendar-item{
			cursor: pointer;
			position: relative;
			z-index: 2;
			.calendar-tips{
				position: absolute;
				box-shadow: 0 0 .5rem rgba(0,0,0, .1);
				background: #fff;
				padding: 1.5rem;
				top: @calendar-day-height-lg;
				left: 0;
				margin: 0;
				width: 18rem;
				background: #fff;
			}
			&:after{
				position: absolute;
				content: "";
				top: 50%;
				left: 50%;
				width: 2rem;
				height: 2rem;
				background: #eee;
				margin: -1rem 0 0 -1rem;
				transition: ease-in-out all .35s;
				transform: scale(0);
				opacity: 0;
				border-radius: 4rem;
				z-index: -1;
			}
			&:hover{
				color: #222;
				&:after{
					transform: scale(1.25);
					opacity: 1;
				}
			}
			&.past{
				color: #ccc;
			}
			&.current{
				color: #fff;
				&:after{
					background: @ns-info;
					opacity: 1;
					transform: scale(1.25);
				}
				&:hover{
					color: #222;
					&:after{
						background: #eee;
						transform: scale(1.25);
						opacity: 1;
					}
				}
			}
			&.active{
				color: #fff;
				&:after{
					background: #ff7900;
					opacity: 1;
					transform: scale(1.25);
				}
				&:hover{
					color: #222;
					&:after{
						background: #eee;
						transform: scale(1.25);
						opacity: 1;
					}
				}
			}
			&.mark{
				background: transparent !important;
				&:before{
					position: absolute;
					content:"";
					top: 50%;
					left: 50%;
					width: 6px;
					height: 6px;
					border-radius: 1rem;
					background: @ns-danger;
					margin: 15px 0 0 -3px;
				}
			}
			&.badge-mark{
				background: transparent !important;
				.badge{
					position: absolute;
					top: 50%;
					left: 50%;
					width: 15px;
					height: 15px;
					line-height: 16px;
					margin: -15px 0 0 10px;
					padding: 0;
					text-align: center;
					font-family: @font-family-en;
					font-size: 8px;
					font-weight: normal;
					background: @ns-warning;

				}
			}

		}
	}

	
	.calendar-dropdown{
		position: absolute;
		top: 60px;
		left: 50%;
		width: 120px;
		background: #fff;
		// border: 1px solid @ns-border-color;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
		margin: 0 0 0 -60px;
		opacity: 0;
		transition: ease-in-out all .35s;
		display: none;

		&.show{
			top: @calendar-row-height;
			opacity: 1;
			display: block;
			z-index: 9;
		}
		&:before{
			position: absolute;
			content:"";
			width: 10px;	
			height: 10px;
			background: #fff;
			top: -5px;
			left: 50%;
			margin: 0 0 0 -5px;
			transform: rotate(45deg);
			box-shadow: -1px -1px 0 rgba(0,0,0, .08);
			z-index: -1;	
		}
		ul{
			height: 174px;
			overflow-y: auto;
			padding: 0;
			margin-bottom: 0;
			&::-webkit-scrollbar{
			  display:none;
			}
			li{
				list-style: none;
				a{
					display: block;
					background: #fff;
					padding: .5rem 1rem;
					&:hover{
						background: #f5f5f5;
					}
				}
				&.current{
					a{
						background: @ns-info;
						color: #fff;
					}
				}
			}
		}
		&.years{
			left: 0;
			margin-left: 10px;
		}
	}
	&.calendar-lg{
		min-width:514px;
		.calendar-row{
			height: @calendar-row-height-lg;
		}
		.calendar-item{
			font-size: 14px;
		}
		.calendar-years{
			.calendar-row{
				height: 4rem;
				.calendar-dropdown{
					&.show{
						top: @calendar-row-height-lg;
					}
				}
			}
		}
		.calendar-weeks{
			.calendar-row{
				height: 4rem;
			}
		}
		.calendar-days{
			.calendar-row{
				height: @calendar-day-height-lg;
			}
			.calendar-item{
				&:before{
					margin-top: 20px;
				}
				&:after{
					width: 2.4rem;
					height: 2.4rem;
					margin: -1.2rem 0 0 -1.2rem;
				}
			}
		}
		.calendar-dropdown.show{
			top: @calendar-row-height-lg;
		}
	}
	.calendar-text{
		
		.calendar-text-empty{
			border-top: 1px solid #eee;
			padding: 2.5rem;
			text-align: center;
			i{
				font-size: 4rem;
				color: #eee;
			}
			span{
				display: block;
				text-align: center;
				line-height: 2rem;
				color: #ccc;
			}
		}

		.calendar-text-list{
			margin: 0;
			padding: 1rem 0;
			border-top: 1px solid #eee;
			li{
				position: relative;
				list-style: none;
				padding:1rem 3rem;
				color: #666;
				&:before{
					position: absolute;
					content:"";
					.border-vertical(1px, #eee);
					left: 18px;
					top: 0;
				}
				&:after{
					position: absolute;
					content:"";
					width: 7px;
					height: 7px;
					top: 1.25rem;
					left: 15px;
					background: #ccc;
					border-radius: 4rem;
					z-index: 9;
				}
				a{
					padding: 0 .5rem;
					color: #222;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
				.btn{
					position: absolute;
					top: 5px;
					right: 3px;
					i{
						color: #ddd;
					}
					&:hover{
						box-shadow:none;
						i{
							color: #666;
						}
					}
				}
			}
		}
	}

}

