.nspanel {
	.chat {
		height: auto;
		overflow: hidden;

		.search-box {
			padding: @base-padding 0;

			.form-group {
				margin-bottom: 0;

				.input-group {
					position: relative;

					i.fa-search {
						position: absolute;
						width: 40px;
						height: 40px;
						text-align: center;
						line-height: 40px;
						top: 0;
						left: 0;
						z-index: 9;
					}

					.form-control {
						padding-left: 40px;
					}

					.input-group-btn {
						border: 1px solid #ddd;
						padding: 0 10px;

						.btn {
							border: 0;
							background-color: transparent;
							box-shadow: none;

							&:hover {
								background: none;
							}

						}

					}

				}

			}

		}

		.card {

			.card-item {
				display: block;
				height: auto;
				overflow: hidden;
				padding: 15px 0;
				border: 1px solid #ddd;
				border-width: 1px 0;

				& + .card-item {
					margin-top: -1px;
				}

				&:hover {
					background: #f8f8f8;
				}

				.card-before {
					position: relative;
					width: 96px;
					float: left;

					img {
						display: block;
						width: 72px;
						height: 72px;
						margin: 0 auto;
						background: #eee;
						border-radius: 5px;
					}

					.badge {
						position: absolute;
						top: -10px;
						right: 0;
						width: 20px;
						height: 20px;
						text-align: center;
						font-size: 9;
						font-weight: normal;
						font-family: "sans-serif";

						&.badge-danger {
							background: @ns-danger;
							color: #fff;
						}

					}

				}

				.card-block {
					padding: 0 @base-padding;
					float: left;

					.card-title {
						font-size: 14px;
						color: #333;
					}

				}

				.card-after {
					display: block;
					width: 120px;
					float: right;
					text-align: right;
					padding: 0 @base-padding;
				}

			}

		}

	}
}

.chat-box {
	position: fixed;
	display: table;
	top: 50%;
	left: 50%;
	width: 900px;
	height: 550px;
	background: #fff;
	z-index: 1060;
	margin: -275px 0 0 -450px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

	&:after {
		position: fixed;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, .5);
		z-index: -1;
	}

	.card {
		position: relative;
		background: #fff;
		display: table;
		width: 100%;
		height: 480px;

		.card-header {
			position: absolute;
			background: #ccc;
			top: 0;
			left: 0;
			width: 900px;
			height: 56px;
			overflow: hidden;
			padding: 0 10px;

			h4 {
				float: left;
				height: 30px;
				line-height: 30px;
				margin: 13px 0;
				position: relative;
				padding: 0 0 0 20px;

				&:before {
					position: absolute;
					content: "";
					top: 8px;
					left: 0;
					width: 4px;
					height: 16px;
					background: #fc7008;
				}

			}

			a.btn {
				float: right;
				margin: 13px 0;
				background-color: transparent;
			}

		}

		.card-before {
			display: table-cell;
			width: 200px;
			height: 100%;
			overflow-y: auto;
			vertical-align: top;
			background: #f1f1f1;
			padding: 56px 0 0;

			.contact-group {
				padding: 0;

				.contact-item {
					position: relative;
					padding: 0 10px;
					height: 56px;
					overflow: hidden;
					box-sizing: border-box;

					img {
						display: block;
						width: 42px;
						height: 42px;
						border-radius: 5px;
						background: #ddd;
						float: left;
						margin: 7px 0;
					}

					.user-name {
						float: left;
						padding: 7px 10px;
						line-height: 42px;
					}

					.contact-item-remove {
						position: absolute;
						top: 50%;
						right: 5px;
						width: 24px;
						height: 24px;
						margin: -12px 0 0 0;
						text-align: center;
						line-height: 24px;
						opacity: 0;
					}

					.badge {
						position: absolute;
						font-size: 9px;
						font-weight: normal;
						background: @ns-danger;
						width: 18px;
						height: 18px;
						text-align: center;
						left: 42px;
						top: 2px;
						&:badge-more{
							position: absolute;

						}
					}

					&:hover {
						background: #e9e9e9;

						.contact-item-remove {
							opacity: .5;
							cursor: pointer;
						}

					}

					&.current {
						background: #ddd;

						img {
							background: #aaa;
						}

					}

				}

			}

		}

		.card-block {
			display: table-cell;
			width: 560px;
			vertical-align: top;
			padding-top: 56px;

			.chat-group {
				height: 280px;
				padding: 0;
				position: relative;
				overflow-y: auto;

				.chat-date {
					text-align: center;
					padding: 15px 0;
					position: relative;


					span {
						display: inline-block;
						background: #eee;
						border-radius: 5px;
						padding: 3px 5px;
					}

				}
				.chat-message{
					position: relative;
					float: left;
				}
				.chat-item {
					padding: 15px;
					height: auto;

					img {
						display: block;
						width: 42px;
						height: 42px;
						background: #eee;
						border-radius: 5px;
						float: left;
					}
					// 接收消息内容-文字、图片及语音 
					.chat-text,
					.chat-media,
					.chat-voice {
						margin: 0 10px;
						float: left;
						background: #f8f8f8;
						min-height: 42px;
						padding: 12px 10px 11px;
						border-radius: 5px;
						border: 1px solid #f1f1f1;
						box-sizing: border-box;
						max-width: 295px;
						background: #f1f1f1;
						color: #444;
						img{
							display: block;
							width: 128px;
							height: 128px;
						}
					}
					.chat-text{
						float: none;
					}
					.chat-text{
						position: relative;
						.tag-mouse{
							position: absolute;
							display: inline-block;
							border-radius: 5px;
							background: #fff;
							padding: 2px;
							z-index: 9;
							width: 72px;
							border: 1px solid @ns-border-color;
							// &:after{
							// 	z-index: 2;
							// 	position: absolute;
							// 	content:"";
							// 	width: 15px;
							// 	height: 15px;
							// 	background: #444;
							// 	transform: rotate(45deg);
							// 	left: 50%;
							// 	bottom: -2px;
							// 	margin-left: -10px;
							// }
							// ul{
							// 	padding: 0;
							// 	margin: 0;
							// }
							// &.tag-mouse-left{
							// 	&:after{
							// 		left: -1px;
							// 	}
							// }
							// &.tag-mouse-right{
							// 	&:after{
							// 		right: -1px;
							// 	}
							// }
							ul{
								padding: 0;
								margin: 0;
								li{
									display:block;
									font-size: 12px;
									color: #444;
									padding:(@base-padding / 2);
									text-align: center;
									cursor: pointer;
									&:hover{
										background: #f6f6f6;
										color: @ns-info;
									}
								}
							}
						}
										}
					.chat-media{
						padding: 0;
						background-color: transparent;
						border: 0;
					}
					.chat-voice{
						min-width: 160px;
						max-width: 280px;
						position: relative;
						&:before{
							position: absolute;
							top: 5px;
							left: 0;
							width: 30px;
							height: 30px;
							line-height: 30px;
							content: "\f1eb";
							font-family:@icon-font;
							font-size: 12px;
							text-align: center;
							transform: rotate(90deg);
							color: #aaa;
						}
						&-second{
							position: absolute;
							display: block;
							width: 30px;
							right: -40px;
							bottom: 0;
						}
					}
					.chat-tips {
						display: block;
						width: 100%;
						float: left;
						padding-left: 52px;
						margin: 5px 0;

						&.checked{
							color: #ccc;
						}
						.chat-time{
							padding-right: 5px;
						}
					}
					// 消息发送
					&.chat-send {
						img, 
						.chat-media,
						.chat-voice{
							float: right;
						}
						.chat-message{
							float: right;
						}
						.chat-text{
							background: #fff;
							border-color: #ddd;
							color: #000;
						}
						.chat-tips{
							text-align: right;
							padding-right: 52px;
						}
						.chat-voice{
							background: #fff;
							color: #333;
							&:before{
								transform: rotate(-90deg);
								left: auto;
								right: 0;
								color: #000;
							}
							&-second{
								left: -40px;
								text-align: right;
							}
						}

					}

				}

			}
			.chat-control{
				position: absolute;
				display: block;
				.square(24px);
				line-height: 24px;
				border-radius: 3px;
				background: #f5f5f5;
				text-align: center;
				color: #999;
				cursor: pointer;
				&:hover{
					background: #f1f1f1;
					color: #333;
				}
			}
			.chat-new-tips{
				position: absolute;
				width: 185px;
				height: 32px;
				line-height: 30px;
				background: #a9f7a6;
				color: #333;
				text-align: center;
				top: -36px;
				right: 32px;
				border-radius: 3px;
				box-shadow: 0 0 5px rgba(0,0,0, .25);
				z-index: 99;
			}
			.chat-editor {
				height: 211px;
				position: relative;
				.chat-editor-header {
					border: 1px solid #eee;
					border-width: 1px 0;
					height: 32px;
					position: relative;
					i{
						font-size: 18px;
						color: #444;
					}
					.btn-group{
						position: absolute;
						top: 0;
						left: 30px;
						z-index: 999;
					}
				}

				.input-box {
					background: #f8f8f8;
					display: block;
					height: 128px;
					overflow-y: auto;
					border: 0;
					&:focus{
						box-shadow: none;
					}
				}

				.chat-editor-footer {
					height: 50px;
					padding: 10px;
					text-align: right;
					border-top: 1px solid #eee;
					margin-top: 128px;

					.btn {
						display: inline-block;
						border: 1px solid #ddd;
					}

				}

			}

		}

		.card-after {
			display: table-cell;	
			vertical-align: top;
			width: 260px;
			border-left: 1px solid #ddd;
			padding: 56px 0 10px;

			.project-info {
				height: 472px;
				overflow-y: auto;
				img {
					display: block;
					width: 232px;
					height: 232px;
					background: #eee;
					border-radius: 5px;
					margin: 15px auto ;
				}
				.title{
					padding: 0 50px 0 10px;
				}
				.price {
					display: block;
					color: @ns-danger;
					margin-bottom: 5px;
					padding: 0 10px;
					font-size: 16px;
				}

				.type {
					display: block;
					margin-bottom: 5px;
					padding: 0 10px;
				}
				.text {
					display: block;
					margin-bottom: 5px;
					padding: 0 10px;
				}
				.btn{
					border: 1px solid #ddd;
					position: absolute;
					top: 63px;
					right: 5px;
					height: 24px;
					padding: 0 8px;
					font-size: 12px;
				}

			}

		}

	}

}