@drag-element-background-color: @table-thead-background-drag-color;
@drag-element-border-color: #b3d465;
.drag-element{
	color:#fff;
	background-color: @drag-element-background-color;
	.opacity(0.4);
	border:1px solid @drag-element-border-color;
	position: absolute;
	z-index: 99999;
}