/*====================================================================*/
/* 下拉列表 */
/* 下拉列表 */
/*====================================================================*/
@dropdown-menu-padding-h: 8px;
@dropdown-menu-padding-v: 15px;
.page-body{
	
	.dropdown-menu {
		margin-top: 0;
		font-size: 12px;
		li{
			a{
				padding: @dropdown-menu-padding-h @dropdown-menu-padding-v;
				i{
					width: 20px;
				}
			}
		}
		&.inherit {
			min-width: 120px;
			max-width: auto;
			right: -1px;
		}
	}
	

}