.search-fields{
	position: absolute;
	background: #fff;
	box-shadow: 0 0 4px rgba(0,0,0, .15);
	max-height: 300px;
	overflow-y: auto;
	border: 0;
}
.search-fields-item{
	color: #000;
	background: #fff;
	padding: (@base-padding / 2) @base-padding;
	border: 0;
	&.select-item{
		background: @ns-info;
		color: #fff;
	}
}

.exp-title{
	font-size: 14px;
	line-height: 24px;
	display: block;
}