@flowchart-control-height: 40px;
@flowchart-control-bg: #fff;
@flowchart-view-panel-bg: #f2f5f7;
@flowchart-btn-icon-size: 20px;
@flowchart-border-color: #ebeff2;
@time-line-bg: #c4d9e8;

.panel-form .form-td.nscomponent-type-flowchartviewer.nscomponent-form {
    overflow: hidden;
}


.nscomponent-type-flowchartviewer {
    @zoom-btn-size: 20px;
    @zoom-btn-radius: 3px;
    @zoom-btn-bg: #f1f6f9;
    @zoom-btn-bg-dark: darken(@zoom-btn-bg, 5%);

    .btn-group {
        padding: 3px;

        .btn.btn-icon {
            border: 0;
            .square(@zoom-btn-size);
            line-height: @zoom-btn-size;
            padding: 0;
            border-radius: @zoom-btn-radius;
            background: @zoom-btn-bg;

            i {
                color: @gray-light;
                vertical-align: text-top;
            }

            &:hover {
                box-shadow: none;
                background: @zoom-btn-bg-dark;
            }

            &:first-child,
            &:last-child {
                border-radius: @zoom-btn-radius;
            }

            &:first-child:not(last-child):not(.dropdown-toggle) {
                border-bottom-right-radius: @zoom-btn-radius;
                border-top-right-radius: @zoom-btn-radius;
            }

            &+.btn {
                margin-left: 5px;
            }
        }
    }
}

.flowchartviewer {
    border-color: transparent;
    border: 0;

    &:hover,
    &:focus {

        border: 0;
    }
}

//   弹框流程图
.flowchartviewer-panel {
    background: @flowchart-view-panel-bg;
    border: 0;
    top: @flowchart-control-height;
    right: 0;
    opacity: 0.85;

    // 头部
    .flowchartviewer-header,
    .flowchartviewer-body {
        padding: @padding-base-vertical @padding-base-horizontal;

    }

    .flowchartviewer-header {
        border-bottom: 1px solid @flowchart-border-color;

        .flowchartviewer-title {
            margin: 0;
        }

        .btn-group {
            padding-top: @base-padding;

            .btn {
                border: 1px solid @ns-border-color;

                font-size: @font-size-base;

                &+.btn {
                    margin-left: (@base-margin / 2);
                }
            }
        }

    }

    // 中间内容
    .flowchartviewer-body {
        padding-left: @flowchart-control-height;
        position: relative;
        overflow-y: auto;

        &:before {
            position: absolute;
            width: 1px;
            content: '';
            background: @flowchart-border-color;
            top: @padding-base-vertical;
            bottom: @padding-base-vertical;
            left: 20px;
        }
    }

    // 时间轴
    .flowchartviewer-timeline {
        @timeline-type-font-size: @font-size-base;

        .flowchartviewer-timeline-li {
            @timeline-bg: @time-line-bg;
            @timeline-focus-bg: @ns-success;
            @timeline-circle: 9px;
            @timeline-focus-circle: (@timeline-circle + 2);
            position: relative;
            margin-bottom: 15px;

            &:before {
                position: absolute;
                .square(@timeline-circle);
                border-radius: @timeline-circle;
                content: "";
                background: @timeline-bg;
                top: 5px;
                left: -24px;
                box-sizing: content-box;

            }

            &.current {
                &:before {
                    .square(@timeline-focus-circle);
                    background: @timeline-focus-bg;
                    border-radius: @timeline-focus-circle;
                    top: 4px;
                    left: -25px;
                }
            }

            .flowchartviewer-timeline-type {
                display: block;
                font-size: @timeline-type-font-size;
            }

            .flowchartviewer-timeline-time {
                display: block;
                color: @gray;
            }
        }
    }

    .flowchartviewer-footer {
        right: 0;
        left: 0;
        width: 100%;
        text-align: right;

        .btn-group {
            width: 100%;
            float: none;
            padding: 0;
            border-top: 1px solid @ns-border-color;

            .btn {
                display: inline-block;
                float: none;
                border: 0;
                border-left: 1px solid @ns-border-color;

            }

        }
    }
}

.panel-form .form-td.nscomponent-type-flowchartviewer.nscomponent-form {
    overflow: hidden;
}

.mxTooltip {
    position: absolute;
    background: #e49b3a;
    padding: 5px;
}

.popover.animation {
    animation: toTransparent 2s;
    -moz-animation: toTransparent 2s;
    /* Firefox */
    -webkit-animation: toTransparent 2s;
    /* Safari and Chrome */
    -o-animation: toTransparent 2s;
    /* Opera */
}


.flowchartviewer-footer {
    position: absolute;
    bottom: 0px;
}

@keyframes toTransparent {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes toTransparent

/* Firefox */
    {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes toTransparent

/* Safari and Chrome */
    {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

//   面包屑导航
[ns-type="tree-process"] {
    padding: @base-padding 0;

    li {
        display: inline-block;
        cursor: pointer;

        &+li {
            padding-left: (@base-padding / 2);
        }
    }
}



.flowchart {
    position: relative;

    // 面包屑导航
    [ns-type="tree-process"] {
        padding: @base-padding;
        height: @flowchart-control-height;
        border-bottom: 1px solid #eee;
    }

    // 控制面板按钮组
    .pt-btn-group-lg {
        position: absolute;
        width: 300px;
        right: 0;
        background: @flowchart-control-bg;
        border-bottom: 1px solid #eee;

        .pt-btn {
            height: 39px;
            line-height: 39px;

            i {
                font-size: @flowchart-btn-icon-size;
            }

            &.pt-btn-link {
                &:hover {
                    text-decoration: none;

                }
            }
        }
    }

    [ns-type='flowchart-bllname'] {
        padding: 5px 10px;
        color: #888;
    }
}