/*流程启动*/
.frame-standard .flowpath-panel {
	text-align: left;
	padding: 15px 0;
	height: auto;
	overflow: hidden;

	.row {
		margin: 0 -5px;

		& > div {
			min-width: 300px;
			padding: 0 5px;
		}

	}

	.nspanel {
		display: block;
		float: left;
		padding: 0;
		width: 100%;
		min-height: 360px;
		border: 1px solid #ddd;

		.nspanel-title {
			padding: 15px 10px;
			text-indent: 5px;
			margin: 0;

			&:before {
				display: none;
			}

			i {
				padding-right: 10px;
			}

		}

	}

	span.flowpath-list {
		display: block;

		a {
			display: block;
			margin: 0;
			padding: 10px 10px 10px 50px;
			text-decoration: none;
			color: #555;
			font-size: 14px;

			&:hover {
				background: #f8f8f8;
				color: #000;
			}

		}

	}

}
