.page-loading-overlay {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #2c2e2f;
	z-index: 10000;
	zoom: 1;
	filter: alpha(opacity=100);
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all 800ms ease-in-out;
	-moz-transition: all 800ms ease-in-out;
	-o-transition: all 800ms ease-in-out;
	transition: all 800ms ease-in-out;
	.info{
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 100;
		text-align: center;
		width: 200px;
		margin:0 0 0 -100px;
		color:#fff;
		span{
			background: #2c2e2f;
			padding:4px 10px;
			border-radius: 4px;
		}
	}
}
.page-loading-overlay.loaded {
	zoom: 1;
	filter: alpha(opacity=0);
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	visibility: hidden;
}


.dataTables_processing{
	//display: block !important;
	position: absolute !important;
	width: 50px;
	height: 48px;
	text-align: center;
	z-index: 99;
	margin: 0 !important;
	top: 120px;
	right: 0;
	bottom: 0;
	left: 50%;
	color: @gray-darker;
	background-color: transparent !important;
	i{
		font-size: @font-size-base *2;
	}
}

.input-loading{
	position: absolute;
	z-index: 99;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 13px @base-padding @base-padding 50px;
	i{
		color: @gray-light;
		opacity: .4;
	}
}