// pdf
.fullscreen {
	&.common-fixed-simple-panel:before {
		background-color: #000;
	} // 主题面板
	.panel-body {
		background-color: #000;
		.container-center {
			text-align: center;
		}
	} // 下拉选项 选择页面
	.select-changepage {
		position: fixed;
		top: 10px;
		right: 40px;
	} //按钮组
	.btns-container {
		position: fixed;
		right: 4px;
		bottom: 0;
	}

	&.pdfview{
		.info-center{
			position: fixed;
			z-index: 5;
			top: 50%;
			left: 50%;
			margin: -20px 0 0 -100px;
			width: 200px;
			text-align: center;

			span.word{
				display: inline-block;
				background-color: rgba(0,0,0,0.5);
				padding: 5px;
				color: #fff;
				text-align: center;
			}
		}
		&.pdfview-mobile{
			.panel-body{
				position:absolute;
				overflow:auto;
				top:0;
				left:0;
				bottom:0;
				width:100%;
				padding: 5px;
			}

			.container-center{
				padding: 0;
			}
		}

		.btn.btn-white{
			i{
				color: #a6d0f4;
			}
		}
	}
}

#dialog-pdf,
.common-fixed-simple-panel{
    z-index: 1051;
}
// .fullscreen.pdfview.pdfview-mobile .panel-body{
// 		position:absolute;
// 		overflow:auto;
// 		top:0;
// 		left:0;
// 		bottom:0;
// 		width:100%;
// 		padding: 5px;
// 	}
// 	.fullscreen.pdfview.pdfview-mobile  .container-center{
// 		padding: 0;
// 	}
// 	.fullscreen.pdfview .info-center{
// 		position: fixed;
// 		z-index: 5;
// 		top: 50%;
// 		left: 50%;
// 		margin: -20px 0 0 -100px;
// 		width: 200px;
// 		text-align: center;
// 	}
// 	.fullscreen.pdfview .info-center span.word{
// 		display: inline-block;
// 		background-color: rgba(0,0,0,0.5);
// 		padding: 5px;
// 		color: #fff;
// 		text-align: center;
// 	}