/* ================= */
/* 科学计数法 */
/* ================= */


.scientificInput,
.powerInput{
	position: relative;
	.scientific-input-msg,
	.power-input-msg{
		position: absolute;
		height: @form-sm-height;
		line-height: @form-sm-height;
		margin: 0;
		top: 0;
		right: @base-padding;
		color: @gray-light + #333;
	}
	.form-control{
		padding-right: 200px;
	}
	&[readonly="readonly"]{
		padding-right: 0;
	}
}




.form-td{
	.scientificInput,
	.powerInput{
		.scientific-input-msg,
		.power-input-msg{
			height: @form-lg-height;
			line-height: @form-lg-height;
		}
	}
}

.form-sm .form-td,
.col-none.form-td{
	.scientificInput,
	.powerInput{
		.scientific-input-msg,
		.power-input-msg{
			height: @form-sm-height;
			line-height: @form-sm-height;
		}
	}
}