.graphics-score-star {
	position: relative;
	cursor: pointer;
}

.empty-star, 
.fill-star {
	position: absolute;
	top: 3px;
	left: 0;
	bottom: 0;
	width: auto;
	white-space: nowrap;
	.star, 
	.fill-star .star {
		padding: 0 5px; 
		text-align: center;
		width: 38px;
		height: 38px;
		line-height: 38px;
	}
	i{
		font-size: 32px;
	}
}

.star-sm{
	.empty-star, 
	.fill-star{
		top: 3px;
		}
	i{
		font-size: 18px;
	}
}
.star-md{
	.empty-star, 
	.fill-star{
		top: 5px;
		}
	i{
		font-size: 24px;
	}
}

.empty-star {
	color: #aaa;
}

.fill-star {
	width: 0;
	overflow: hidden;
	color: #fde16d;
	height: 38px;
}