/*静态表格 staticable */
	.statictable{

	}
	.statictable .td-input{
		position: relative;
	}
	.statictable .td-input button.btn{
		position: absolute;
		right: 5px;
		top: 5px;
		background-color: transparent;
	}
	.statictable .td-input{
		position: relative;
	}
	.statictable .td-switch{
		text-align: center;
	}
	.statictable .td-switch .checkbox-switch{
		float: none;
		margin-left: 0;
	}
	.statictable .td-switch label.checkbox-inline.checkbox-switch{
		line-height: 30px;
		height: 30px;
	}
	table.table.statictable.no-border > tbody > tr > td{
		border: none;
	}
	table.table.statictable.no-border > tbody > tr > th{
		border: none;
	}
	table.table.statictable>tbody>tr>td.td-input input[type="text"]{
		padding-right: 6px;
	}

	