.textBtn{
	.input-group{
		.form-control + .btn{
			position: absolute;
			right: 0;
			top: 0;
			z-index: 9;
			display: block;
		}
	}
}
.layout-form{
	.form-td{
		.textBtn{
			.input-group{
				.form-control + .btn{
					padding: 0;
					width: @base-height - 2 !important;
					height: @base-height - 2 !important;
					border: 0;
					top: 1px;
					right: 2px;
				}
			}
		}
	}
}