//背景色
.bg-primary {
    background-color: @bg-primary;
}

.bg-info {
    background-color: @bg-info;
}

.bg-success {
    background-color: @bg-success;
}

.bg-warning {
    background-color: @bg-warning;
}

.bg-danger {
    background-color: @bg-danger;
}