.circuitry-map {

    .ns-dashboard .ns-dashboard-body& {
        padding: 0;
    }

    .map {
        .flex-block();

        svg {
            display: block;
            width: 100%;
        }
    }

    .cell {
        margin: 0;
    }

    .panel-body {
        margin: 0;
    }
}