.rgba-color(@color,@alpha: 1){
    @color-rgba: rgba(red(@color), green(@color), blue(@color), @alpha);
    color: @color-rgba;
}

.rgba-bg(@color, @alpha:1){
    @color-rgba: rgba(red(@color), green(@color), blue(@color), @alpha);
   background: @color-rgba;
}

.rgba-shadow(@s-h:0px, @s-v:0px, @size:.5rem, @color, @alpha:1){
    @color-rgba: rgba(red(@color), green(@color), blue(@color), @alpha);
   box-shadow: @s-h @s-v @size @color-rgba;
}

.rgba-shadow-inset(@s-h:0px, @s-v:0px, @size:.5rem, @color, @alpha:1){
    @color-rgba: rgba(red(@color), green(@color), blue(@color), @alpha);
   box-shadow: @s-h @s-v @size @color-rgba inset;
}

.rgba-text-shadow(@s-h:0px, @s-v:0px, @size:.5rem, @color, @alpha:1){
    @color-rgba: rgba(red(@color), green(@color), blue(@color), @alpha);
    text-shadow: @s-h @s-v @size @color-rgba;
}

.rgba-fill(@color,@alpha: 1){
    @color-rgba: rgba(red(@color), green(@color), blue(@color), @alpha);
    fill: @color-rgba;
}