[ns-system="mobile"] {
    footer {
        width: 100%;

        button {
            i {
                display: none;
            }

            span {
                .flex-block(center, center);
                text-align: center;
            }
        }
    }
}