[ns-system="mobile"] {

    // 添加头部面板后各页面padding
    &>container {
        display: block;
        @mobile-input-search-height: 5rem;

        // 页面开启头部
        &.padding-top-header {
            padding-top: @mb-header-height;

            .businessdatabasem,
            .listmobile,
            .doclistviewermobile {
                .nspanel-container[ns-panel="blockList"] {
                    padding-top: @mb-header-height;
                }
            }
        }

        // 页面开启头部及搜索框
        &.padding-top-header-search {
            padding-top: (@mb-header-height + @mobile-input-search-height);

            .mobile-input-search {
                top: @mb-header-height;
            }

            .businessdatabasem,
            .listmobile,
            .doclistviewermobile {
                .nspanel-container[ns-panel="blockList"] {
                    padding-top: 0;
                }
            }
        }
    }

    // &.padding-top-header-search {
    //     padding-top: 8.5rem;

    // }
}