.pt-block-content {
  background: #fff;
  margin-top: 0.5rem;
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pt-block-content .block-list-item .block-list-item-text {
  justify-content: flex-start;
}
.pt-block-content .block-list-item .block-list-item-text .title label {
  padding: 0.2rem 0.8rem;
  background: rgba(80, 118, 183, 0.5);
  color: #fff;
  border-radius: 0.4rem;
}
.pt-block-content .block-list-item .block-list-item-text.flex-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pt-block-content .block-list-item .block-list-item-text + .block-list-item-text {
  margin-top: 1rem;
}
.text-gray {
  color: #b0b0b0;
}
.weight {
  font-weight: 600;
  font-size: 16px;
}
container.padding-top-header {
  padding-top: 0;
}
container.padding-top-header {
  padding-top: 0;
}
container.padding-top-header .doclistviewermobile .nspanel-container {
  padding-top: 0;
}
container.padding-top-header .listmobile .nspanel-container {
  padding-top: 0;
}
