body.login {
    padding-top: 0;
}

hide {
    display: none;
}

.page-login {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 微软雅黑;
    background-size: cover;
    background-position: 50% 50%;
}

.page-login .bgimg.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.page-login .bgimg.fullscreen img {
    width: 100%;
    height: 100%;
}

.page-login .bgimg.fullscreen .page-login .logo {
    width: 100%;
}


.page-login .login {
    width: 440px;
    height: auto;
    position: fixed;
    top: 50%;
    right: 0;
    padding: 0;
    padding-bottom: 20px;
    margin: auto auto;
    margin-top: -200px;
    z-index: 999;
    border: 1px solid;
    border-color: transparent;
}

.page-login .login .regist {
    padding: 0 30px;
}

/* common-top-right  登录框在页面右侧*/
.page-login.common-top-right .logo {
    padding: 15px 5%;
}

.page-login.common-top-right .login {
    margin-left: 0;
}

.page-login.common-top-right .login .title {
    text-align: center;
    padding: 15px 0 0;
}

.page-login.common-top-right .login.title-light {
    color: #333;
    border-color: #dedede;
}

.page-login.common-top-right .login.title-dark {
    color: #dedede;
    border-color: #333;
}

/* flattening-middle 登录框在页面中间 */
.page-login.flattening-middle .logo {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: auto auto;
    margin-top: -250px;
    margin-left: -83px;
}

.page-login.flattening-middle .login {
    right: 50%;
    margin-right: -220px;
}

/* flattening-middle 登录框在页面中间，没有title*/
.page-login.flattening-middle .title {
    display: none;
}

/* flattening-middle 登录框在页面中间，底部文字居中*/
.page-login.flattening-middle .footer {
    text-align: center;
    padding: 0;
}


.page-login .login.login-bg-light {
    background: #fff;
    opacity: 1;
}

.page-login .login.login-shadow {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

.page-login .login .title {
    position: relative;
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    /*   border-bottom: 2px #f3f3f3 solid; */
    padding: 8px 28px 2px 28px;
    margin-bottom: 24px;
    font-weight: bold;
}

.page-login .login .group-from {
    line-height: 35px;
    margin: 0px 28px 15px 28px;
    ;
    position: relative;
    /* placeholder */
}

.page-login .login .group-from input {
    width: 100%;
    height: 40px;
    padding: 6px 5px 6px 40px;
    outline: none;
    border: 1px solid #bbb;
    font-size: 14px;
    color: #555;
    background-color: transparent;
}

.page-login .login .group-from input+.fa {
    color: #bbb;
}

.page-login .login .group-from input:focus {
    border-color: #888;
    background: rgba(255, 255, 255, .3);
}

.page-login .login .group-from input:focus+.fa {
    color: #888;
}

.page-login .login .group-from input::-webkit-input-placeholder {
    text-align: left;
    color: #aaa;
}

.page-login .login .group-from.from-light {
    color: #596069;
}

.page-login .login .group-from.from-dark {
    color: #dedede;
}

.page-login .login .group-from .fa {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    pointer-events: none;
    font-size: 20px;
}

.page-login .login .group-from .cue {
    color: #e00000;
    line-height: 16px;
    margin-top: 5px;
}

/*注册按钮*/
.page-login .login .pt {
    color: #bfcee2;
    line-height: 1.5;
    text-align: right;
}

.page-login .login .pt a {
    color: #555;
}

.page-login .login .pt a:hover,
.warp .login .pt a:active {
    color: #5c7697;
}

/*记住密码*/
.remember {
    display: none;
}

.remember-pwd {
    margin: 0 28px;
    height: 20px;
}

.remember-pwd label .text-pwd {
    margin: 0 0 -15px 27px;
    font-weight: 500;
}

.remember[type=checkbox]+span {
    display: inline-block;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    border: 1px solid #d0dce5;
    color: rgb(53, 53, 53);
    position: absolute;
    margin-right: 20px;
}

.remember[type=checkbox]:checked+span:after {
    content: '\2714';
    position: absolute;
    font-size: 14px;
    left: 4px;
}


.page-login .footer {
    background: #fff;
    height: 50px;
    line-height: 40px;
    font-size: 12px;
    color: #666666;
    text-align: right;
    position: fixed;
    /* top: 50%; */
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 150px 0 0;
}

/* loginbtn 登录按钮四种颜色*/
.page-login .login .loginbtn {
    height: 48px;
    line-height: 48px;
    margin: 20px 28px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.page-login .login .loginbtn a {
    height: 48px;
    color: #fff;
    display: block;
    font-size: 20px;
}

.page-login .login .loginbtn a:active {
    display: block;
}

.page-login .login .loginbtn-red {
    background: -webkit-linear-gradient(#e53939, #d11d1d);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#e53939, #d11d1d);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#e53939, #d11d1d);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#e53939, #d11d1d);
    /* 标准的语法（必须放在最后） */
}

.page-login .login .loginbtn-red a:active {
    background: #e53939;
}

.page-login .login .loginbtn-orange {
    background: -webkit-linear-gradient(#fed300, #f18800);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fed300, #f18800);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fed300, #f18800);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#fed300, #f18800);
    /* 标准的语法（必须放在最后） */
}

.page-login .login .loginbtn-orange a:active {
    background: #fed300;
}

.page-login .login .loginbtn-green {
    background: -webkit-linear-gradient(#629f36, #369803);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#629f36, #369803);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#629f36, #369803);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#629f36, #369803);
    /* 标准的语法（必须放在最后） */
}

.page-login .login .loginbtn-green a:active {
    background: #629f36;
}

.page-login .login .loginbtn-blue {
    background: -webkit-linear-gradient(#16679f, #0b3f80);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#16679f, #0b3f80);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#16679f, #0b3f80);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#16679f, #0b3f80);
    /* 标准的语法（必须放在最后） */
}

.page-login .login .loginbtn-blue a:active {
    background: #16679f;
}

/* login-bg */
.page-login .bg-shadow {
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

/* bg-dark-opacity登录框背景黑色深浅度 */
.page-login .bg-dark-opacity-1 {
    background-color: rgba(0, 0, 0, 0.1);
}

.page-login .bg-dark-opacity-2 {
    background-color: rgba(0, 0, 0, 0.2);
}

.page-login .bg-dark-opacity-3 {
    background-color: rgba(0, 0, 0, 0.3);
}

.page-login .bg-dark-opacity-4 {
    background-color: rgba(0, 0, 0, 0.4);
}

.page-login .bg-dark-opacity-5 {
    background-color: rgba(0, 0, 0, 0.5);
}

.page-login .bg-dark-opacity-6 {
    background-color: rgba(0, 0, 0, 0.6);
}

.page-login .bg-dark-opacity-7 {
    background-color: rgba(0, 0, 0, 0.7);
}

.page-login .bg-dark-opacity-8 {
    background-color: rgba(0, 0, 0, 0.8);
}

.page-login .bg-dark-opacity-9 {
    background-color: rgba(0, 0, 0, 0.9);
}

.page-login .bg-dark-opacity-10 {
    background-color: #000;
}

/* bg-light-opacity登录框背景白色深浅度 */
.page-login .bg-light-opacity-1 {
    background-color: rgba(225, 225, 225, 0.1);
}

.page-login .bg-light-opacity-2 {
    background-color: rgba(225, 225, 225, 0.2);
}

.page-login .bg-light-opacity-3 {
    background-color: rgba(225, 225, 225, 0.3);
}

.page-login .bg-light-opacity-4 {
    background-color: rgba(225, 225, 225, 0.4);
}

.page-login .bg-light-opacity-5 {
    background-color: rgba(225, 225, 225, 0.5);
}

.page-login .bg-light-opacity-6 {
    background-color: rgba(225, 225, 225, 0.6);
}

.page-login .bg-light-opacity-7 {
    background-color: rgba(225, 225, 225, 0.7);
}

.page-login .bg-light-opacity-8 {
    background-color: rgba(225, 225, 225, 0.8);
}

.page-login .bg-light-opacity-9 {
    background-color: rgba(225, 225, 225, 0.9);
}

.page-login .bg-light-opacity-10 {
    background-color: #fff;
}

/* border */
/* border-light 登录框边框白色深浅度*/
.page-login .border-light-opacity-1 {
    border-color: rgba(222, 222, 222, 0.1);
}

.page-login .border-light-opacity-2 {
    border-color: rgba(222, 222, 222, 0.2);
}

.page-login .border-light-opacity-3 {
    border-color: rgba(222, 222, 222, 0.3);
}

.page-login .border-light-opacity-4 {
    border-color: rgba(222, 222, 222, 0.4);
}

.page-login .border-light-opacity-5 {
    border-color: rgba(222, 222, 222, 0.5);
}

.page-login .border-light-opacity-6 {
    border-color: rgba(222, 222, 222, 0.6);
}

.page-login .border-light-opacity-7 {
    border-color: rgba(222, 222, 222, 0.7);
}

.page-login .border-light-opacity-8 {
    border-color: rgba(222, 222, 222, 0.8);
}

.page-login .border-light-opacity-9 {
    border-color: rgba(222, 222, 222, 0.9);
}

.page-login .border-light-opacity-10 {
    border-color: #fff;
}

/* border-dark 登录框边框黑色深浅度*/
.page-login .border-dark-opacity-1 {
    border-color: rgba(0, 0, 0, 0.1);
}

.page-login .border-dark-opacity-2 {
    border-color: rgba(0, 0, 0, 0.2);
}

.page-login .border-dark-opacity-3 {
    border-color: rgba(0, 0, 0, 0.3);
}

.page-login .border-dark-opacity-5 {
    border-color: rgba(0, 0, 0, 0.4);
}

.page-login .border-dark-opacity-5 {
    border-color: rgba(0, 0, 0, 0.5);
}

.page-login .border-dark-opacity-6 {
    border-color: rgba(0, 0, 0, 0.6);
}

.page-login .border-dark-opacity-7 {
    border-color: rgba(0, 0, 0, 0.7);
}

.page-login .border-dark-opacity-8 {
    border-color: rgba(0, 0, 0, 0.8);
}

.page-login .border-dark-opacity-9 {
    border-color: rgba(0, 0, 0, 0.9);
}

.page-login .border-dark-opacity-10 {
    border-color: #000;
}

/* border-radius登录框是否圆角 */
.page-login .border-radius-none {
    border-radius: 0px;
}

.page-login .border-radius-slight {
    border-radius: 5px;
}

.page-login .border-radius-moderate {
    border-radius: 15px;
}

.page-login .border-radius-severe {
    border-radius: 25px;
}

.login-form-bg {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 370px;
    margin: -185px 0 0 0;
    background: #fcc477;
    overflow: hidden;
}

.login-form-bg .light-box {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 370px;
    margin: -185px 0 0 0;
    z-index: 1;
}

.login-form-bg .light-box:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    display: block;
    width: 400px;
    height: 370px;
    margin: -185px 0 0 0;
    z-index: -1;
    background: -webkit-linear-gradient(left, transparent, rgba(255, 255, 255, 0.85), transparent);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.85), transparent);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, transparent, rgba(255, 255, 255, 0.85), transparent);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(left, transparent, rgba(255, 255, 255, 0.85), transparent);
    /* 标准的语法 */
    animation: light 6s infinite;
    -webkit-animation: light 6s infinite;
    /*Safari and Chrome*/
}

.login-form-bg .light-box img {
    display: block;
    width: 100%;
    height: 100%;
}

.logo-left {
    position: absolute;
    display: block;
    width: 1200px;
    height: 65px;
    top: 50%;
    left: 0;
    margin: -280px 0 0 100px;
    z-index: 9;
}

.circle-group .circle-group-item {
    position: absolute;
    border-radius: 100px;
    bottom: -100px;
    display: block;
    background: #ffa800;
    z-index: 2;
    animation: mymove 10s infinite;
    -webkit-animation: mymove 10s infinite;
    /*Safari and Chrome*/
    filter: url(blur.svg#blur);
    /* FireFox, Chrome, Opera */
    -webkit-filter: blur(5px);
    /* Chrome, Opera */
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5, MakeShadow=false);
    /* IE6~IE9 */
}

.circle-group .circle-group-item:nth-child(1) {
    width: 100px;
    height: 100px;
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
    bottom: -160px;
}

.circle-group .circle-group-item:nth-child(2) {
    width: 30px;
    height: 30px;
    animation-delay: 4.4s;
    -webkit-animation-delay: 4.4s;
    left: 160px;
}

.circle-group .circle-group-item:nth-child(3) {
    width: 90px;
    height: 90px;
    animation-delay: 2.8s;
    -webkit-animation-delay: 2.8s;
    left: 160px;
}

.circle-group .circle-group-item:nth-child(4) {
    width: 64px;
    height: 64px;
    animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
    left: 760px;
}

.circle-group .circle-group-item:nth-child(5) {
    width: 30px;
    height: 30px;
    animation-delay: 4.4s;
    -webkit-animation-delay: 4.4s;
    left: 360px;
}

.circle-group .circle-group-item:nth-child(6) {
    width: 120px;
    height: 120px;
    animation-delay: 3.6s;
    -webkit-animation-delay: 3.6s;
    left: 520px;
    bottom: -200px;
}

.circle-group .circle-group-item:nth-child(7) {
    width: 75px;
    height: 75px;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    left: 430px;
}

.circle-group .circle-group-item:nth-child(8) {
    width: 40px;
    height: 40px;
    animation-delay: 6.8s;
    -webkit-animation-delay: 6.8s;
    left: 160px;
}

.circle-group .circle-group-item:nth-child(9) {
    width: 100px;
    height: 100px;
    animation-delay: 7.6s;
    -webkit-animation-delay: 7.6s;
    left: 860px;
    opacity: .75;
}

.circle-group .circle-group-item:nth-child(10) {
    width: 72px;
    height: 72px;
    animation-delay: 8.4s;
    -webkit-animation-delay: 8.4s;
    left: 660px;
}

.circle-group .circle-group-item:nth-child(11) {
    width: 40px;
    height: 40px;
    animation-delay: 4.4s;
    -webkit-animation-delay: 4.4s;
    left: 1060px;
    opacity: .4;
}

.circle-group .circle-group-item:nth-child(12) {
    width: 64px;
    height: 64px;
    animation-delay: 2.4s;
    -webkit-animation-delay: 2.4s;
    left: 1760px;
}

.circle-group .circle-group-item:nth-child(13) {
    width: 100px;
    height: 100px;
    animation-delay: 8.6s;
    -webkit-animation-delay: 8.6s;
    left: 1800px;
    opacity: .5;
}

.circle-group .circle-group-item:nth-child(14) {
    width: 120px;
    height: 120px;
    animation-delay: 3.4s;
    -webkit-animation-delay: 3.4s;
    bottom: -300px;
    left: 1620px;
    opacity: .4;
}

.circle-group .circle-group-item:nth-child(15) {
    width: 20px;
    height: 20px;
    animation-delay: 5.4s;
    -webkit-animation-delay: 5.4s;
    left: 1860px;
}

@keyframes mymove {
    from {
        bottom: -120px;
        opacity: .25;
        background: #ff1c31;
    }

    to {
        bottom: 400px;
        opacity: .05;
        background: #f44b00;
    }
}

@-webkit-keyframes mymove {
    from {
        bottom: -120px;
        opacity: .25;
        background: #ff1c31;
    }

    to {
        bottom: 400px;
        opacity: .05;
        background: #f44b00;
    }
}

.login-form-bg-active img {
    position: absolute;
    display: block;
    width: 600px;
    height: 180px;
    left: 50%;
    top: 50%;
    z-index: 19;
    animation: imgmove 5s infinite;
    -webkit-animation: imgmove 5s infinite;
    /*Safari and Chrome*/
}

@-webkit-keyframes imgmove {
    0% {
        width: 600px;
        opacity: .05;
        margin: -2px 0 0 -430px;
    }

    70% {
        opacity: .4;
    }

    100% {
        width: 600px;
        opacity: 0;
        margin: -27px 0 0 150px;
    }
}

@-webkit-keyframes light {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

/* 轮播图样式*/
.pt-rotaryplantingmap {
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
}

.pt-rotaryplantingmap li {
    position: absolute;
    top: 0;
    left: 0;
}

/*手机版登录样式*/
@media screen and (max-width: 768px) {
    body.login {
        min-width: 200px;
    }

    .page-login {
        background-image: none !important;
    }

    .logo {
        margin: 0 auto;
    }

    .login {
        padding: 0;
        margin: 0 auto;
    }

    .page-login.flattening-middle .login,
    .page-login.common-top-right .login {
        width: 100%;
        left: 0 !important;
        right: 0;
        margin-left: 0;
        padding: 5%;
        background-color: none !important;
        border-color: transparent !important;
        position: inherit;
        top: 0;
        margin-top: 1rem;
    }

    .page-login.common-top-right .login .group-from input {
        border-radius: 5px !important;
        height: 50px;
    }

    .page-login.common-top-right .login .group-from .fa {
        height: 50px;
        line-height: 50px;
    }

    .page-login .login .group-from,
    .page-login .login .loginbtn,
    .page-login .login .pt,
    .remember-pwd {
        margin-left: 2%;
        margin-right: 2%;
    }

    /*右侧布局下logo的位置*/
    .page-login.common-top-right .logo {
        position: inherit;
        top: 0;
        left: 0;
        margin: 0 auto;
        padding-top: 5rem;
        text-align: center;
        background-color: transparent !important;
    }

    .page-login.common-top-right .login .title {
        display: none;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) {
    .page-login .login .group-from input {
        border-width: 0.05rem;
    }

    .remember[type=checkbox]+span {
        border-width: 0.05rem;
    }
}



.login-tab {
    width: 100%;
}

.login-tab ul.tab-nav {
    width: 100%;
    margin: 15px 28px 20px 28px;
    padding: 0;
    height: 35px;
}

.login-tab ul.tab-nav li.tab-nav-item {
    float: left;
    padding: 6px 0;
    margin: 0 25px 0 0;
    font-size: 16px;
    color: #333;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.login-tab ul.tab-nav li.tab-nav-item.current {
    border-color: #16679f;
    color: #16679f;
}

.login-tab .tab-body .tab-content {
    display: none;
}

.login-tab .tab-body .tab-content.current {
    display: block;
}

/*图片验证码*/
.page-login .login .group-from.group-from-code input {
    padding-left: 5px;
    width: 70%;
}

.page-login .login .group-from.group-from-code .verify-code {
    width: 29%;
    float: right;
    height: 40px;
    border: 1px solid #bbb;
}
.page-login .login .group-from.group-from-code .verify-code img {
    width:100%;
    height:100%;
}

.page-login .login .login-choose {
    margin: 15px 28px 0 28px;
}

.page-login .login .login-choose ul {
    margin: 0;
    padding: 0;
}

.page-login .login .login-choose ul li {
    float: left;
    color: #555;
    margin-right: 5px;
}

.page-login .login .pt {
    float: right;
}

.page-login .login .group-from.group-from-code input {
    padding-left: 5px;
    width: 70%;
}

/*短信验证码*/
.page-login .login .group-from.group-from-phone-code .phone-code {
    width: auto;
    position: absolute;
    top: 10px;
    right: 5px;
}

.page-login .login .group-from.group-from-phone-code .phone-code input.btn {
    width: auto;
    padding: 0;
    height: auto;
    padding: 3px 5px;
    color: #fff;
    font-size: 14px;
    border: navajowhite;
    border-radius: 3px;
    background-color: #a07941;
}

.page-login .login .group-from.group-from-phone-code .phone-code input.btn:hover,
.page-login .login .group-from.group-from-phone-code .phone-code input.btn:focus {
    background-color: #886129;
}

/*二维码登录*/
.login-code {
    position: relative;
    padding: 40px;
}

.login-code .btn-back {
    position: absolute;
    top: 1px;
    right: 1px;
    background: #64b1e9;
    color: #fff;
    font-size: 12px;
    padding: 2px 8px;
}

.login-code .img {
    margin: 0 auto;
    text-align: center;
}

.login-code h3 {
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
}

.login-code h4 {
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
}