@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kn2639');
  src:  url('../fonts/icomoon.eot?kn2639#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kn2639') format('truetype'),
    url('../fonts/icomoon.woff?kn2639') format('woff'),
    url('../fonts/icomoon.svg?kn2639#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-number-0:before {
  content: "\e900";
}
.icon-number-0-c:before {
  content: "\e901";
}
.icon-number-0-c-o:before {
  content: "\e902";
}
.icon-number-0-s:before {
  content: "\e903";
}
.icon-number-0-s-o:before {
  content: "\e904";
}
.icon-number-1:before {
  content: "\e905";
}
.icon-number-1-c:before {
  content: "\e906";
}
.icon-number-1-c-o:before {
  content: "\e907";
}
.icon-number-1-s:before {
  content: "\e908";
}
.icon-number-1-s-o:before {
  content: "\e909";
}
.icon-number-2:before {
  content: "\e90a";
}
.icon-number-2-c:before {
  content: "\e90b";
}
.icon-number-2-c-o:before {
  content: "\e90c";
}
.icon-number-2-s:before {
  content: "\e90d";
}
.icon-number-2-s-o:before {
  content: "\e90e";
}
.icon-number-3:before {
  content: "\e90f";
}
.icon-number-3-c:before {
  content: "\e910";
}
.icon-number-3-c-o:before {
  content: "\e911";
}
.icon-number-3-s:before {
  content: "\e912";
}
.icon-number-3-s-o:before {
  content: "\e913";
}
.icon-number-4:before {
  content: "\e914";
}
.icon-number-4-c:before {
  content: "\e915";
}
.icon-number-4-c-o:before {
  content: "\e916";
}
.icon-number-4-s:before {
  content: "\e917";
}
.icon-number-4-s-o:before {
  content: "\e918";
}
.icon-number-5:before {
  content: "\e919";
}
.icon-number-5-c:before {
  content: "\e91a";
}
.icon-number-5-c-o:before {
  content: "\e91b";
}
.icon-number-5-s:before {
  content: "\e91c";
}
.icon-number-5-s-o:before {
  content: "\e91d";
}
.icon-number-6:before {
  content: "\e91e";
}
.icon-number-6-c:before {
  content: "\e91f";
}
.icon-number-6-c-o:before {
  content: "\e920";
}
.icon-number-6-s:before {
  content: "\e921";
}
.icon-number-6-s-o:before {
  content: "\e922";
}
.icon-number-7:before {
  content: "\e923";
}
.icon-number-7-c:before {
  content: "\e924";
}
.icon-number-7-c-o:before {
  content: "\e925";
}
.icon-number-7-s:before {
  content: "\e926";
}
.icon-number-7-s-o:before {
  content: "\e927";
}
.icon-number-8:before {
  content: "\e928";
}
.icon-number-8-c:before {
  content: "\e929";
}
.icon-number-8-c-o:before {
  content: "\e92a";
}
.icon-number-8-s:before {
  content: "\e92b";
}
.icon-number-8-s-o:before {
  content: "\e92c";
}
.icon-number-9:before {
  content: "\e92d";
}
.icon-number-9-c:before {
  content: "\e92e";
}
.icon-number-9-c-o:before {
  content: "\e92f";
}
.icon-number-9-s:before {
  content: "\e930";
}
.icon-number-9-s-o:before {
  content: "\e931";
}
.icon-abandon-check:before {
  content: "\e932";
}
.icon-account-o:before {
  content: "\e933";
}
.icon-accounts-o:before {
  content: "\e934";
}
.icon-add:before {
  content: "\e935";
}
.icon-add-circle:before {
  content: "\e936";
}
.icon-add-circle-o:before {
  content: "\e937";
}
.icon-alarm:before {
  content: "\e938";
}
.icon-alarm-o:before {
  content: "\e939";
}
.icon-all:before {
  content: "\e93a";
}
.icon-all-o:before {
  content: "\e93b";
}
.icon-allot-o:before {
  content: "\e93c";
}
.icon-appointment:before {
  content: "\e93d";
}
.icon-arrange:before {
  content: "\e93e";
}
.icon-arrange-o:before {
  content: "\e93f";
}
.icon-arrow-down:before {
  content: "\e940";
}
.icon-arrow-down-o:before {
  content: "\e941";
}
.icon-arrow-left:before {
  content: "\e942";
}
.icon-arrow-left-o:before {
  content: "\e943";
}
.icon-arrow-right:before {
  content: "\e944";
}
.icon-arrow-right-o:before {
  content: "\e945";
}
.icon-arrow-top:before {
  content: "\e946";
}
.icon-arrow-top-o:before {
  content: "\e947";
}
.icon-arrow-up:before {
  content: "\e948";
}
.icon-arrow-up-o:before {
  content: "\e949";
}
.icon-badge:before {
  content: "\e94a";
}
.icon-badge-o:before {
  content: "\e94b";
}
.icon-bell:before {
  content: "\e94c";
}
.icon-bell-o:before {
  content: "\e94d";
}
.icon-building:before {
  content: "\e94e";
}
.icon-building-o:before {
  content: "\e94f";
}
.icon-buy:before {
  content: "\e950";
}
.icon-buy-alt-o:before {
  content: "\e951";
}
.icon-buy-o:before {
  content: "\e952";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-calendar-o:before {
  content: "\e954";
}
.icon-camera:before {
  content: "\e955";
}
.icon-camera-o:before {
  content: "\e956";
}
.icon-card:before {
  content: "\e957";
}
.icon-car-decorate:before {
  content: "\e958";
}
.icon-card-o:before {
  content: "\e959";
}
.icon-car-electrical:before {
  content: "\e95a";
}
.icon-car-maintain:before {
  content: "\e95b";
}
.icon-car-wash:before {
  content: "\e95c";
}
.icon-check:before {
  content: "\e95d";
}
.icon-check-alt:before {
  content: "\e95e";
}
.icon-check-circle:before {
  content: "\e95f";
}
.icon-check-circle-o:before {
  content: "\e960";
}
.icon-check-list:before {
  content: "\e961";
}
.icon-check-list-o:before {
  content: "\e962";
}
.icon-clock:before {
  content: "\e963";
}
.icon-clock-o:before {
  content: "\e964";
}
.icon-clone:before {
  content: "\e965";
}
.icon-clone-o:before {
  content: "\e966";
}
.icon-close:before {
  content: "\e967";
}
.icon-close-alt-o:before {
  content: "\e968";
}
.icon-close-circle:before {
  content: "\e969";
}
.icon-close-circle-o:before {
  content: "\e96a";
}
.icon-cloud:before {
  content: "\e96b";
}
.icon-cloud-download:before {
  content: "\e96c";
}
.icon-cloud-download-o:before {
  content: "\e96d";
}
.icon-cloud-o:before {
  content: "\e96e";
}
.icon-cloud-upload:before {
  content: "\e96f";
}
.icon-cloud-upload-o:before {
  content: "\e970";
}
.icon-clue:before {
  content: "\e971";
}
.icon-code:before {
  content: "\e972";
}
.icon-code-o:before {
  content: "\e973";
}
.icon-coin:before {
  content: "\e974";
}
.icon-coin-o:before {
  content: "\e975";
}
.icon-color:before {
  content: "\e976";
}
.icon-color-o:before {
  content: "\e977";
}
.icon-compress:before {
  content: "\e978";
}
.icon-compress-o:before {
  content: "\e979";
}
.icon-copy-o:before {
  content: "\e97a";
}
.icon-credit-card:before {
  content: "\e97b";
}
.icon-credit-card-o:before {
  content: "\e97c";
}
.icon-dashboard:before {
  content: "\e97d";
}
.icon-dashboard-o:before {
  content: "\e97e";
}
.icon-deliver:before {
  content: "\e97f";
}
.icon-deliver-o:before {
  content: "\e980";
}
.icon-disabled-lg-o:before {
  content: "\e981";
}
.icon-disabled-o:before {
  content: "\e982";
}
.icon-edit:before {
  content: "\e983";
}
.icon-edit-o:before {
  content: "\e984";
}
.icon-ellipsis-circle-h:before {
  content: "\e985";
}
.icon-ellipsis-circle-h-o:before {
  content: "\e986";
}
.icon-ellipsis-circle-v:before {
  content: "\e987";
}
.icon-ellipsis-circle-v-o:before {
  content: "\e988";
}
.icon-ellipsis-h:before {
  content: "\e989";
}
.icon-ellipsis-v:before {
  content: "\e98a";
}
.icon-equipment:before {
  content: "\e98b";
}
.icon-exit:before {
  content: "\e98c";
}
.icon-export:before {
  content: "\e98d";
}
.icon-eye:before {
  content: "\e98e";
}
.icon-eye-o:before {
  content: "\e98f";
}
.icon-favourite:before {
  content: "\e990";
}
.icon-favourite-o:before {
  content: "\e991";
}
.icon-file:before {
  content: "\e992";
}
.icon-file-badge:before {
  content: "\e993";
}
.icon-file-badge-o:before {
  content: "\e994";
}
.icon-file-check:before {
  content: "\e995";
}
.icon-file-check-o:before {
  content: "\e996";
}
.icon-file-follow:before {
  content: "\e997";
}
.icon-file-follow-o:before {
  content: "\e998";
}
.icon-file-o:before {
  content: "\e999";
}
.icon-file-warning:before {
  content: "\e99a";
}
.icon-file-warning-o:before {
  content: "\e99b";
}
.icon-filter:before {
  content: "\e99c";
}
.icon-filter-o:before {
  content: "\e99d";
}
.icon-finish-check:before {
  content: "\e99e";
}
.icon-flash:before {
  content: "\e99f";
}
.icon-flash-o:before {
  content: "\e9a0";
}
.icon-font-o:before {
  content: "\e9a1";
}
.icon-font-size-down-o:before {
  content: "\e9a2";
}
.icon-font-size-normal-o:before {
  content: "\e9a3";
}
.icon-font-size-up-o:before {
  content: "\e9a4";
}
.icon-fullscreen:before {
  content: "\e9a5";
}
.icon-fullscreen-out:before {
  content: "\e9a6";
}
.icon-gift-o:before {
  content: "\e9a7";
}
.icon-heart:before {
  content: "\e9a8";
}
.icon-heart-o:before {
  content: "\e9a9";
}
.icon-help:before {
  content: "\e9aa";
}
.icon-help-circle:before {
  content: "\e9ab";
}
.icon-help-circle-o:before {
  content: "\e9ac";
}
.icon-help-o:before {
  content: "\e9ad";
}
.icon-history:before {
  content: "\e9ae";
}
.icon-history-o:before {
  content: "\e9af";
}
.icon-home:before {
  content: "\e9b0";
}
.icon-home-o:before {
  content: "\e9b1";
}
.icon-id:before {
  content: "\e9b2";
}
.icon-id-file:before {
  content: "\e9b3";
}
.icon-id-file-o:before {
  content: "\e9b4";
}
.icon-id-o:before {
  content: "\e9b5";
}
.icon-image:before {
  content: "\e9b6";
}
.icon-image-o:before {
  content: "\e9b7";
}
.icon-import:before {
  content: "\e9b8";
}
.icon-info:before {
  content: "\e9b9";
}
.icon-info-o:before {
  content: "\e9ba";
}
.icon-keyboard:before {
  content: "\e9bb";
}
.icon-laud:before {
  content: "\e9bc";
}
.icon-laud-o:before {
  content: "\e9bd";
}
.icon-list:before {
  content: "\e9be";
}
.icon-list-search-o:before {
  content: "\e9bf";
}
.icon-loading:before {
  content: "\e9c0";
}
.icon-login:before {
  content: "\e9c1";
}
.icon-logout:before {
  content: "\e9c2";
}
.icon-mail:before {
  content: "\e9c3";
}
.icon-mail-o:before {
  content: "\e9c4";
}
.icon-map:before {
  content: "\e9c5";
}
.icon-map-mark:before {
  content: "\e9c6";
}
.icon-map-mark-o:before {
  content: "\e9c7";
}
.icon-map-o:before {
  content: "\e9c8";
}
.icon-menu:before {
  content: "\e9c9";
}
.icon-message:before {
  content: "\e9ca";
}
.icon-message-o:before {
  content: "\e9cb";
}
.icon-method:before {
  content: "\e9cc";
}
.icon-minus:before {
  content: "\e9cd";
}
.icon-minus-circle:before {
  content: "\e9ce";
}
.icon-minus-circle-o:before {
  content: "\e9cf";
}
.icon-mobile:before {
  content: "\e9d0";
}
.icon-mobile-o:before {
  content: "\e9d1";
}
.icon-money:before {
  content: "\e9d2";
}
.icon-money-o:before {
  content: "\e9d3";
}
.icon-not-check:before {
  content: "\e9d4";
}
.icon-not-null-mark:before {
  content: "\e9d5";
}
.icon-offer:before {
  content: "\e9d6";
}
.icon-offer-o:before {
  content: "\e9d7";
}
.icon-order:before {
  content: "\e9d8";
}
.icon-order-o:before {
  content: "\e9d9";
}
.icon-order-search-o:before {
  content: "\e9da";
}
.icon-paperclip-o:before {
  content: "\e9db";
}
.icon-password:before {
  content: "\e9dc";
}
.icon-password-edit:before {
  content: "\e9dd";
}
.icon-password-o:before {
  content: "\e9de";
}
.icon-pause:before {
  content: "\e9df";
}
.icon-pause-o:before {
  content: "\e9e0";
}
.icon-pay:before {
  content: "\e9e1";
}
.icon-pay-o:before {
  content: "\e9e2";
}
.icon-pc:before {
  content: "\e9e3";
}
.icon-pc-o:before {
  content: "\e9e4";
}
.icon-pen:before {
  content: "\e9e5";
}
.icon-pen-o:before {
  content: "\e9e6";
}
.icon-phone:before {
  content: "\e9e7";
}
.icon-phone-search:before {
  content: "\e9e8";
}
.icon-phone-search-o:before {
  content: "\e9e9";
}
.icon-play:before {
  content: "\e9ea";
}
.icon-play-o:before {
  content: "\e9eb";
}
.icon-power:before {
  content: "\e9ec";
}
.icon-power-o:before {
  content: "\e9ed";
}
.icon-print:before {
  content: "\e9ee";
}
.icon-print-o:before {
  content: "\e9ef";
}
.icon-process:before {
  content: "\e9f0";
}
.icon-process-o:before {
  content: "\e9f1";
}
.icon-product:before {
  content: "\e9f2";
}
.icon-product-o:before {
  content: "\e9f3";
}
.icon-purse:before {
  content: "\e9f4";
}
.icon-purse-o:before {
  content: "\e9f5";
}
.icon-qrcode:before {
  content: "\e9f6";
}
.icon-quality-control:before {
  content: "\e9f7";
}
.icon-recheck:before {
  content: "\e9f8";
}
.icon-register:before {
  content: "\e9f9";
}
.icon-rmb:before {
  content: "\e9fa";
}
.icon-rocket:before {
  content: "\e9fb";
}
.icon-rocket-o:before {
  content: "\e9fc";
}
.icon-safe:before {
  content: "\e9fd";
}
.icon-safe-o:before {
  content: "\e9fe";
}
.icon-sale:before {
  content: "\e9ff";
}
.icon-sale-alt-o:before {
  content: "\ea00";
}
.icon-sale-o:before {
  content: "\ea01";
}
.icon-scan:before {
  content: "\ea02";
}
.icon-search:before {
  content: "\ea03";
}
.icon-service-online-o:before {
  content: "\ea04";
}
.icon-setting:before {
  content: "\ea05";
}
.icon-setting-o:before {
  content: "\ea06";
}
.icon-shield:before {
  content: "\ea07";
}
.icon-shield-o:before {
  content: "\ea08";
}
.icon-shop:before {
  content: "\ea09";
}
.icon-shop-o:before {
  content: "\ea0a";
}
.icon-shopping-cart:before {
  content: "\ea0b";
}
.icon-shopping-cart-o:before {
  content: "\ea0c";
}
.icon-sign-in:before {
  content: "\ea0d";
}
.icon-sign-in-o:before {
  content: "\ea0e";
}
.icon-sign-in-y:before {
  content: "\ea0f";
}
.icon-slider:before {
  content: "\ea10";
}
.icon-slider-o:before {
  content: "\ea11";
}
.icon-sound:before {
  content: "\ea12";
}
.icon-star:before {
  content: "\ea13";
}
.icon-star-o:before {
  content: "\ea14";
}
.icon-step-backward-o:before {
  content: "\ea15";
}
.icon-step-forward-o:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-stop-o:before {
  content: "\ea18";
}
.icon-summary-check:before {
  content: "\ea19";
}
.icon-supplier:before {
  content: "\ea1a";
}
.icon-supplier-o:before {
  content: "\ea1b";
}
.icon-tags:before {
  content: "\ea1c";
}
.icon-tags-o:before {
  content: "\ea1d";
}
.icon-target-o:before {
  content: "\ea1e";
}
.icon-team:before {
  content: "\ea1f";
}
.icon-team-o:before {
  content: "\ea20";
}
.icon-tel:before {
  content: "\ea21";
}
.icon-tel-alt:before {
  content: "\ea22";
}
.icon-tel-alt-o:before {
  content: "\ea23";
}
.icon-tel-o:before {
  content: "\ea24";
}
.icon-time-out:before {
  content: "\ea25";
}
.icon-time-out-o:before {
  content: "\ea26";
}
.icon-trash:before {
  content: "\ea27";
}
.icon-trash-o:before {
  content: "\ea28";
}
.icon-trend:before {
  content: "\ea29";
}
.icon-trend-o:before {
  content: "\ea2a";
}
.icon-truck:before {
  content: "\ea2b";
}
.icon-truck-o:before {
  content: "\ea2c";
}
.icon-user:before {
  content: "\ea2d";
}
.icon-user-add:before {
  content: "\ea2e";
}
.icon-user-add-o:before {
  content: "\ea2f";
}
.icon-user-delete:before {
  content: "\ea30";
}
.icon-user-delete-o:before {
  content: "\ea31";
}
.icon-user-o:before {
  content: "\ea32";
}
.icon-volume:before {
  content: "\ea33";
}
.icon-volume-o:before {
  content: "\ea34";
}
.icon-wallet:before {
  content: "\ea35";
}
.icon-wallet-o:before {
  content: "\ea36";
}
.icon-warehouse:before {
  content: "\ea37";
}
.icon-warehouse-o:before {
  content: "\ea38";
}
.icon-warning:before {
  content: "\ea39";
}
.icon-warning-o:before {
  content: "\ea3a";
}
.icon-zoom-in:before {
  content: "\ea3b";
}
.icon-zoom-out:before {
  content: "\ea3c";
}
.icon-disabled-o-normal:before {
  content: "\ea3f";
}
.icon-disabled-o-again:before {
  content: "\ea3d";
}
.icon-disabled-o-suspend:before {
  content: "\ea40";
}
.icon-disabled-o-emergency:before {
  content: "\ea3e";
}
.icon-minus-s-o:before {
  content: "\ea41";
}
.icon-return:before {
  content: "\ea42";
}
.icon-sitemap:before {
  content: "\ea43";
}
.icon-arrow-left-alt-o:before {
  content: "\ea44";
}
.icon-arrow-down-alt-o:before {
  content: "\ea45";
}
.icon-arrow-top-alt-o:before {
  content: "\ea46";
}
.icon-arrow-right-alt-o:before {
  content: "\ea47";
}
.icon-inbox-single:before {
  content: "\ea48";
}
.icon-inbox:before {
  content: "\ea49";
}
.icon-arrow-up-bold-o:before {
  content: "\ea4a";
}
.icon-arrow-down-bold-o:before {
  content: "\ea4b";
}
.icon-discovery:before {
  content: "\ea4c";
}
.icon-discovery-o:before {
  content: "\ea4d";
}
.icon-minicode-home:before {
  content: "\ea4e";
}
.icon-minicode-home-o:before {
  content: "\ea4f";
}
.icon-minicode-bell:before {
  content: "\ea50";
}
.icon-minicode-bell-o:before {
  content: "\ea51";
}
.icon-minicode-shop:before {
  content: "\ea52";
}
.icon-minicode-shop-o:before {
  content: "\ea53";
}
.icon-minicode-user:before {
  content: "\ea54";
}
.icon-minicode-user-o:before {
  content: "\ea55";
}
.icon-minicode-bed-o:before {
  content: "\ea56";
}
.icon-minicode-heart-o:before {
  content: "\ea57";
}
.icon-minicode-breath-o:before {
  content: "\ea58";
}
.icon-minicode-sport-o:before {
  content: "\ea59";
}
.icon-minicode-sleep-o:before {
  content: "\ea5a";
}
.icon-link-o:before {
  content: "\ea5b";
}
.icon-unlink-o:before {
  content: "\ea5c";
}
.icon-transtion-o:before {
  content: "\ea5d";
}
.icon-box-empty:before {
  content: "\ea5e";
}
.icon-box:before {
  content: "\ea5f";
}
.icon-plane:before {
  content: "\ea60";
}
.icon-empty-bg:before {
  content: "\ea61";
}
.icon-bed-on:before {
  content: "\ea62";
}
.icon-bed-off:before {
  content: "\ea63";
}
