@charset "UTF-8";
.container {
  padding: 0;
  height: 100%;
}
.fileList .list-group .list-title {
  border-bottom: 1px solid #efefef;
  background: rgba(239, 239, 239, 0.5);
}
.fileList .list-group .list-title .list-text {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
}
.fileList .list-group .list-item {
  border-bottom: 1px solid #efefef;
}
.fileList .list-group .list-item .list-body {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fileList .list-group .list-item .list-body .list-before {
  flex: 0 0 80%;
}
.fileList .list-group .list-item .list-body .list-before .list-text {
  font-size: 14px;
  line-height: 2;
  color: #555555;
}
.fileList .list-group .list-item .list-body .list-before .list-text .fontWeight {
  font-weight: 600;
}
.fileList .list-group .list-item .list-body .list-after {
  flex: 0 0 20%;
  text-align: right;
  margin: auto;
}
.fileList .list-group .list-item:hover {
  background: #f4f4f4;
}
