@charset "UTF-8";
:focus {
   outline: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
   outline: none;
   outline-offset: 0;
}

button {
   border-style: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
   -webkit-appearance: button;
   cursor: pointer;
}

textarea {
   -webkit-appearance: none;
}

a {
   text-decoration: none;
   color: #424242;
}

i {
   font-size: 16px;
}

/* button */

.btn {
   display: inline-block;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.42857143;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   touch-action: manipulation;
   cursor: pointer;
   -webkit-user-select: none;
   user-select: none;
   background-image: none;
   transition-duration: 0.4s;
   border: none;
   border-radius: 4px;
   padding: 10px 0;
}

.pt-btn-default {
   color: #424242;
   background-color: #fff;
   border-color: none;
}

.btn-primary {
   color: #fff;
   /* background-color: #337ab7; */
   background-color: #f0ad4e;
   border-color: #f0ad4e;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
   color: #fff;
   background-color: #ffdaa5;
   border-color: #ffdaa5;
   transition-duration: 0.4s;
}

.btn-primary.focus,
.btn-primary:focus {
   color: #fff;
   background-color: #f0ad4e;
   border-color: #f0ad4e;
   transition-duration: 0.4s;
}

.btn-primary:hover {
   color: #fff;
   background-color: #f0ad4e;
   border-color: #f0ad4e;
   transition-duration: 0.4s;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
   color: #fff;
   background-color: #fc9300;
   border-color: #fc9300;
   transition-duration: 0.4s;
}

button[disabled] {
   pointer-events: none;
   cursor: not-allowed;
   filter: alpha(opacity=65);
   -webkit-box-shadow: none;
   box-shadow: none;
   opacity: .65;
}

.btn.active,
.btn:active {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: inset 0 3px 5px transparent;
   box-shadow: inset 0 3px 5px transparent;
}

/* pdf:footer */

.pt-pdfview-footer {
   height: 60px;
  /*  border-top: 1px solid #bfbfbf; */
   position: fixed;
   bottom: 0;
   left: 0px;
   right: 0;
   z-index: 1;
   background: #fff;
}

.pt-pdfview-footer .pt-btn-group {
   height: 60px;
   line-height: 60px;
}

.pt-pdfview-footer .pt-btn-group .pt-btn {
   display: inline-block;
   margin-bottom: 0;
   text-align: center;
   vertical-align: middle;
   touch-action: manipulation;
   cursor: pointer;
   background-image: none;
   white-space: nowrap;
}

.pt-pdfview-footer .pt-btn-group .pt-btn.pt-btn-icon {
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 40px;
   margin: 0 10px;
   border: 1px solid #eee;
   /* width: 52px; */
}

/* canvas */

.pt-btn.active,
.pt-btn:active,
.open>.dropdown-toggle.pt-btn {
   color: #fff;
   background-color: #fc9300;
   border-color: #fc9300;
   transition-duration: 0.4s;
   border: 1px solid #fc9300;
}

/* .pt-btn.focus,
.pt-btn:focus {
   color: #fff;
   background-color: #fc9300;
   border-color: #fc9300;
   transition-duration: 0.4s;
} */

/* .pt-btn:hover {
   color: #fff;
   background-color: #fc9300;
   border-color: #fc9300;
   transition-duration: 0.4s;
} */

/* .pt-btn.active.focus,
.pt-btn.active:focus,
.pt-btn.active:hover,
.pt-btn:active.focus,
.pt-btn:active:focus,
.pt-btn:active:hover,
.open>.dropdown-toggle.pt-btn.focus,
.open>.dropdown-toggle.pt-btn:focus,
.open>.dropdown-toggle.pt-btn:hover {
   color: #fff;
   background-color: #fc9300;
   border-color: #fc9300;
   transition-duration: 0.4s;
} */

.signarea {
   position: fixed;
   top: 40%;
   left: 3%;
   right: 3%;
   bottom: 30%;
   z-index: 3;
   /* background-color: rgba(240,173,78,0.5);
   border: 2px dashed #eee; */
   background-color: rgba(240, 173, 78, 0.5);
   border: 2px dashed #f0ad4e;
}

/* button save、clear*/

.signatureBtn {
 /*   width: 48%;
   padding: 10px;
   position: fixed;
   bottom: 0;
    left: -42%; 
    transform: rotate(90deg); 
   height: 100%;
   z-index: 2;
   
   display: flex; 
   flex: 1;
   justify-content: center;
   align-items: center;
   align-content: center; */
   bottom: 6%;
   position: fixed;
   left: -12%;
   right: 3%;
   width: 140px;
   display: flex;
   flex-direction:column;
  /*  background: #fff */
}

.signatureBtn .btn {
  /*  padding: 10px 23px; */
}

.signatureBtn .btn:nth-child(1) {
   /* margin-right: 20px; */
}

/* 签名按钮 */

.pdf-signature-btn {
   position: fixed;
   bottom: 10px;
   right: 25px;
   z-index: 8;
}

.pdf-signature-btn .btn {
   padding: 10px 23px;
}

/* hidden button */

.pt-pdfview-footer .btns-container-intitle .pt-btn-group button {
   display: none;
}

.pt-pdfview-footer .btns-container-intitle .pt-btn-group button:nth-child(2) {
   margin-left: 20px;
}

/* canvas Image */

img {
   background-color: transparent;
   position: absolute;
   z-index: 5;
   top: 2%;
   left: 15%;
   right: 3%;
   bottom: 2%;
}