@title-padding: @base-padding-lg;

.title {
    display: inline;
    padding: 0 @title-padding;

    i {
        display: inline;

        &+span {
            margin-left: (@base-padding / 2);
        }
    }

    span {
        display: inline;
        line-height: 2;
        font-size: 16px;
    }
}