// color-主色-用于标识品牌颜色
@primary: #7f9ae4;
// @primary: #8500f1;


// color-辅助色-用于标识状态的按钮等
@success: #47d9ae;
@warning: #ff9000;
@danger: #f50600;
@info: #4abbc2;
@gray: #777;
@gray-darker: darken(@gray, 20);
@gray-dark: darken(@gray, 10);
@text-color: @gray;
@link-color: @gray-dark;
@link-hover-color: darken(@link-color, 15);

@body-bg: #e0e4f3;
@border-color: lighten(@primary, 20);

// bg-color
@bg-primary: lighten(@primary, 20);
@bg-success: lighten(@success, 20);
@bg-danger: lighten(@danger, 20);
@bg-warning: lighten(@warning, 20);
@bg-info: lighten(@info, 20);
@bg-gray: lighten(@gray, 20);

@font-size-base: 14px;

@border-radius-sm: .25rem;
@border-radius-base: .5rem;
@border-radius-circle: 100rem;