.landing-zc {
    padding: 0 !important;
    background: #f6f8fa;
    margin-left: -5px;
    margin-right: -5px;
    height: 100%;
}

.landing-zc .pt-main {
    padding: 10px 15px;
}

.landing-zc .pt-main .pt-main-row .pt-main-col:first-child {
    flex: 100;
}

.landing-zc .pt-main .pt-main-row .pt-main-col:last-child {
    min-width: 450px;
    margin-left: 15px;
    flex: 1;
    overflow: hidden;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body {
    height: 293px;
    overflow-y: auto;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 {
    padding-left: 5px;
    padding-right: 0;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6:nth-child(odd) {
    padding-left: 0;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list {
    border-width: 0;
    width: 100%;
    border-radius: 15px 0 0 0;
    margin: 0;
    margin-top: 5px;
    height: 144px;
    padding: 10px 15px;
    padding-top: 37px;
    position: relative;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list:hover {
    background-color: #fff;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list .title {
    position: absolute;
    width: 107px;
    height: 30px;
    background: #267dcf;
    top: 0;
    left: 0;
    border-radius: 15px 0 15px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list .pt-block-content {
    height: 97px;
    overflow-y: auto;
    padding: 0;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list .pt-block-content::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list .pt-block-content .pt-block-content-item {
    margin-bottom: 5px;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list .pt-block-content .pt-block-content-item:first-child {
    margin-bottom: 3px;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list .pt-block-content .pt-block-content-item:last-child {
    margin-bottom: 0;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list .pt-block-content .pt-block-content-item span.tag {
    color: #747474;
    font-size: 12px;
    line-height: 15px;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list .pt-block-content .pt-block-content-item i,
.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6 .pt-block-list .pt-block-content .pt-block-content-item span.time {
    font-size: 12px;
    color: #b7b7b7 !important;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6:first-child .pt-block-list,
.landing-zc .pt-main .pt-main-row .pt-main-col .panel-body .col-md-6:nth-child(2) .pt-block-list {
    margin-top: 0;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-heading {
    padding: 0 0 10px 0;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-heading .panel-title {
    font-size: 16px;
    color: #444b52;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-heading .more {
    float: right;
    line-height: 2.5;
    cursor: pointer;
    color: #747474;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-heading .more .icon-arrow-up-bold-o {
    margin-left: 5px;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-heading .more .icon-arrow-up-bold-o:before {
    transform: rotate(90deg);
    display: inline-block !important;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body.panel-list {
    background-color: #fff;
    border-radius: 0;
    height: 293px;
    overflow-y: auto;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body.panel-list::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body .list-group {
    padding: 0;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body .list-group a.list-group-item {
    display: table;
    width: 100%;
    border-width: 0;
    padding: 12px 15px 0 15px;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body .list-group a.list-group-item:hover {
    background-color: transparent;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body .list-group a.list-group-item .badge,
.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body .list-group a.list-group-item div {
    float: left;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body .list-group a.list-group-item .badge {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #ffa004;
    font-size: 14px;
    margin-right: 10px;
    background-color: #f5f5f7;
    font-weight: normal;
    padding: 0;
    border-radius: 4px;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body .list-group a.list-group-item .list-group-item-content {
    width: calc(100% - 40px);
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body .list-group a.list-group-item .list-group-item-heading {
    color: #747474;
    line-height: 17px;
    margin-bottom: 5px;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body .list-group a.list-group-item .list-group-item-text {
    color: #b7b7b7;
    font-size: 12px;
}

.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body .list-group a.list-group-itemhover,
.landing-zc .pt-main .pt-main-row .pt-main-col .panel .panel-body .list-group a.list-group-item.active {
    background-color: transparent;
    color: ;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab {
    background-color: #fff;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-main-col:last-child {
    margin: 0;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-header {
    margin-bottom: 10px;
    margin-top: 10px;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-header .pt-nav {
    min-height: 40px;
    padding: 0 15px;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-header .pt-nav ul .pt-nav-item {
    height: auto;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-header .pt-nav ul .pt-nav-item a {
    font-size: 16px;
    padding: 0 40px;
    color: #686661;
    line-height: 37px;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-header .pt-nav ul .pt-nav-item.current a {
    color: #000;
    border-bottom: 3px solid #ffa004 !important;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body {
    overflow: hidden;
    padding: 10px 15px;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .pt-tab-content .pt-block-list {
    height: 105px;
    background-color: transparent;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .pt-tab-content .pt-block-list .pt-block-content {
    border: 1px solid #dadada;
    box-shadow: none;
    height: 86px;
    padding: 18px 18px 22px 65px;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .pt-tab-content .pt-block-list .pt-block-content:before {
    margin-top: -32px;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .pt-grid-body-head,
.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .pt-grid-body-container {
    border: transparent;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td {
    border: transparent;
    height: 39px;
    line-height: 39px;
    background-color: #fff;
    padding: 0;
    padding-left: 15px;
    border-bottom: 1px solid#ececec;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td:first-child {
    text-align: left;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td.text {
    font-size: 12px;
    columns: #231d13;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td.btns {
    color: #a8a8b0;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td.thead-th {
    height: 40px;
    line-height: 40px;
    background-color: #fef8f5;
    border: none;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td.thead-th.text,
.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td.thead-th.date {
    color: #a8a8b0;
    font-size: 12px;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td.thead-th.btns {
    text-align: center;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td .rowbtns {
    text-align: center;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td .rowbtns .pt-btn {
    margin-right: 15px;
    border-radius: 3px;
    background-color: #fff1da;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td .rowbtns .pt-btn i {
    font-size: 14px;
    color: #ffa004;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td .rowbtns .pt-btn:last-child {
    margin-right: 0;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td .rowbtns .pt-btn:hover {
    background-color: #ffb337;
    text-decoration: none;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .nsgrid-zc table.pt-grid tbody tr td .rowbtns .pt-btn:hover i {
    color: #fff;
    text-decoration: none;
}

.landing-zc .pt-main .pt-main-row.pt-main-row-tab .pt-tab-noboder .pt-tab-body .pt-grid-footer {
    border: none;
}